{% extends "layouts/main.html" %}
{% set pageName="Victim representative telephone number" %}

{% block header %}
{% include "/delivery/wat4/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/delivery/wat4/partials/identity-bar/index.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form action="/delivery/wat4/victim-details/victim-rep-phone-answer" method="post">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="victimRepPhone">
                        What is the victim representative's telephone number?
                    </label>
                </h1>
                <input class="govuk-input govuk-!-width-two-thirds" id="victimRepPhone" name="victimRepPhone" type="tel" value="{{ data['victimRepPhone'] }}">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}
