{% extends "layouts/main.html" %}

{% set pageName="Telephone call details" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">



{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set emailHtml %}
{{ govukInput({
  id: "contact-by-email",
  name: "contactByEmail",
  type: "email",
  autocomplete: "email",
  spellcheck: false,
  classes: "govuk-!-width-one-third",
  label: {
    text: "Email address"
  }
}) }}
{% endset -%}

{% set phoneHtml %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contactByPhone",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Phone number"
  }
}) }}
{% endset -%}

{% set textHtml %}
{{ govukTextarea ({
  id: "contact-by-text",
  name: "contactByText",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-input--width-20",
  label: {
    text: "Provide details"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "What is the reason for rescheduling the meeting?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },

  items: [
    {
      value: "email",
      text: "Victim not available"


    },
    {
      value: "phone",
      text: "Attendee not available"
    },
    {
      value: "phone",
      text: "Incorrect meeting date"
    },
    {
      value: "text",
      text: "Other",
      conditional: {
        html: textHtml
      }
    }
  ]
}) }}

            <div class="govuk-button-group">

  <a href="meeting-date" role="button" draggable="false" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
  Continue<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
  </a>
  <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
  Cancel<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
  </a>
  </div>
        </form>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/ur/nfa/record/telephone-call-details.js"></script>
{% endblock %}
