{% extends "layouts/main.html" %}

{% set pageName="Victim Liaison Officer" %}

{% block header %}
{% include "/delivery/wat2/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/delivery/wat2/partials/identity-bar/index.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/delivery/wat2/onb/vlo-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">
      <div class="govuk-form-group" id="error-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="my-autocomplete-container">
            Who is the Victim Liaison Officer for {{ data['victimForename'] }} {{ data['victimSurname'] }}?
          </label>
        </h1>

        <div class="govuk-hint" id="location-hint">
          Start typing a name then select from the list
        </div>

        <div class="autocomplete__wrapper govuk-!-width-two-thirds" id="my-autocomplete-container" name="vlo" data-name="vlo" value="{{ data['vlo'] }}"></div>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
    
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/public/javascripts/delivery/wat2/onb/vlo.js"></script>
{% endblock %}