{% block content %}
<dl class="govuk-summary-list govuk-!-margin-bottom-4">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Telephone call 2
        </dt>
        <dd class="govuk-summary-list__value">
            {{ "today" | govukDate(showWeekday=true) }} at {{ data['callHour2'] }}:{{ data['callMinutes2'] }}
        </dd>
    </div>
    <!-- <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Telephone number
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['victimPhoneNumber'] }}
        </dd>
    </div> -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Call direction
        </dt>
        <dd class="govuk-summary-list__value">
            {% if (data['callType2'] == "Yes") %}Outbound{% else %}Inbound{% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Victim informed
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['victimInformed2'] }}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Notes
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['callNotes2'] }}
        </dd>
    </div>
    {% if (data['vclStatus'] == "after-call-attempt-2") and (data['vclStatus'] == "after-call-attempt-2") %}
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Next call attempt
        </dt>
        <dd class="govuk-summary-list__value">
            {{ "today" | govukDate(showWeekday=true) }} at {{ data['thirdCallHour'] }}:{{ data['thirdCallMinutes'] }}
        </dd>
    </div>
    {% else %}
    {% endif %}
</dl>
{% endblock %}