{% block content %}
{% if (data['pmoc'] == "home-phone") or (data['pmoc'] == "mobile") %}
{% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") or (data['pcdStatus'] == "draft-under-review") or (data['pcdStatus'] == "draft-amendments-required") or (data['pcdStatus'] == "before-call-1") or (data['pcdStatus'] == "after-call-attempt-1") or (data['pcdStatus'] == "after-call-attempt-2") or (data['pcdStatus'] == "after-call-attempt-3") or (data['pcdStatus'] == "informed-after-call-1") or (data['pcdStatus'] == "informed-after-call-2") or (data['pcdStatus'] == "informed-after-call-3") or (data['pcdStatus'] == "draft-ready-to-send") or (data['pcdStatus'] == "draft-approved-to-send") %}
<hr class="govuk-section-break govuk-section-break--m">

<details class="govuk-details govuk-!-margin-bottom-2">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Next steps
        </span>
    </summary>
    <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
            {% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") %}
            <li>Draft the letter and send for review.</li>
            {% endif %}

            {% if (data['pcdStatus'] == "draft-amendments-required") %}
            <li>Amend the letter, then request a review.</li>
            {% endif %}

            {% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") or (data['pcdStatus'] == "draft-amendments-required") or (data['pcdStatus'] == "draft-under-review") %}
            <li>Check for updates on the review.</li>
            <li>Amend if needed.</li>
            {% endif %}

            {% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") or (data['pcdStatus'] == "draft-amendments-required") or (data['pcdStatus'] == "draft-under-review") or (data['pcdStatus'] == "before-call-1") or (data['pcdStatus'] == "after-call-attempt-1") or (data['pcdStatus'] == "after-call-attempt-2") %}
            <li>Telephone the victim when the letter is ready to send and log the call.</li>
            {% endif %}

            {% if (data['pcdStatus'] == "after-call-attempt-3") %}
                <li>Review the letter before sending it.</li>
                <li>Send the letter to the victim by post.</li>
                {% if (data['pcdFumoc'] == "none") %}
                {% else %}
                <li>Review the letter before sending it.</li>
                <li>Send the letter to the victim by post.</li>
                {% endif %}
            {% elif (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") or (data['pcdStatus'] == "draft-amendments-required") or (data['pcdStatus'] == "draft-under-review") or (data['pcdStatus'] == "before-call-1") or (data['pcdStatus'] == "after-call-attempt-1") or (data['pcdStatus'] == "after-call-attempt-2") or (data['pcdStatus'] == "informed-after-call-1") or (data['pcdStatus'] == "informed-after-call-2") or (data['pcdStatus'] == "informed-after-call-3") %}
            <li>Add details from the call to the letter if needed.</li>
            {% endif %}

            {% if (data['pcdStatus'] == "after-call-attempt-3") %}
            {% else %}
                {% if (data['pcdFumoc'] == "email") %}
                    {% if (data['pcdStatus'] == "draft-approved-to-send") %}
                        {% if (data['pcdFumoc'] == "none") %}
                        {% else %}
                        <li>Send the letter to the victim by email.</li>
                        {% endif %}
                    {% else %}
                        {% if (data['pcdFumoc'] == "none") %}
                        {% else %}
                        <li>Send the letter to the victim by email.</li>
                        {% endif %}
                    {% endif %}
                {% elif (data['pcdAttemptToContactAgain'] == "email") %}
                    {% if (data['pcdStatus'] == "draft-approved-to-send") %}
                        {% if (data['pcdFumoc'] == "none") %}
                        {% else %}
                        <li>Send the letter to the victim by email.</li>
                        {% endif %}
                    {% else %}
                        {% if (data['pcdFumoc'] == "none") %}
                        {% else %}
                        <li>Review the letter before sending it.</li>
                        <li>Send the letter to the victim by email.</li>
                        {% endif %}
                    {% endif %}
                {% elif (data['pcdFumoc'] == "post") or (data['pcdVictimInformed3'] == "No") %}
                    {% if (data['pcdStatus'] == "draft-approved-to-send") %}
                        {% if (data['pcdFumoc'] == "none") %}
                        {% else %}
                        <li>Send the letter to the victim by post.</li>
                        {% endif %}
                    {% else %}
                        {% if (data['pcdFumoc'] == "none") %}
                        {% else %}
                        <li>Send the letter to the victim by post.</li>
                        {% endif %}
                    {% endif %}
                {% elif (data['pcdAttemptToContactAgain'] == "post") %}
                    {% if (data['pcdStatus'] == "draft-approved-to-send") %}
                        {% if (data['pcdFumoc'] == "none") %}
                        {% else %}
                        <li>Send the letter to the victim by post.</li>
                        {% endif %}
                    {% else %}
                        {% if (data['pcdFumoc'] == "none") %}
                        {% else %}
                        <li>Review the letter before sending it.</li>
                        <li>Send the letter to the victim by post.</li>
                        {% endif %}
                    {% endif %}
                {% elif (data['pcdFumoc'] == "none") %}
                {% else %}
                <li>Send the letter to the victim using their preferred method (email or post).</li>
                {% endif %}
            {% endif %}
        </ol>
    </div>
</details>
{% else %}
{% endif %}
{% elif (data['pmoc'] == "email") or (data['pmoc'] == "post") %}
{% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") or (data['pcdStatus'] == "draft-under-review") or (data['pcdStatus'] == "draft-amendments-required") or (data['pcdStatus'] == "draft-ready-to-send") or (data['pcdStatus'] == "draft-approved-to-send") %}
<hr class="govuk-section-break govuk-section-break--m">

<details class="govuk-details govuk-!-margin-bottom-2">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Next steps
        </span>
    </summary>
    <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
            {% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") %}
            <li>Draft the letter and send for review.</li>
            {% endif %}
            {% if (data['pcdStatus'] == "draft-amendments-required") %}
            <li>Amend the letter, then request a review.</li>
            {% endif %}
            {% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") or (data['pcdStatus'] == "draft-amendments-required") or (data['pcdStatus'] == "draft-under-review") %}
            <li>Check for updates on the review.</li>
            <li>Amend if needed.</li>
            {% endif %}
            {% if (data['pmoc'] == "") %}
            <li>Review the letter.</li>
            <li>Find out and update the victim's preferred method of contact to proceed further.</li>
            {% else %}
            {% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") or (data['pcdStatus'] == "draft-amendments-required") or (data['pcdStatus'] == "draft-under-review") or (data['pcdStatus'] == "draft-ready-to-send") %}
            <li>Review the letter before sending it.</li>
            {% endif %}
            {% if (data['pmoc'] == "email") %}
            <li>Send the letter to the victim by email.</li>
            {% elif (data['pmoc'] == "post") %}
            <li>Send the letter to the victim by post.</li>
            {% elif (data['pmoc'] == "via-police") %}
            <li>Send the letter to the officer in charge by email using Outlook.</li>
            {% elif (data['pmoc'] == "via-isva") %}
            <li>Send the letter to the independent sexual violence adviser (ISVA) by email using Outlook.</li>
            {% endif %}
            {% endif %}
        </ol>
    </div>
</details>
{% endif %}
{% elif (data['pmoc'] == "via-police") or (data['pmoc'] == "via-isva") %}
{% else %}
<hr class="govuk-section-break govuk-section-break--m">

<details class="govuk-details govuk-!-margin-bottom-2">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Next steps
        </span>
    </summary>
    <div class="govuk-details__text">
        <ol class="govuk-list govuk-list--number">
            {% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") %}
            <li>Draft the letter and send for review.</li>
            {% endif %}
            {% if (data['pcdStatus'] == "draft-amendments-required") %}
            <li>Amend the letter, then request a review.</li>
            {% endif %}
            {% if (data['pcdStatus'] == "draft-not-started") or (data['pcdStatus'] == "draft-in-progress") or (data['pcdStatus'] == "draft-amendments-required") or (data['pcdStatus'] == "draft-under-review") %}
            <li>Check for updates on the review.</li>
            <li>Amend if needed.</li>
            {% endif %}
            <li>Review the letter.</li>
            <li>Find out and update the victim's preferred method of contact to proceed further.</li>
        </ol>
    </div>
</details>
{% endif %}
{% endblock %}