{% extends "layouts/main.html" %}

{% set pageName="Victim record" %}

{% block govukServiceNavigation %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v50/partials/identity-bar/victim-page-nocreate-task.html" %}
{% endblock %}

{% block content %}
{% set victimName = data['victimForename'] + " " + data['victimSurname'] %}
{% set attendeesList = data['attendees'] %}
{% if attendeesList is string %}{% set attendeesList = [attendeesList] %}{% endif %}
{% set arrangedDate = data['previousMeetingDate'] if data['previousMeetingDate'] else data['meetingDate'] %}
{% set arrangedHour = data['previousMeetingHour'] if data['previousMeetingDate'] else data['meetingHour'] %}
{% set arrangedMinutes = data['previousMeetingMinutes'] if data['previousMeetingDate'] else data['meetingMinutes'] %}
{% if data['meetingFormat'] == 'in-person' %}{% set formatText = 'In person' %}{% elif data['meetingFormat'] == 'virtual' %}{% set formatText = 'Virtual call' %}{% elif data['meetingFormat'] == 'hybrid' %}{% set formatText = 'Hybrid' %}{% else %}{% set formatText = '' %}{% endif %}
{% if data['meetingLocationType'] == 'cps' %}{% set locationText = data['cpsLocation'] %}{% elif data['meetingLocationType'] == 'magistrates' %}{% set locationText = data['magistratesLocation'] %}{% elif data['meetingLocationType'] == 'crown' %}{% set locationText = data['crownLocation'] %}{% elif data['meetingLocationType'] == 'police' %}{% set locationText = data['policeStationLocation'] %}{% elif data['meetingLocationType'] == 'other' %}{% set locationText = data['otherLocation'] %}{% else %}{% set locationText = '' %}{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>

      {% include "/bfs/partials/tabs/victim-record-tabs.html" %}

      <div class="govuk-tabs__panel" id="summary">
        {% include "/v50/victim/overview.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="victim-details">
        {% include "/v50/victim/victim-details/index.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-contacts">
        {% include "/v50/victim/case-contacts.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">
        {% include "/bfs/partials/victim-record/communications.html" %}

        <div class="govuk-grid-row comms-panel" id="comms-ptm">
     <div class="govuk-grid-column-two-thirds">

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      CPS pre-trial meeting cancelled.
    </h3>
  </div>
</div>

<a href="../what-do-you-want-to-log" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
  Log new meeting details<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>




<br/>
<br/>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
    CPS pre-trial meeting cancelled
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
      Date and time meeting was cancelled
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['meetingCancelledDate'] | formatDate }}{% if data['meetingCancelledHour'] %} at {{ data['meetingCancelledHour'] }}:{{ data['meetingCancelledMinutes'] }}{% endif %}
        </dd>

      </div>




      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
Reason
        </dt>
        <dd class="govuk-summary-list__value">
{% if data['meetingCancelReason'] == 'victim-withdrew' %}{{ victimName }} withdrew{% elif data['meetingCancelReason'] == 'meeting-created-in-error' %}Meeting created in error{% elif data['meetingCancelReason'] == 'court-date-changed' %}Change of court date{% elif data['meetingCancelReason'] == 'no-longer-required' %}No longer required{% elif data['meetingCancelReason'] == 'other' %}{{ data['meetingCancelReasonOther'] }}{% endif %}
        </dd>

      </div>

    </dl>
<br/>
<br/>


{% if data['previousMeetingDate'] %}
<details class="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
Changed meetings
  </span>
</summary>
<div class="govuk-details__text">

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
      CPS pre-trial meeting details changed
      </h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Date and time
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['meetingDate'] | formatDate }}{% if data['meetingHour'] %} at {{ data['meetingHour'] }}:{{ data['meetingMinutes'] }}{% endif %}
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          How meeting will take place
          </dt>
          <dd class="govuk-summary-list__value">
           {{ formatText }}
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Location
          </dt>
          <dd class="govuk-summary-list__value">
    {{ locationText }}
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Attendees
          </dt>
          <dd class="govuk-summary-list__value">
          (Meeting lead) {{ data['meetingLead'] }}, {{ victimName }}'s bereaved family{% for attendee in attendeesList %}{% if attendee != "_unchecked" %}, {{ attendee }}{% endif %}{% endfor %}
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
  Support needs
          </dt>
          <dd class="govuk-summary-list__value">
            Interpreter needed: {{ "Yes" if data['interpreterNeeded'] == "yes" else "No" }}{% if data['interpreterNeeded'] == "yes" and data['interpreterDetails'] %}: {{ data['interpreterDetails'] }}{% endif %}, Person for support: {{ "Yes" if data['supportPersonNeeded'] == "yes" else "No" }}{% if data['supportPersonNeeded'] == "yes" and data['supportPersonDetails'] %}: {{ data['supportPersonDetails'] }}{% endif %}
  <br>
        Other support: {{ data['otherSupportNeeds'] if data['otherSupportNeeds'] else "None" }}
          </dd>

        </div>

      </dl>
  <br/>
  <br/>


    </div>



</div>
</details>
{% endif %}

<details class="govuk-details">
<summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
Arranged meetings
  </span>
</summary>
<div class="govuk-details__text">

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">
      CPS pre-trial meeting arranged
      </h2>
    </div>
    <div class="govuk-summary-card__content">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Date and time
          </dt>
          <dd class="govuk-summary-list__value">
            {{ arrangedDate | formatDate }}{% if arrangedHour %} at {{ arrangedHour }}:{{ arrangedMinutes }}{% endif %}
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          How meeting will take place
          </dt>
          <dd class="govuk-summary-list__value">
           {{ formatText }}
          </dd>

        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Location
          </dt>
          <dd class="govuk-summary-list__value">
    {{ locationText }}
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        Attendees
          </dt>
          <dd class="govuk-summary-list__value">
          (Meeting lead) {{ data['meetingLead'] }}, {{ victimName }}'s bereaved family{% for attendee in attendeesList %}{% if attendee != "_unchecked" %}, {{ attendee }}{% endif %}{% endfor %}
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
  Support needs
          </dt>
          <dd class="govuk-summary-list__value">
            Interpreter needed: {{ "Yes" if data['interpreterNeeded'] == "yes" else "No" }}{% if data['interpreterNeeded'] == "yes" and data['interpreterDetails'] %}: {{ data['interpreterDetails'] }}{% endif %}, Person for support: {{ "Yes" if data['supportPersonNeeded'] == "yes" else "No" }}{% if data['supportPersonNeeded'] == "yes" and data['supportPersonDetails'] %}: {{ data['supportPersonDetails'] }}{% endif %}
  <br>
        Other support: {{ data['otherSupportNeeds'] if data['otherSupportNeeds'] else "None" }}
          </dd>

        </div>

      </dl>
  <br/>
  <br/>


    </div>



</div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
    Offered meeting
    </span>
  </summary>
  <div class="govuk-details__text">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          CPS pre-trial meeting offer accepted
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
        How meeting offer was accepted
            </dt>
            <dd class="govuk-summary-list__value">
        {{ data['meetingAcceptedMethod'] }}
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Date meeting was accepted
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data['meetingAcceptedDate'] | formatDate }}
            </dd>

          </div>


        </dl>






      </div>
    </div>
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            CPS pre-trial meeting offered
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
          How was meeting offered
              </dt>
              <dd class="govuk-summary-list__value">
          {{ data['meetingOfferMethod'] }}
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
        Date meeting was offered
              </dt>
              <dd class="govuk-summary-list__value">
              {{ data['meetingOfferDate'] | formatDate }}
              </dd>

            </div>


          </dl>
</details>
  </div>

</div>

</div>
</div>

      </div>
    </div>

  </div>
</div>
{% endblock %}
