{% extends "layouts/main.html" %}

{% set pageName="Meeting acceptance details" %}

{% block header %}
{% include "/ur/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    {% set offered = data['offerRecipients'] %}
    {% if offered is string %}{% set offered = [offered] %}{% endif %}
    {% set accepters = data['acceptRecipients'] %}
    {% if accepters is string %}{% set accepters = [accepters] %}{% endif %}
    {% set person = (data['person'] | int) or 1 %}
    {% set idx = accepters[person - 1] %}
    {% set recipient = offered[(idx | int) - 1] %}

    {% set howError = data['acceptHowError'] == 'yes' %}
    {% set whenError = data['acceptWhenError'] == 'yes' %}
    {% set howErrorMsg = { text: "Select how the meeting was accepted" } if howError %}

    {% if howError or whenError %}
    {% set errorList = [] %}
    {% if howError %}{% set errorList = errorList.concat({ text: "Select how the meeting was accepted", href: "#recordaccepted" + idx }) %}{% endif %}
    {% if whenError %}{% set errorList = errorList.concat({ text: "Enter the date the meeting was accepted", href: "#accept-date-" + idx }) %}{% endif %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errorList
    }) }}
    {% endif %}

    <span class="govuk-caption-l">Acceptance {{ person }} of {{ accepters | length }}</span>
    <h1 class="govuk-heading-l">Meeting accepted by {{ recipient | formatName }}</h1>

    <form class="form" action="/ur/bfs/meetings-2/recordaccepted-answer" method="post">

      <input type="hidden" name="person" value="{{ person }}">

      {{ govukRadios({
              name: "recordaccepted" + idx,
              value: data['recordaccepted' + idx],
              errorMessage: howErrorMsg,
              fieldset: {
                legend: {
                  text: "How was it accepted?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "telephone",
                  text: "By telephone"
                },
                {
                  value: "letter-post",
                  text: "By post"
                },
                {
                  value: "letter-email",
                  text: "By email"
                },
                {
                  value: "letter-flo",
                  text: "Via family liaison officer"
                },
                {
                  value: "letter-police",
                  text: "Via police"
                },
                {
                  value: "letter-isva",
                  text: "Via ISVA"
                }
              ]
            }) }}

      <div class="govuk-form-group{% if whenError %} govuk-form-group--error{% endif %}">
        <label class="govuk-label govuk-label--m" for="accept-date-{{ idx }}">
          When was it accepted?
        </label>

        <div class="govuk-hint" id="accept-date-hint-{{ idx }}">
          Use the date picker or enter a date. For example, 17/05/2025.
        </div>

        {% if whenError %}
        <p id="accept-date-error-{{ idx }}" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter the date the meeting was accepted
        </p>
        {% endif %}

        <div class="moj-datepicker" id="accept-date-picker-{{ idx }}" data-module="moj-date-picker" data-excluded-days="saturday sunday">

          <input type="text" class="govuk-input moj-js-datepicker-input{% if whenError %} govuk-input--error{% endif %}" id="accept-date-{{ idx }}" name="acceptDate{{ idx }}" autocomplete="off" aria-describedby="accept-date-hint-{{ idx }}{% if whenError %} accept-date-error-{{ idx }}{% endif %}" value="{{ data['acceptDate' + idx] }}" />
        </div>

      </div>

      {{ govukButton({
                text: "Continue"
              }) }}
    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/record/telephone-call-details.js"></script>
{% endblock %}
