{% extends "layouts/meetings-2-communications.html" %}

{% block communicationsNotification %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      No response was logged for the CPS pre-trial meeting offer.
    </h3>
  </div>
</div>
{% endblock %}

{% block communicationsContent %}

<a href="../purpose2" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
  Log new meeting details<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      CPS pre-trial meeting
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <p class="govuk-body">
      No response to the CPS pre-trial meeting offer has been received.
    </p>

    {% include "/ur/bfs/meetings-2/cps-offer/partials/no-response-offers.html" %}
  </div>
</div>
{% endblock %}