{% extends "layouts/main.html" %}
{% set pageName="Preferred name" %}

{% block header %}
{% include "/v60/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v60/partials/identity-bar/victim-page-bfs-nocreatetask.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

  

   <div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
    When do they prefer to be contacted?
    </label>
  </h1>
<div id="more-detail-hint" class="govuk-hint">
For example, weekday mornings between 9am and 12pm.
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>


<a href="power-of-attorney" class="govuk-link">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
</a>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/check-details/preferred-name.js"></script>
{% endblock %}
