{% extends "layouts/main.html" %}
{% set pageName="Preferred name" %}

{% block header %}
{% include "/v60/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v60/partials/identity-bar/victim-page-bfs-nocreatetask.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

  

      <div class="govuk-form-group" id="error-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="preferred-name">
     Do they have a disability or access needs?
          </label>
        </h1>



    

 <div class="govuk-radios" id="radio-group" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="translator-needed-yes" name="translatorNeeded" value="Yes" data-aria-controls="conditional-translator-needed-yes" {{ checked('translatorNeeded','Yes') }}>
              <label class="govuk-label govuk-radios__label" for="translator-needed-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-translator-needed-yes">
              <div class="govuk-form-group">
                <label class="govuk-label" for="translator-needed-details">
                  Details
                </label>
                <textarea class="govuk-textarea" id="translator-needed-details" name="translatorNeededDetails" rows="3">{{ data['translatorNeededDetails'] }}</textarea>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="translator-needed-no" name="translatorNeeded" value="No" {{ checked('translatorNeeded','No') }}>
              <label class="govuk-label govuk-radios__label" for="translator-needed-no">
                No
              </label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="translator-needed-no" name="translatorNeeded" value="No" {{ checked('translatorNeeded','No') }}>
              <label class="govuk-label govuk-radios__label" for="translator-needed-no">
               Unknown
              </label>
            </div>

          </div>
        </fieldset>
      </div>


<a href="reasonable-adjustments" class="govuk-link">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
</a>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/check-details/preferred-name.js"></script>
{% endblock %}
