{# Single Meetings sub-tab panel. State driven by data['meetingState'] + data['meetingSuccess']. #}
{% set meetingState = data['meetingState'] %}
{% set knownMeetingStates = ['arranged', 'offered', 'offered-multi', 'no-response', 'not-offered', 'responses', 'outcome', 'outcome-no', 'rescheduled', 'cancelled'] %}

{# A meeting task created during onboarding / task creation that has not been logged yet. #}
{% set hasPendingMeetingTask = data['existingTask'] in ['meeting-offer', 'meeting-arranged', 'meeting-outcome'] %}

{# Summary card title = purpose of this meeting (set in the onboarding / task creation journey via data['meetingPurpose']). #}
{% set meetingPurpose = data['meetingPurpose'] | meetingPurposeLabel(data['meetingPurposeDetails']) %}

{% if data['meetingSuccess'] == 'yes' and meetingState in knownMeetingStates %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      {% if meetingState == 'arranged' %}
        {{ meetingPurpose }} arranged.
      {% elif meetingState == 'offered' or meetingState == 'offered-multi' %}
        {{ meetingPurpose }} offer logged.
      {% elif meetingState == 'no-response' %}
        No response was logged for the {{ meetingPurpose }} offer.
      {% elif meetingState == 'not-offered' %}
        {{ meetingPurpose }} not offered.
      {% elif meetingState == 'responses' %}
        {% if data['lastResponseType'] == 'declined' %}
          {{ meetingPurpose }} offer declined.
        {% elif data['lastResponseType'] == 'no-response' %}
          No response to the {{ meetingPurpose }} offer was logged.
        {% else %}
          {{ meetingPurpose }} offer accepted.
        {% endif %}
      {% elif meetingState == 'outcome' or meetingState == 'outcome-no' %}
        {{ meetingPurpose }} outcome logged.
      {% elif meetingState == 'rescheduled' %}
        {{ meetingPurpose }} details changed.
      {% elif meetingState == 'cancelled' %}
        {{ meetingPurpose }} cancelled.
      {% endif %}
    </h3>
  </div>
</div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
{% if meetingState == 'arranged' %}
  {% include "/bfs/victim/pre-trial/states/arranged.html" %}
{% elif meetingState == 'offered' %}
  {% include "/bfs/victim/pre-trial/states/offered.html" %}
{% elif meetingState == 'offered-multi' %}
  {% include "/bfs/victim/pre-trial/states/offered-multi.html" %}
{% elif meetingState == 'no-response' %}
  {% include "/bfs/victim/pre-trial/states/no-response.html" %}
{% elif meetingState == 'not-offered' %}
  {% include "/bfs/victim/pre-trial/states/not-offered.html" %}
{% elif meetingState == 'responses' %}
  {% include "/bfs/victim/pre-trial/states/responses.html" %}
{% elif meetingState == 'outcome' %}
  {% include "/bfs/victim/pre-trial/states/outcome.html" %}
{% elif meetingState == 'outcome-no' %}
  {% include "/bfs/victim/pre-trial/states/outcome-no.html" %}
{% elif meetingState == 'rescheduled' %}
  {% include "/bfs/victim/pre-trial/states/rescheduled.html" %}
{% elif meetingState == 'cancelled' %}
  {% include "/bfs/victim/pre-trial/states/cancelled.html" %}
{% elif hasPendingMeetingTask %}
  {% include "/bfs/victim/pre-trial/states/pending.html" %}
{% else %}
  {% include "/bfs/victim/pre-trial/states/none.html" %}
{% endif %}
  </div>
</div>
