{% set victimName = data['victimForename'] + " " + data['victimSurname'] %}

{% macro arrangedTextFor(requestedBy, name) %}{% if requestedBy == "family" %}{{ name }}'s bereaved family requested it{% elif requestedBy == "cps" %}CPS offered and {{ name }}'s bereaved family accepted{% elif requestedBy == "third-party" %}Requested by a third party{% endif %}{% endmacro %}
{% macro formatTextFor(format) %}{% if format == "in-person" %}In person{% elif format == "virtual" %}Virtual call{% elif format == "hybrid" %}Hybrid{% endif %}{% endmacro %}

{% set formatText = formatTextFor(data['meetingFormat']) | trim %}
{% if data['meetingLocationType'] == "cps" %}{% set locationText = data['cpsLocation'] %}
{% elif data['meetingLocationType'] == "magistrates" %}{% set locationText = data['magistratesLocation'] %}
{% elif data['meetingLocationType'] == "crown" %}{% set locationText = data['crownLocation'] %}
{% elif data['meetingLocationType'] == "police" %}{% set locationText = data['policeStationLocation'] %}
{% elif data['meetingLocationType'] == "other" %}{% set locationText = data['otherLocation'] %}
{% else %}{% set locationText = "" %}{% endif %}
{% set attendeesList = data['attendees'] %}
{% if attendeesList is string %}{% set attendeesList = [attendeesList] %}{% endif %}

{% set prevFormatText = formatTextFor(data['previous_meetingFormat']) | trim %}
{% if data['previous_meetingLocationType'] == "cps" %}{% set prevLocationText = data['previous_cpsLocation'] %}
{% elif data['previous_meetingLocationType'] == "magistrates" %}{% set prevLocationText = data['previous_magistratesLocation'] %}
{% elif data['previous_meetingLocationType'] == "crown" %}{% set prevLocationText = data['previous_crownLocation'] %}
{% elif data['previous_meetingLocationType'] == "police" %}{% set prevLocationText = data['previous_policeStationLocation'] %}
{% elif data['previous_meetingLocationType'] == "other" %}{% set prevLocationText = data['previous_otherLocation'] %}
{% else %}{% set prevLocationText = "" %}{% endif %}
{% set prevAttendeesList = data['previous_attendees'] %}
{% if prevAttendeesList is string %}{% set prevAttendeesList = [prevAttendeesList] %}{% endif %}

{% if data['cancelReason'] == "Other" %}{% set cancelReasonText = data['cancelReasonOther'] %}{% else %}{% set cancelReasonText = data['cancelReason'] %}{% endif %}

<a href="/bfs/meetings-2/what-do-you-want-to-log" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
  Log new meeting details
</a>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      {{ data['meetingPurpose'] | meetingPurposeLabel(data['meetingPurposeDetails']) }}
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time cancelled
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['cancelDate'] | formatDate }}{% if data['cancelHour'] %} at {{ data['cancelHour'] }}:{{ data['cancelMinutes'] }}{% endif %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason
        </dt>
        <dd class="govuk-summary-list__value">
          {{ cancelReasonText }}
        </dd>
      </div>

    </dl>

    <hr class="govuk-section-break govuk-section-break--m">

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Cancelled meeting
        </span>
      </summary>

      <div class="govuk-details__text">

            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['meetingDate'] | formatDate }}{% if data['meetingHour'] %} at {{ data['meetingHour'] }}:{{ data['meetingMinutes'] }}{% endif %}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How meeting will take place
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ formatText }}
                </dd>
              </div>

              {% if locationText %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Location
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ locationText }}
                </dd>
              </div>
              {% endif %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendees
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{ victimName }}'s bereaved family</p>
                  {% for attendee in attendeesList %}{% if attendee != "_unchecked" %}<p class="govuk-body">{{ attendee }}</p>{% endif %}{% endfor %}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Meeting lead
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['meetingLead'] }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Interpreter needed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ "Yes" if data['interpreterNeeded'] == "yes" else "No" }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Person for support
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ "Yes" if data['supportPersonNeeded'] == "yes" else "No" }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Other support
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['otherSupportNeeds'] if data['otherSupportNeeds'] else "None" }}
                </dd>
              </div>

            </dl>
      </div>
    </details>

    {% if data['meetingRescheduled'] == "true" %}
    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Previously arranged meetings
        </span>
      </summary>

      <div class="govuk-details__text">

            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['previous_meetingDate'] | formatDate }}{% if data['previous_meetingHour'] %} at {{ data['previous_meetingHour'] }}:{{ data['previous_meetingMinutes'] }}{% endif %}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How meeting will take place
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ prevFormatText }}
                </dd>
              </div>

              {% if prevLocationText %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Location
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ prevLocationText }}
                </dd>
              </div>
              {% endif %}

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendees
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">{{ victimName }}'s bereaved family</p>
                  {% for attendee in prevAttendeesList %}{% if attendee != "_unchecked" %}<p class="govuk-body">{{ attendee }}</p>{% endif %}{% endfor %}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Meeting lead
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['previous_meetingLead'] }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Interpreter needed
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ "Yes" if data['previous_interpreterNeeded'] == "yes" else "No" }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Person for support
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ "Yes" if data['previous_supportPersonNeeded'] == "yes" else "No" }}
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Other support
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['previous_otherSupportNeeds'] if data['previous_otherSupportNeeds'] else "None" }}
                </dd>
              </div>

            </dl>
      </div>
    </details>
    {% endif %}

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Offer reponses
        </span>
      </summary>
      <div class="govuk-details__text">
        {% set hideResponseActions = true %}
        {% include "/bfs/meetings-2/cps-offer/partials/logged-responses.html" %}
        {% set hideResponseActions = false %}
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Offered meeting
        </span>
      </summary>
      <div class="govuk-details__text">
        {% set hideNoResponseOffers = true %}
        {% include "/bfs/meetings-2/cps-offer/partials/logged-offers.html" %}
        {% set hideNoResponseOffers = false %}
      </div>
    </details>

  </div>
</div>
