<a href="/bfs/meetings-2/what-do-you-want-to-log" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
  Log new meeting details
</a>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      {{ meetingPurpose or "CPS pre-trial meeting" }}
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration of the meeting
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['meetingDurationHours'] or 0 }} hours {{ data['meetingDurationMinutes'] or 0 }} minutes
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attendees
        </dt>
        <dd class="govuk-summary-list__value">
          {% for attendee in data['attended'] %}{% if attendee != '_unchecked' %}<p class="govuk-body">{{ attendee }}</p>{% endif %}{% endfor %}
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting lead
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['chairPerson'] }}
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Counsel attended
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['counselAttended'] == "yes" else "No" }}
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligible for expenses
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['eligibleForExpenses'] == "yes" else "No" }}
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreed to research
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['agreedToResearch'] == "yes" %}Yes{% elif data['agreedToResearch'] == "not-asked" %}The question was not asked{% else %}No{% endif %}
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting notes
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['meetingNotesSaved'] == "yes" else "No" }} </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting notes to OIC
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['meetingNotesToOic'] == "yes" else "No" }} </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting notes to victim
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['meetingNotesToVictim'] == "yes" else "No" }} </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Actions agreed
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['actionsAgreed2'] == "yes" %}{{ data['actionsAgreedDetail'] }}{% else %}No{% endif %}
        </dd>

      </div>

    </dl>

    <hr class="govuk-section-break govuk-section-break--m">

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Arranged meetings
        </span>
      </summary>
      <div class="govuk-details__text">
        {% include "/bfs/meetings-2/cps-offer/partials/logged-arranged.html" %}
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Offer reponses
        </span>
      </summary>
      <div class="govuk-details__text">

        {% set hideResponseActions = true %}
        {% include "/bfs/meetings-2/cps-offer/partials/logged-responses.html" %}
        {% set hideResponseActions = false %}
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Offered meeting
        </span>
      </summary>
      <div class="govuk-details__text">
        {% set hideNoResponseOffers = true %}
        {% include "/bfs/meetings-2/cps-offer/partials/logged-offers.html" %}
        {% set hideNoResponseOffers = false %}
      </div>
    </details>
  </div>

</div>
