{% extends "layouts/main.html" %}

{% set pageName="Purpose of meeting" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


    <h1 class="govuk-heading-l">Check your answers before arranging the meeting</h1>
        <!--   <h2 class="govuk-heading-m">Personal details</h2>-->
           <dl class="govuk-summary-list govuk-!-margin-bottom-9">
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
                 Name
               </dt>
               <dd class="govuk-summary-list__value">
                 Sarah Philips
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
               </dd>
             </div>
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
              Purpose of meeting
               </dt>
               <dd class="govuk-summary-list__value">
                CPS pre-trial meeting
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
               </dd>
             </div>
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
              Date and time
               </dt>
               <dd class="govuk-summary-list__value">
              11 April 2025</br>
              11:45am
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
               </dd>
             </div>
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
              How meeting will take place
               </dt>
               <dd class="govuk-summary-list__value">
            In person
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
               </dd>
             </div>
             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
            Where meetng will be held
               </dt>
               <dd class="govuk-summary-list__value">
            Magistrates’ court
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
               </dd>

             </div>

             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
      Magistrates’ court location
               </dt>
               <dd class="govuk-summary-list__value">
            Birmingham Magistrates’ Court
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
               </dd>

             </div>

             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
        Attendees
               </dt>
               <dd class="govuk-summary-list__value">
                 <p class="govuk-body">Victim (PHILLIPS Sarah)</p>
                 <p class="govuk-body">High court advocate (SHEAF, Jessica)</p>
                    <p class="govuk-body">Family liaison officer (BIDWELL, Jane)</p>
                        <p class="govuk-body">Independent domestic violence advisor (IDVA) (SAKAMOTO, Hadji)</p>
                            <p class="govuk-body">Police officer in charge (PC FISHER, Jane)</p>
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
               </dd>

             </div>

             <div class="govuk-summary-list__row">
               <dt class="govuk-summary-list__key">
  Chair person
               </dt>
               <dd class="govuk-summary-list__value">
    Police officer in charge (PC FISHER, Jane)
               </dd>
               <dd class="govuk-summary-list__actions">
                 <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
               </dd>

             </div>


                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                Support needs
                            </dt>
                            <dd class="govuk-summary-list__value">
                              <p class="govuk-body">Interpreter needed: No</p>
                              <p class="govuk-body">Person for support: Yes</p>
                                 <p class="govuk-body">Other support: Victim will need a room with step free access</p>

                            </dd>
                            <dd class="govuk-summary-list__actions">
                              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                            </dd>

                          </div>


           </dl>
           <h2 class="govuk-heading-m">Now arrange the meeting</h2>
           <p class="govuk-body">This will need to be arranged
with {{ data['victimForename'] }} {{ data['victimSurname'] }} by telephone call.</p>
           <form action="/form-handler" method="post" novalidate>


    <div class="govuk-button-group">

<a href="invite-sent#communications" role="button" draggable="false" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
Confirm meeting<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>
<a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
Cancel<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>
</div>


  </div>
</div>
{% endblock %}
