{% extends "layouts/main.html" %}

{% set pageName="Purpose of meeting" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="event-name">
        Which magistrates' court will the meeting be held?
        </label>
      </h1>
      <input class="govuk-input" id="event-name" name="eventName" type="text">
    </div>
    <div class="govuk-button-group">

<a href="who-is-attending" role="button" draggable="false" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
Continue<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>
<a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
Cancel<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>
</div>


  </div>
</div>
{% endblock %}
