{% block content %}
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            This case was locked on 19 February 2025 at 16:48.
        </p>
        <p class="govuk-body">
            To make an update, contact Gerald Kingsley-Smyth and ask them to exit the case.
        </p>
    </div>
</div>
{% endblock %}