{% extends "layouts/main.html" %}

{% set pageName="Purpose of the meeting" %}

{% block header %}
{% include "/ur/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form class="form" action="/ur/bfs/meetings-2/has-meeting-been-offered" method="post">

      {{ govukRadios({
      name: "offered",
      value: data['offered'],
      fieldset: {
        legend: {
          text: "Has Sarah Phillips's bereaved family been offered a meeting?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
