{% extends "layouts/main.html" %}

{% set pageName="Reason for rescheduling the meeting" %}

{% block header %}
{% include "/ur/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <div class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="more-detail">
          What is the reason for rescheduling the meeting?
        </label>
      </h1>
      <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>

    <div class="govuk-button-group">
      <a href="confirm-arrangements/meeting-date" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
        Continue<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
      </a>
    </div>
    
    </form>
  </div>
</div>
{% endblock %}
