{% extends "layouts/main.html" %}

{% set pageName="Victim record" %}

{% block header %}
{% include "/bfs/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/bfs/partials/identity-bar/victim-page-nocreate-task.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if (data['case-locked'] == "by-someone-else") %}
    {% include "/ur/partials/case-locked/banner/by-someone-else.html" %}
    {% elif (data['case-locked'] == "self-locked") %}
    {% include "/ur/partials/case-locked/banner/self-locked.html" %}
    {% else %}
    {% endif %}

    {% if (data['success'] == "yes") %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {% if (data['successReason'] == "email-address-updated") %}
          Victim email address updated
          {% elif (data['successReason'] == "pmoc-updated") %}
          Victim's preferred method of contact updated
          {% elif (data['successReason'] == "not-informed-after-call-1") or (data['successReason'] == "informed-after-call-1") %}
          Telephone call 1 logged
          {% elif (data['successReason'] == "not-informed-after-call-2") or (data['successReason'] == "informed-after-call-2") %}
          Telephone call 2 logged
          {% elif (data['successReason'] == "not-informed-after-call-3") or (data['successReason'] == "informed-after-call-3") %}
          Telephone call 3 logged
          {% elif (data['successReason'] == "draft-approved-to-send") %}
          Letter sent to CMS and approved to send
          {% endif %}
        </h3>
      </div>
    </div>

    {% else %}
    {% endif %}


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#summary">Summary</a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#victim-details">Victim details</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#case-contacts">Case contacts</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#communications">Communications</a>
        </li>

      </ul>

      <div class="govuk-tabs__panel" id="summary">
        {% include "/ur/partials/victim-record/summary-v30.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="victim-details">
        {% include "/ur/partials/victim-record/victim-details-v30.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-contacts">
        {% include "/ur/partials/victim-record/case-contacts-v30.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">
        {% include "/ur/meetings/communications.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pcd">
        {% include "/ur/partials/victim-record/pcd/index.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pre-trial">
        {% include "/ur/partials/victim-record/pre-trial/index.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="vcl">
        {% include "/ur/partials/victim-record/vcl/index.html" %}
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/record/victim-record-v30.js"></script>
{% endblock %}
