{% extends "layouts/main.html" %}

{% set pageName="What do you want to log?" %}

{% block header %}
{% include "/ur/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form class="form" action="/ur/bfs/meetings-2/logging-answer" method="post">

      {{ govukRadios({
      name: "logging",
      value: data['logging'],
      fieldset: {
        legend: {
          text: "What do you want to log?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "A meeting offer"
        },
        {
          value: "no",
          text: "Meeting arrangement details"
        },
        {
          value: "no",
          text: "Meeting outcome details"
        }
      ]
    }) }}

    {{ govukButton({
        text: "Continue"
      }) }}
    </form>

  </div>
</div>
{% endblock %}
