{% extends "layouts/main.html" %}
{% set pageName="Charging type" %}

{% block header %}
{% include "/delivery/wat3/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/delivery/wat3/partials/identity-bar/index.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/delivery/wat3/check-details/case-type-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is the charging type?
            </h1>
          </legend>

          <div class="govuk-radios" id="radio-group" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="case-type-red" name="caseType" value="Red" data-value="red" {{ checked('caseType','Red') }}>
              <label class="govuk-label govuk-radios__label" for="case-type-red">
                Red
              </label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="case-type-green" name="caseType" value="Green" data-value="green" {{ checked('caseType','Green') }}>
              <label class="govuk-label govuk-radios__label" for="case-type-green">
                Green
              </label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="case-type-police-charged" name="caseType" value="Police charged" data-value="police-charged" {{ checked('caseType','Police charged') }}>
              <label class="govuk-label govuk-radios__label" for="case-type-police-charged">
                Police charged
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/wat3/check-details/case-type.js"></script>
{% endblock %}
