{% extends "layouts/main.html" %}
{% set pageName="Preferred contact times" %}

{% block header %}
{% include "/delivery/wat3/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/delivery/wat3/partials/identity-bar/index.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/delivery/wat3/check-details/preferred-contact-times-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="preferred-contact-times">
            What are {{ data['victimForename'] }} {{ data['victimSurname'] }}'s preferred contact times?
          </label>
        </h1>

        <input type="text" class="govuk-input govuk-!-width-two-thirds" id="preferred-contact-times" name="preferredContactTimes" spell_check="false" value="{{ data['preferredContactTimes'] }}">

      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/wat3/check-details/preferred-contact-times.js"></script>
{% endblock %}
