//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
@import "patterns/accessible-autocomplete";
@import "patterns/content-editor";
@import "patterns/filter-panel";
@import "patterns/identity-bar";
@import "patterns/overlay";
@import "patterns/overview-cards";
@import "patterns/progress-tracker";
@import "patterns/tasks-with-filters";

.govuk-width-container {
    max-width: 1320px;
    padding-right: govuk-spacing(7);
    padding-left: govuk-spacing(7);
}

.govuk-main-wrapper {
    padding-top: govuk-spacing(3);
}

.govuk-main-wrapper-extra-padding-top {
    padding-top: govuk-spacing(7);
}

.cps-reading-width {
    max-width: 44em
}

.govuk-frontend-supported .govuk-tabs__panel {
    border: 0;
}

@media (min-width: 40.0625em) {
    .govuk-frontend-supported .govuk-tabs__panel {
        padding: 30px 0;
    }
}

.x-govuk-secondary-navigation__list-item {
  @include govuk-media-query($from: desktop) {
    padding: 10px 0 15px;
  }
}

.x-govuk-secondary-navigation__list-item--current {
  @include govuk-media-query($from: desktop) {
    padding-bottom: 10px;
  }
}

// Ensure radios and checkboxes have white backgrounds inside
.govuk-radios__label::before,
.govuk-checkboxes__label::before {
  background-color: govuk-colour('white');
}