{% extends "layouts/main.html" %}
{% set pageName="Overview" %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block header %}
<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage">
        <span class="" style="color: rgb(255, 255, 255); font-size: 28px; font-weight: bold;">CPS</span>
        <span data-expression="" class="" style="margin-left: 7px; color: rgb(255, 255, 255); font-size: 26px;">{{ serviceName }}</span>
      </a>
    </div>
  </div>
</header>

<div class="govuk-service-navigation"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="/ur/wat/vcl/overview" aria-current="true">
              Overview
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/ur/wat/vcl/tasks">
              Tasks
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/ur/wat/vcl/victims">
              Victims
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Overview</h1>
        <h2 class="govuk-heading-m">Cases</h2>
        <div class="app-overview-cards govuk-!-margin-bottom-9">
            <a href="#" class="app-overview-card app-overview-card--green" aria-label="View unassigned cases">
                <span class="app-overview-card__count">37</span>
                <span class="app-overview-card__status">unassigned cases</span>
            </a>
        </div>
        <h2 class="govuk-heading-m">Directions</h2>
        <div class="app-overview-cards govuk-!-margin-bottom-9">
            <a href="#" class="app-overview-card app-overview-card--red" aria-label="View overdue directions">
                <span class="app-overview-card__count">155</span>
                <span class="app-overview-card__status">overdue directions</span>
            </a>
            <a href="#" class="app-overview-card app-overview-card--orange" aria-label="View directions due today">
                <span class="app-overview-card__count">17</span>
                <span class="app-overview-card__status">directions due today</span>
            </a>
            <a href="#" class="app-overview-card app-overview-card--yellow" aria-label="View directions due tomorrow">
                <span class="app-overview-card__count">1</span>
                <span class="app-overview-card__status">direction due tomorrow</span>
            </a>
        </div>
        <h2 class="govuk-heading-m">Prosecutors</h2>
        <div class="app-overview-cards govuk-!-margin-bottom-9">
            <a href="#" class="app-overview-card app-overview-card--blue" aria-label="View incomplete prosecutor profiles">
                <span class="app-overview-card__count">10</span>
                <span class="app-overview-card__status">incomplete prosecutor profiles</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
