{% extends "layouts/main.html" %}
{% set pageName="Change area" %}

{% block header %}
{% include "/delivery/wat3/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/delivery/wat3/victim/case-information/area-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="area-select">
            Which CPS area is responsible for this case?
          </label>
        </h1>

        <div id="area-autocomplete-wrapper">
          <select class="govuk-select" id="area-select" name="area">
            <option value="">Select a CPS area</option>
            <option value="CPS Cymru-Wales" {{ "selected" if data['area'] == "CPS Cymru-Wales" }}>CPS Cymru-Wales</option>
            <option value="CPS East Midlands" {{ "selected" if data['area'] == "CPS East Midlands" }}>CPS East Midlands</option>
            <option value="CPS East of England" {{ "selected" if data['area'] == "CPS East of England" }}>CPS East of England</option>
            <option value="CPS London North" {{ "selected" if data['area'] == "CPS London North" }}>CPS London North</option>
            <option value="CPS London South" {{ "selected" if data['area'] == "CPS London South" }}>CPS London South</option>
            <option value="CPS Mersey-Cheshire" {{ "selected" if data['area'] == "CPS Mersey-Cheshire" }}>CPS Mersey-Cheshire</option>
            <option value="CPS North East" {{ "selected" if data['area'] == "CPS North East" }}>CPS North East</option>
            <option value="CPS North West" {{ "selected" if data['area'] == "CPS North West" }}>CPS North West</option>
            <option value="CPS South East" {{ "selected" if data['area'] == "CPS South East" }}>CPS South East</option>
            <option value="CPS South West" {{ "selected" if data['area'] == "CPS South West" }}>CPS South West</option>
            <option value="CPS Thames and Chiltern" {{ "selected" if data['area'] == "CPS Thames and Chiltern" }}>CPS Thames and Chiltern</option>
            <option value="CPS Wessex" {{ "selected" if data['area'] == "CPS Wessex" }}>CPS Wessex</option>
            <option value="CPS West Midlands" {{ "selected" if data['area'] == "CPS West Midlands" }}>CPS West Midlands</option>
            <option value="CPS Yorkshire and Humberside" {{ "selected" if data['area'] == "CPS Yorkshire and Humberside" }}>CPS Yorkshire and Humberside</option>
          </select>
        </div>

      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
  window.addEventListener('load', function () {
    if (typeof accessibleAutocomplete === 'undefined') {
      console.error('accessibleAutocomplete library not loaded');
      return;
    }
    var selectEl = document.querySelector('#area-select');
    if (selectEl) {
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: selectEl,
        showAllValues: true,
        defaultValue: selectEl.value || ''
      });
    }
  });
</script>
<script src="/public/javascripts/delivery/wat3/case-information/area.js"></script>
{% endblock %}
