{% extends "layouts/main.html" %}

{% set pageName="Purpose of meeting" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form class="form" action="/purpose2-answer" method="post">

 {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

          {% set emailHtml %}
      {{ govukTextarea({
        id: "contact-by-email",
        name: "contactByEmail",
        type: "text",
        autocomplete: "email",
        spellcheck: false,
        classes: "govuk-input--width-20",
        label: {
          text: "Give a brief description of the purpose"
        }
      }) }}
      {% endset -%}

    {{ govukRadios({
      name: "purpose2",
      value: data['purpose2'],
      fieldset: {
        legend: {
          text: "What is the purpose of the meeting?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "pre-trial",
          text: "CPS pre-trial meeting"
        },
        {
          value: "inform-victim",
          text: "Inform victim about charging decision"
        },
        {
          value: "bereavement",
          text: "Other",
            conditional: {
              html: emailHtml
            }
        }
      ]
    }) }}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}

      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary"
      }) }}
    </div>
    </form>

  </div>
</div>
{% endblock %}
