{% extends "layouts/main.html" %}
{% set pageName="Telephone call 2" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form action="/v51/pcd/call/phone-call-2-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

            <h1 class="govuk-heading-l">Telephone call 2</h1>

            <div class="govuk-form-group" id="error-form-group-1">
                <label class="govuk-label govuk-label--m" for="phone-call-date-2">
                    Date of call
                </label>

                <div class="govuk-hint" id="phone-call-date-hint-2">
                    Use the date picker or enter a date. For example, 17/05/2025
                </div>

                <div class="moj-datepicker" id="phone-call-date-picker" data-module="moj-date-picker" data-excluded-days="">
        
                    <input type="text" class="govuk-input moj-js-datepicker-input" id="phone-call-date-2"
                        name="pcdCallDate2"
                        autocomplete="off"
                        aria-describedby="phone-call-date-hint-2"
                        value="{{ data['pcdCallDate2'] }}" />
                </div>
            </div>

            <div class="govuk-form-group" id="error-form-group-2">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="call-time-hint-2">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Time of call
                    </legend>

                    <div id="call-time-hint-2" class="govuk-hint">
                        Enter a time in 24-hour format. For example, 14:30
                    </div>

                    <div class="govuk-date-input" id="call-time-2">

                        <div class="govuk-date-input__item" style="margin-right: 10px;">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="call-hou-2">
                                    Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="call-hour-2" name="pcdCallHour2" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item" style="margin-right: 10px;">
                            <span class="govuk-body">:</span>
                        </div>
                        
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="call-minutes-2">
                                    Minutes
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="call-minutes-2" name="pcdCallMinutes2" type="text" inputmode="numeric">
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-3">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Call direction
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" id="call-type-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="call-type-outbound" name="pcdCallType2" type="radio" value="Yes" {{ checked('pcdCallType2','Yes') }} aria-describedby="outbound-hint">
                            <label class="govuk-label govuk-radios__label" for="call-type-outbound">
                                Outbound
                            </label>
                            <div id="outbound-hint" class="govuk-hint govuk-radios__hint">
                                I called the victim
                            </div>
                        </div>
                        
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="call-type-inbound" name="pcdCallType2" type="radio" value="No" {{ checked('pcdCallType2','No') }} aria-describedby="inbound-hint">
                            <label class="govuk-label govuk-radios__label" for="call-type-inbound">
                                Inbound
                            </label>
                            <div id="inbound-hint" class="govuk-hint govuk-radios__hint">
                                The victim called the CPS
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-person-contacted">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Person contacted
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios" id="call-individual-radios-2">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="call-individual-victim-2" name="pcdCallIndividual2" type="radio" value="Victim">
                            <label class="govuk-label govuk-radios__label" for="call-individual-victim-2">
                                Victim
                            </label>
                            <div id="call-individual-victim-hint-2" class="govuk-hint govuk-radios__hint">
                                {{ data['victimSurname'] | upper }}, {{ data['victimForename'] }}
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="call-individual-police-2" name="pcdCallIndividual2" type="radio" value="Via police">
                            <label class="govuk-label govuk-radios__label" for="call-individual-police-2">
                                Via police
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="call-individual-isva-2" name="pcdCallIndividual2" type="radio" value="Via ISVA">
                            <label class="govuk-label govuk-radios__label" for="call-individual-isva-2">
                                Via independent sexual violence adviser (ISVA)
                            </label>
                            {% if data['isvaName'] and data['isvaDeleted'] != 'yes' %}
                            <div id="call-individual-isva-hint-2" class="govuk-hint govuk-radios__hint">
                                {{ data['isvaName'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="call-individual-idva-2" name="pcdCallIndividual2" type="radio" value="Via IDVA">
                            <label class="govuk-label govuk-radios__label" for="call-individual-idva-2">
                                Via independent domestic violence adviser (IDVA)
                            </label>
                            {% if data['idvaName'] and data['idvaDeleted'] != 'yes' %}
                            <div id="call-individual-idva-hint-2" class="govuk-hint govuk-radios__hint">
                                {{ data['idvaName'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="call-individual-other-2" name="pcdCallIndividual2" type="radio" value="Other" data-aria-controls="conditional-call-individual-2">
                            <label class="govuk-label govuk-radios__label" for="call-individual-other-2">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-call-individual-2">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="call-individual-name-2">
                                    Name
                                </label>
                                <input class="govuk-input" id="call-individual-name-2" name="pcdCallIndividualName2" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="call-individual-role-2">
                                    Role
                                </label>
                                <input class="govuk-input" id="call-individual-role-2" name="pcdCallIndividualRole2" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-4">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Victim informed of decision
                    </legend>

                    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios" id="victim-informed-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="victim-informed-yes" name="pcdVictimInformed2" type="radio" value="Yes" {{ checked('pcdVictimInformed2','Yes') }}>
                            <label class="govuk-label govuk-radios__label" for="victim-informed-yes">
                                Yes
                            </label>
                        </div>
                        
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="victim-informed-no" name="pcdVictimInformed2" type="radio" value="No" {{ checked('pcdVictimInformed2','No') }}>
                            <label class="govuk-label govuk-radios__label" for="victim-informed-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="call-notes-2">
                        Notes (optional)
                    </label>
                </h2>

                <textarea class="govuk-textarea" id="call-notes-2" name="pcdCallNotes2" rows="4"></textarea>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/pcd/call/phone-call-2.js"></script>
{% endblock %}