{% extends "layouts/main.html" %}
{% set pageName="Preferred name" %}

{% block header %}
{% include "/v60/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v60/partials/identity-bar/victim-page-bfs-nocreatetask.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

  

      <div class="govuk-form-group" id="error-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="preferred-name">
          Enter their email address
          </label>
        </h1>



    


        <div class="govuk-form-group">
  <label class="govuk-label" for="email">
    Email address
  </label>

  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>


  </div>
  
<a href="telephone" class="govuk-link">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
</a>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/check-details/preferred-name.js"></script>
{% endblock %}
