{% extends "layouts/main.html" %}
{% set pageName="Preferred name" %}

{% block header %}
{% include "/v60/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v60/partials/identity-bar/victim-page-bfs-nocreatetask.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

  

      <div class="govuk-form-group" id="error-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="preferred-name">
          Enter their telephone number
          </label>
        </h1>



    


         <div class="govuk-form-group">
                <label class="govuk-label" for="victimMobileNumber">
                    Mobile
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="victimMobileNumber" name="victimMobileNumber" type="tel" value="{{ data['victimMobileNumber'] or data['victimPhoneNumber'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="victimHomeNumber">
                    Home
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="victimHomeNumber" name="victimHomeNumber" type="tel" value="{{ data['victimHomeNumber'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="victimWorkNumber">
                    Work
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="victimWorkNumber" name="victimWorkNumber" type="tel" value="{{ data['victimWorkNumber'] }}">
            </div>

  </div>
<a href="address" class="govuk-link">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
</a>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/check-details/preferred-name.js"></script>
{% endblock %}
