{% extends "layouts/main.html" %}

{% set pageName="Reason why the meeting was cancelled" %}

{% block header %}
{% include "/bfs/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    {% set otherHtml %}
    {{ govukTextarea({
      id: "cancel-reason-other",
      name: "cancelReasonOther",
      label: { text: "Provide details" }
    }) }}
    {% endset -%}

    <form action="/bfs/meetings-2/cancelled/reason-why-answer" method="post" accept-charset="UTF-8">

      {{ govukRadios({
        name: "cancelReason",
        fieldset: {
          legend: {
            text: "What is the reason for cancelling the meeting?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          { value: "Sarah Phillips's bereaved family withdrew", text: "Sarah Phillips's bereaved family withdrew" },
          { value: "Meeting created in error", text: "Meeting created in error" },
          { value: "Change of court date", text: "Change of court date" },
          { value: "No longer required", text: "No longer required" },
          {
            value: "Other",
            text: "Other",
            conditional: {
              html: otherHtml
            }
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/record/telephone-call-details.js"></script>
{% endblock %}
