{% extends "layouts/main.html" %}

{% set pageName="Purpose of meeting" %}

{% block header %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v50/meetings-2/due-date-answer" method="post" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="ngp-date">
            When did the defendant plead not guilty?
          </label>
        </h1>

        <div class="govuk-hint" id="ngp-date-hint">
          Use the date picker or enter a date. For example, 20/08/2026
        </div>

        <div
          class="moj-datepicker"
          id="ngp-date-picker"
          data-module="moj-date-picker"
          data-excluded-days=""
        >
          <input
            type="text"
            class="govuk-input moj-js-datepicker-input"
            id="ngp-date"
            name="ngpDate"
            autocomplete="off"
            aria-describedby="ngp-date-hint"
          >
        </div>

      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/meetings-2/due-date.js"></script>
{% endblock %}
