{% extends "layouts/main.html" %}
{% set victimName = data['victimForename'] + " " + data['victimSurname'] %}

{% set pageName="Meeting already in progress" %}

{% block govukServiceNavigation %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form class="form" action="/did-victim-request2" method="post">
      <h1 class="govuk-heading-l">
        There is already an active CPS pre-trial meeting for {{ victimName }}
      </h1>

      <p class="govuk-body">
        A meeting is already in progress for this case. You can continue to update the existing meeting.
      </p>

      <a href="/v50/victim?secondaryNav=ptm&meetingState=arranged&meetingSuccess=yes#communications" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
        Update the meeting
      </a>

    </form>

  </div>
</div>
{% endblock %}
