{% extends "layouts/main.html" %}
{% set victimName = data['victimForename'] + " " + data['victimSurname'] %}

{% set pageName="CPS pre-trial meeting accepted date" %}

{% block govukServiceNavigation %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="meeting-accepted-date">
        When did {{ victimName }} accept the meeting offer?
      </label>
    </h1>

    <div class="govuk-form-group">

      <div class="govuk-hint" id="meeting-accepted-date-hint">
        For example, 12/08/2026
      </div>

      <div
        class="moj-datepicker"
        id="meeting-accepted-date-picker"
        data-module="moj-date-picker"
        data-excluded-days=""
      >
        <input
          type="text"
          class="govuk-input moj-js-datepicker-input"
          id="meeting-accepted-date"
          name="meetingAcceptedDate"
          autocomplete="off"
          aria-describedby="meeting-accepted-date-hint"
        >
      </div>

    </div>

    <div class="govuk-button-group">
      <a href="./log-outcome/did-meeting-happen.html" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
      <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel
      </a>
    </div>

  </div>
</div>
{% endblock %}
