{% extends "layouts/main.html" %}

{% set pageName="Not guilty plea date" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v50/meetings-2/not-guilty-plea-date-answer" method="post" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">

        <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="ngp-date">
          When did the defendant plead not guilty?
        </label>
        </h1>

        <div class="govuk-hint" id="ngp-date-hint">
          For example, 20/08/2026
        </div>

        <div
          class="moj-datepicker"
          id="ngp-date-picker"
          data-module="moj-date-picker"
          data-excluded-days=""
        >
          <input
            type="text"
            class="govuk-input moj-js-datepicker-input"
            id="ngp-date"
            name="ngpDate"
            autocomplete="off"
            aria-describedby="ngp-date-hint"
          >
        </div>

      </div>

      <div class="govuk-inset-text">
        The CPS pre&#8209;trial meeting must be offered within 14 days of the not guilty plea date.
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </a>
      </div>

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/meetings-2/due-date.js"></script>
{% endblock %}
