{% extends "layouts/main.html" %}

{% set pageName = "Email delivered" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Email delivered
      </h1>
    </div>

    <p class="govuk-body">
      The email was successfully delivered to the victim, <strong>{{ data['victimForename'] }} {{ data['victimSurname'] }}</strong> ({{ data['victimEmailAddress'] }}).
    </p>

    <!-- <p class="govuk-body">
      The Crest survey was also sent to the victim.
    </p> -->

    <h2 class="govuk-heading-m">Further information</h2>

    <p class="govuk-body">
      You can view the recorded email on the 'Communications' tab of the victim's page, within the Victim Case Application.
    </p>

    <p class="govuk-body">
      The content was automatically saved to CMS as well.
    </p>

    {% if (data['pmoc'] == "home-phone") or (data['pmoc'] == "mobile") %}

    {% if (data['callAttempt'] == "1") %}
    <a href="/ur/nfa/victim-record?nfaStatus=fu-email-after-call-1#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      View all communications
    </a>

    {% elif (data['callAttempt'] == "2") %}
    <a href="/ur/nfa/victim-record?nfaStatus=fu-email-after-call-2#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      View all communications
    </a>

    {% elif (data['callAttempt'] == "3") %}
    <a href="/ur/nfa/victim-record?nfaStatus=fu-email-after-call-3#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      View all communications
    </a>

    {% endif %}
    {% elif (data['pmoc'] == "email") %}

    {% if (data['callAttempt'] == "") %}
    <a href="/ur/nfa/victim-record?nfaStatus=email-delivered#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      View all communications
    </a>

    {% elif (data['callAttempt'] == "1") %}
    <a href="/ur/nfa/victim-record?nfaStatus=email-after-call-attempt-1#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      View all communications
    </a>

    {% elif (data['callAttempt'] == "2") %}
    <a href="/ur/nfa/victim-record?nfaStatus=email-after-call-attempt-2#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      View all communications
    </a>

    {% endif %}
    {% endif %}

  </div>
</div>
{% endblock %}