{% block content %}
{% include "/delivery/wat3/victim/pcd/details/email.html" %}

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-button-group govuk-!-margin-bottom-0">
  <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Try to send email again<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
  </a>
  <a class="govuk-link" href="/delivery/wat3/pcd/send/letter-details">Send a letter instead<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span></a>
</div>
{% endblock %}