{% extends "layouts/main.html" %}
{% set pageName="Check the task details are correct" %}

{% block header %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <h1 class="govuk-heading-l">
            Check the task details
        </h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Task
                </dt>
                {% if data['nextTask'] %}
                    <dd class="govuk-summary-list__value">
                        {% if data['nextTask'] == "dtc" %}
                            Inform of a decision to charge
                        {% elif data['nextTask'] == "nfa" %}
                            Inform of a no further action decision
                        {% elif data['nextTask'] == "stopped-charge" %}
                            Inform of a stopped charge
                        {% elif data['nextTask'] == "altered-charge" %}
                            Inform of a substantially altered charge
                        {% elif data['nextTask'] == "meeting-offer" %}
                            Log offered meeting
                        {% elif data['nextTask'] == "meeting-arranged" %}
                            Log arranged meeting
                        {% elif data['nextTask'] == "meeting-outcome" %}
                            Log meeting outcome
                        {% elif data['nextTask'] == "other" %}
                            Another task (not listed)
                        {% elif data['nextTask'] == "no-task" %}
                            No task set
                        {% else %}
                            {{ data['nextTask'] }}
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="/v50/onb/next-task">
                            Change<span class="govuk-visually-hidden"> next task</span>
                        </a>
                    </dd>
                {% else %}
                    <dd class="govuk-summary-list__value">
                        <a href="/v50/onb/next-task" class="govuk-link govuk-link--no-visited-state">Select next task</a>
                    </dd>
                {% endif %}
            </div>
            {% if data['nextTask'] == "no-task" %}
            
            {% else %}
                {% if data['nextTask'] == "meeting-offer" or data['nextTask'] == "meeting-arranged" or data['nextTask'] == "meeting-outcome" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Purpose
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if data['meetingPurpose'] == "pre-trial" %}
                                CPS pre-trial meeting
                            {% elif data['meetingPurpose'] == "charging-decision" %}
                                Inform victim about charging decision
                            {% elif data['meetingPurpose'] == "stopped-altered" %}
                                Stopped or substantially altered charge (VCL Scheme)
                            {% elif data['meetingPurpose'] == "vrr" %}
                                Victims' Right to Review (VRR)
                            {% elif data['meetingPurpose'] == "complaint" %}
                                Complaint about victim care
                            {% else %}
                                {{ data['meetingPurposeDetails'] }}
                            {% endif %}
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="/v50/onb/meeting-purpose">
                                Change<span class="govuk-visually-hidden"> meeting purpose</span>
                            </a>
                        </dd>
                    </div>
                {% endif %}
                {% if data['manualTask'] == "yes" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Task name
                        </dt>
                        {% if data['manualTaskName'] %}
                            <dd class="govuk-summary-list__value">
                                {{ data['manualTaskName'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/v50/onb/manual-task">
                                    Change<span class="govuk-visually-hidden"> task name</span>
                                </a>
                            </dd>
                        {% else %}
                            <dd class="govuk-summary-list__value">
                                <a href="/v50/onb/manual-task" class="govuk-link govuk-link--no-visited-state">Enter task name</a>
                            </dd>
                        {% endif %}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Due date
                        </dt>
                        {% if data['taskDueDate'] %}
                            <dd class="govuk-summary-list__value">
                                {{ data['taskDueDate'] | formatDate }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/v50/onb/manual-task">
                                    Change<span class="govuk-visually-hidden"> next task due date</span>
                                </a>
                            </dd>
                        {% else %}
                            <dd class="govuk-summary-list__value">
                                <a href="/v50/onb/manual-task" class="govuk-link govuk-link--no-visited-state">Enter due date</a>
                            </dd>
                        {% endif %}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Note
                        </dt>
                        {% if data['taskNote'] == "" %}
                            <dd class="govuk-summary-list__value">
                                <a href="/v50/onb/manual-task" class="govuk-link govuk-link--no-visited-state">Enter note</a>
                            </dd>
                        {% else %}
                            <dd class="govuk-summary-list__value">
                                {{ data['taskNote'] | nl2br }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/v50/onb/manual-task">
                                    Change<span class="govuk-visually-hidden"> task note</span>
                                </a>
                            </dd>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Due date
                        </dt>
                        {% if data['taskDueDate'] %}
                            <dd class="govuk-summary-list__value">
                                {{ data['taskDueDate'] | formatDate }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/v50/onb/next-task-due-date">
                                    Change<span class="govuk-visually-hidden"> next task due date</span>
                                </a>
                            </dd>
                        {% else %}
                            <dd class="govuk-summary-list__value">
                                <a href="/v50/onb/next-task-due-date" class="govuk-link govuk-link--no-visited-state">Select next task due date</a>
                            </dd>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Victim liaison officer
                </dt>
                {% if data['vlo'] %}
                    <dd class="govuk-summary-list__value">
                        {{ data['vlo'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="/v50/onb/check-task-vlo">
                            Change<span class="govuk-visually-hidden"> victim liaison officer</span>
                        </a>
                    </dd>
                {% else %}
                    <dd class="govuk-summary-list__value">
                        <a href="/v50/onb/check-task-vlo" class="govuk-link govuk-link--no-visited-state">Select victim liaison officer</a>
                    </dd>
                {% endif %}
            </div>
        </dl>
        <h2 class="govuk-heading-m">
            Now confirm the details
        </h2>
        {% if data['nextTask'] == "no-task" %}
            <p class="govuk-body">
                After you confirm the details, you can create tasks for {{ data['victimForename'] }} {{ data['victimSurname'] }} from their profile page.
            </p>
            <form action="/v50/onb/check-task-answer" method="post" novalidate>
                <input type="hidden" name="answers-checked" value="true">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm details
                </button>
            </form>
        {% else %}
            
            <p class="govuk-body">
                After you confirm the details, a task for {{ data['victimForename'] }} {{ data['victimSurname'] }} will be created.
            </p>
            <form action="/v50/onb/check-task-answer" method="post" novalidate>
                <input type="hidden" name="answers-checked" value="true">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm and create
                </button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}