{% extends "layouts/main.html" %}

{% set pageName="Victim record" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v51/partials/identity-bar/victim-page-nocreate-task.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if (data['case-locked'] == "by-someone-else") %}
    {% include "/ur/partials/case-locked/banner/by-someone-else.html" %}
    {% elif (data['case-locked'] == "self-locked") %}
    {% include "/ur/partials/case-locked/banner/self-locked.html" %}
    {% else %}
    {% endif %}


    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>

      {% include "/ur/partials/tabs/victim-record-tabs.html" %}

      <div class="govuk-tabs__panel" id="summary">
        {% include "/v51/victim/overview.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="victim-details">
        {% include "/v51/victim/victim-details/index.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-contacts">
        {% include "/v51/victim/case-contacts.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">
        {% if (data['success'] == "yes") %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              {% if (data['successReason'] == "email-address-updated") %}
              Victim email address updated
              {% elif (data['successReason'] == "pmoc-updated") %}
              Victim's preferred method of contact updated
              {% elif (data['successReason'] == "not-informed-after-call-1") or (data['successReason'] == "informed-after-call-1") %}
              Telephone call 1 logged
              {% elif (data['successReason'] == "not-informed-after-call-2") or (data['successReason'] == "informed-after-call-2") %}
              Telephone call 2 logged
              {% elif (data['successReason'] == "not-informed-after-call-3") or (data['successReason'] == "informed-after-call-3") %}
              Telephone call 3 logged
              {% elif (data['successReason'] == "draft-approved-to-send") %}
              Letter sent to CMS and approved to send
              {% endif %}
            </h3>
          </div>
        </div>

        {% else %}
        {% endif %}
        
        {% include "/v51/meetings/communications.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pcd">
        {% include "/ur/partials/victim-record/pcd/index.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="pre-trial">
        {% include "/ur/partials/victim-record/pre-trial/index.html" %}
      </div>
      
    </div>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/record/victim-record-v30.js"></script>
{% endblock %}
