{% block content %}
{% include "/delivery/vcl/victim-record/vcl/details/letter.html" %}

{% if (data['notifyStatus'] == "delivered") %}
{% else %}
<hr class="govuk-section-break govuk-section-break--m">

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Previous contact attempts
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include "/delivery/vcl/victim-record/vcl/details/email.html" %}
  </div>
</details>
{% endif %}
{% endblock %}