{% extends "layouts/main.html" %}
{% set pageName = "Family Liaison Officer" %}
{% set isExisting = (data['familyLiaisonOfficerDeleted'] != 'yes') and data['familyLiaisonOfficerName'] and (data['familyLiaisonOfficerEmailAddress'] or data['familyLiaisonOfficerPhoneNumber']) %}

{% block header %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form action="/v50/victim/case-contacts/family-liaison-officer-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

            <h1 class="govuk-heading-l">
                {% if isExisting %}Change{% else %}Add a{% endif %} Family Liaison Officer
            </h1>

            <div class="govuk-form-group" id="error-form-group-name">
                <label class="govuk-label" for="flo-name">Name</label>
                <div id="flo-name-hint" class="govuk-hint">Enter a name in the correct format, like BLOGGS, Joe</div>
                <input type="text" class="govuk-input" id="flo-name" name="familyLiaisonOfficerName" autocomplete="name" aria-describedby="flo-name-hint" value="{{ data['familyLiaisonOfficerName'] }}">
            </div>

            <div class="govuk-form-group" id="error-form-group-email">
                <label class="govuk-label" for="flo-email">Email address</label>
                <input type="text" class="govuk-input" id="flo-email" name="familyLiaisonOfficerEmailAddress" autocomplete="email" value="{{ data['familyLiaisonOfficerEmailAddress'] }}">
            </div>

            <div class="govuk-form-group" id="error-form-group-telephone">
                <label class="govuk-label" for="flo-telephone">Telephone number</label>
                <input type="text" class="govuk-input govuk-!-width-two-thirds" id="flo-telephone" name="familyLiaisonOfficerPhoneNumber" autocomplete="tel" value="{{ data['familyLiaisonOfficerPhoneNumber'] }}">
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                <a href="/v50/victim?secondaryNav=case-contacts#case-contacts" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
                {% if isExisting %}
                <button type="submit" class="govuk-button govuk-button--warning" formaction="/v50/victim/case-contacts/family-liaison-officer-delete" formmethod="post">Delete</button>
                {% endif %}
            </div>

        </form>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/v50/case-contacts/family-liaison-officer.js"></script>
{% endblock %}
