{% extends "layouts/main.html" %}
{% set pageName = "Decision not to contact logged" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Decision not to contact logged
      </h1>
    </div>

    <p class="govuk-body">
      The decision not to contact {{ data['victimForename'] }} {{ data['victimSurname'] }} about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}charging decision{% endif %} was successfully logged.
    </p>

    <a href="/v51/victim?success=no&secondaryNav=pcd#communications" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

  </div>
</div>
{% endblock %}
