{% extends "layouts/main.html" %}

{% set pageName="Next attempt method of contact" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/delivery/vcl/record/next-attempt-moc-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What do you want to do next?
            </h1>
          </legend>

          <div class="govuk-radios" id="radio-group">

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="attempt-to-contact-again-phone" name="attemptToContactAgain" value="Call" {{ checked('attemptToContactAgain','Phone') }} aria-describedby="attempt-to-contact-again-phone-hint">
              <label class="govuk-label govuk-radios__label" for="attempt-to-contact-again-phone">
                Log another telephone call
              </label>
              <div class="govuk-hint govuk-radios__hint" id="attempt-to-contact-again-phone-hint">
                Preferred method of contact
              </div>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="attempt-to-contact-again-email" name="attemptToContactAgain" value="Email" {{ checked('attemptToContactAgain','Email') }} aria-describedby="attempt-to-contact-again-email-hint">
              <label class="govuk-label govuk-radios__label" for="attempt-to-contact-again-email">
                Send an email instead
              </label>
              <!-- <div class="govuk-hint govuk-radios__hint" id="attempt-to-contact-again-email-hint">
                Only choose if listed as an alternative method of contact
              </div> -->
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="attempt-to-contact-again-post" name="attemptToContactAgain" value="Post" {{ checked('attemptToContactAgain','Post') }} aria-describedby="attempt-to-contact-again-post-hint">
              <label class="govuk-label govuk-radios__label" for="attempt-to-contact-again-post">
                Log a letter instead
              </label>
              <!-- <div class="govuk-hint govuk-radios__hint" id="attempt-to-contact-again-post-hint">
                Only choose if listed as an alternative method of contact
              </div> -->
            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/vcl/record/next-attempt-moc.js"></script>
{% endblock %}