{% extends "layouts/main.html" %}

{% set pageName="Victim record" %}

{% block header %}
{% include "/ur/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/ur/partials/identity-bar/victim-page-nocreate-task.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">Contents</h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#summary">Summary</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#victim-details">Victim details</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#case-contacts">Case contacts</a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#communications">Communications</a>
        </li>
      </ul>

      <div class="govuk-tabs__panel" id="summary">
        {% include "/ur/partials/victim-record/summary-v21.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="victim-details">
        {% include "/ur/partials/victim-record/victim-details-v21.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="case-contacts">
        {% include "/ur/partials/victim-record/case-contacts-v21.html" %}
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="communications">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Communications</h2>

            <nav class="moj-sub-navigation" aria-label="Sub navigation">
              <ul class="moj-sub-navigation__list">
                {% if (data['subTab'] == "ptm") %}
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="#">Charging decision</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" aria-current="page" href="#">CPS meetings</a>
                </li>

                {% elif (data['subTab'] == "vcl") %}
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="/v30/victim-record?subTab=charging-decision#communications">Charging decision</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="#">CPS meetings</a>
                </li>

                {% else %}
                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" href="#communications">Charging decision</a>
                </li>

                <li class="moj-sub-navigation__item">
                  <a class="moj-sub-navigation__link" aria-current="page" href="#">Meetings</a>
                </li>

                {% endif %}
              </ul>
            </nav>

            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Success
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                  CPS pre-trial meeting cancelled.
                </h3>
              </div>
            </div>

            <a href="../what-do-you-want-to-log" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
              Log new meeting details<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
            </a>

            <hr class="govuk-section-break govuk-section-break--m">

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                  CPS pre-trial meeting cancelled
                </h2>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date and time meeting was cancelled
                    </dt>
                    <dd class="govuk-summary-list__value">
                      11 April 2025 at 11.45am
                    </dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Reason
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Sarah Phillips's bereaved family withdrew
                    </dd>
                  </div>

                </dl>

                <hr class="govuk-section-break govuk-section-break--m">

                <details class="govuk-details">

                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Changed meetings
                    </span>
                  </summary>

                  <div class="govuk-details__text">

                    
                        <dl class="govuk-summary-list">
                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Date and time
                            </dt>
                            <dd class="govuk-summary-list__value">
                              11 April 2025 at 11:45am
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              How meeting will take place
                            </dt>
                            <dd class="govuk-summary-list__value">
                              In person
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Location
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Birmingham Magistrates’ Court
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Attendees
                            </dt>
                            <dd class="govuk-summary-list__value">
                              (Meeting lead) PC FISHER, Jane (Police officer in charge), PHILLIPS, Sarah (Victim), SHEAF, Jessica (High court advocate), BIDWELL, Jane (Family liaison officer), SAKAMOTO, Hadji (Independent domestic violence adviser (IDVA))
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Support needs
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Interpreter needed: No, Person for support: Yes
                              <br>
                              Other support: Victim will need a room with step free access
                            </dd>
                          </div>

                        </dl>
                </details>

                <details class="govuk-details">

                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Arranged meetings
                    </span>
                  </summary>

                  <div class="govuk-details__text">

                    <h3 class="govuk-heading-s">CPS pre-trial meeting arranged</h3>
                        <dl class="govuk-summary-list">

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Date and time
                            </dt>
                            <dd class="govuk-summary-list__value">
                              11 April 2025 at 11:45am
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              How meeting will take place
                            </dt>
                            <dd class="govuk-summary-list__value">
                              In person
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Location
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Birmingham Magistrates’ Court
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Attendees
                            </dt>
                            <dd class="govuk-summary-list__value">
                              (Meeting lead) PC FISHER, Jane (Police officer in charge), PHILLIPS, Sarah (Victim), SHEAF, Jessica (High court advocate), BIDWELL, Jane (Family liaison officer), SAKAMOTO, Hadji (Independent domestic violence adviser (IDVA))
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Support needs
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Interpreter needed: No, Person for support: Yes
                              <br>
                              Other support: Victim will need a room with step free access
                            </dd>
                          </div>

                        </dl>
                </details>

                <details class="govuk-details">

                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Offered meeting
                    </span>
                  </summary>

                  <div class="govuk-details__text">
                    <h3 class="govuk-heading-s">CPS pre-trial meeting offer accepted</h3>
                        <dl class="govuk-summary-list">

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              How meeting offer was accepted
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Letter by post
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Date accepted
                            </dt>
                            <dd class="govuk-summary-list__value">
                              11 April 2025
                            </dd>
                          </div>

                        </dl>

                    <hr class="govuk-section-break govuk-section-break--m">

                    <h3 class="govuk-heading-s">CPS pre-trial meeting offered</h3>
                        <dl class="govuk-summary-list">

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              How offered
                            </dt>
                            <dd class="govuk-summary-list__value">
                              Letter by post
                            </dd>
                          </div>

                          <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                              Date offered
                            </dt>
                            <dd class="govuk-summary-list__value">
                              11 April 2025
                            </dd>
                          </div>

                        </dl>
                  </div>
                </details>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}
