{% extends "layouts/meetings-2-communications.html" %}

{% block communicationsNotification %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      CPS pre-trial meeting outcome logged.
    </h3>
  </div>
</div>
{% endblock %}

{% block communicationsContent %}

<a href="../what-do-you-want-to-log" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
  Log new meeting details<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      CPS pre-trial meeting outcome logged
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting took place
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason why
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Phillips's bereaved family did not attend </dd>

      </div>

    </dl>

    <hr class="govuk-section-break govuk-section-break--m">

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Meeting arranged
        </span>
      </summary>
      <div class="govuk-details__text">

        
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  11 April 2025 at 11:45am
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How meeting will take place
                </dt>
                <dd class="govuk-summary-list__value">
                  In person
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  location
                </dt>
                <dd class="govuk-summary-list__value">
                  Birmingham Magistrates’ Court
                </dd>

              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendees
                </dt>
                <dd class="govuk-summary-list__value">
                  (Meeting lead) PC FISHER, Jane (Police officer in charge), Sarah Phillips's bereaved family, SHEAF, Jessica (High court advocate), BIDWELL, Jane (Family liaison officer), SAKAMOTO, Hadji (Independent domestic violence adviser (IDVA))
                </dd>

              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Support need
                </dt>
                <dd class="govuk-summary-list__value">
                  Interpreter needed: No, Person for support: Yes
                  <br>
                  Other support: Victim's family will need a room with step free access
                </dd>

              </div>

            </dl>
    </details>
  </div>

</div>

{% endblock %}
