{% extends "layouts/main.html" %}

{% set pageName="Check details" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/delivery/dtc/check-answers-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

        <h1 class="govuk-heading-l">Check the details before {{ "sending the email" if (data['preferredMethodOfContact'] == "Email") else "dispatching the letter" }}</h1>

        <h2 class="govuk-heading-m">{{ "Email" if (data['preferredMethodOfContact'] == "Email") else "Letter" }} details</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type
            </dt>
            <dd class="govuk-summary-list__value">
              Decision to charge
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Recipient
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">
                {% if (data['preferredMethodOfContact'] == "Post") %}{{ data['victimTitle'] or "Ms" }}{% endif %} {{ data['victimForename'] }} {{ data['victimSurname'] }} (victim)
              </p>
            </dd>
          </div>
          {% if (data['preferredMethodOfContact'] == "Email") %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['victimEmailAddress'] }}
              </dd>
            </div>
          {% elif (data['preferredMethodOfContact'] == "Post") %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">
                  Oakhurst House<br>Willowtree Avenue<br>Birchwood<br>NP14 6LF
                </p>
              </dd>
            </div>
          {% endif %}

        </dl>

        <h2 class="govuk-heading-m">{{ "Now send your email" if (data['preferredMethodOfContact'] == "Email") else "Now dispatch your letter" }}</h2>

        <p class="govuk-body">
          Select <strong>{{ "Send email" if (data['preferredMethodOfContact'] == "Email") else "Dispatch letter" }}</strong> to inform the victim of the charging decision.
        </p>

        <input type="hidden" name="answers-checked" value="true">

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            {{ "Send email" if (data['preferredMethodOfContact'] == "Email") else "Dispatch letter" }}
          </button>
          <a class="govuk-link" href="/delivery/dtc/victim-record">Cancel</a>
        </div>
        
      </form>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/dtccheck-answers.js"></script>
{% endblock %}