{% block content %}
<p class="govuk-body">
    {{ data['victimForename'] }} {{ data['victimSurname'] }} has not yet been informed by the CPS about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}.
</p>

<a href="/delivery/wat3/pcd/pre-draft/contacted-by" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Log an attempt<span class="govuk-visually-hidden"> to inform about the {{ data['pcdType'] }}</span>
</a>

{% endblock %}