{% block content %}
<div class="app-identity-bar">
  <div class="app-identity-bar__container">
    <div class="app-identity-bar__details">
      <span class="app-identity-bar__title">
        <h1 class="govuk-heading-s govuk-!-margin-right-2 govuk-!-margin-bottom-0" style="display: inline-block">
          {{ data['victimSurname'] | upper }}, {{ data['victimForename'] }}
           <strong class="govuk-tag govuk-tag--grey">
          Deceased
        </strong>
        </h1>
        <span class="govuk-!-margin-right-2">{{ data['caseUrn'] }}</span>
        
      </span>
    </div>
    
  </div>
</div>
{% endblock %}