{% extends "layouts/main.html" %}

{% set pageName="Victim" %}

{% block header %}
{% include "/delivery/wat3/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/delivery/wat3/partials/identity-bar/victim-page.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if (data['case-locked'] == "by-someone-else") %}
      {% include "/delivery/wat3/case-locked/banner/by-someone-else.html" %}
    {% elif (data['case-locked'] == "self-locked") %}
      {% include "/delivery/wat3/case-locked/banner/self-locked.html" %}
    {% else %}
    {% endif %}

    <nav class="x-govuk-secondary-navigation govuk-!-margin-bottom-6" aria-labelledby="case-name">
      <ul class="x-govuk-secondary-navigation__list">
        {% if (data['secondaryNav'] == "victim-details") %}
          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=overview">Case overview</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" aria-current="page" href="/delivery/wat3/victim?secondaryNav=victim-details">Victim details</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=case-contacts">Case contacts</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=pcd">Charging decision</a>
          </li>

          {% if (data['nextTask'] == "dtc") or (data['nextTask'] == "nfa") or (data['nextTask'] == "mixed-charges") %}
          {% else %}
            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=vcl">VCL Scheme</a>
            </li>

            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=ptm">Meetings</a>
            </li>
          {% endif %}

        {% elif (data['secondaryNav'] == "case-contacts") %}
          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=overview">Case overview</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=victim-details">Victim details</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" aria-current="page" href="/delivery/wat3/victim?secondaryNav=case-contacts">Case contacts</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=pcd">Charging decision</a>
          </li>

          {% if (data['nextTask'] == "dtc") or (data['nextTask'] == "nfa") or (data['nextTask'] == "mixed-charges") %}
          {% else %}
            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=vcl">VCL Scheme</a>
            </li>

            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=ptm">Meetings</a>
            </li>
          {% endif %}

        {% elif (data['secondaryNav'] == "pcd") %}
          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=overview">Case overview</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=victim-details">Victim details</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=case-contacts">Case contacts</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" aria-current="page" href="/delivery/wat3/victim?secondaryNav=pcd">Charging decision</a>
          </li>

          {% if (data['nextTask'] == "dtc") or (data['nextTask'] == "nfa") or (data['nextTask'] == "mixed-charges") %}
          {% else %}
            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=vcl">VCL Scheme</a>
            </li>

            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=ptm">Meetings</a>
            </li>
          {% endif %}

        {% elif (data['secondaryNav'] == "ptm") %}
          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=overview">Case overview</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=victim-details">Victim details</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=case-contacts">Case contacts</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=pcd">Charging decision</a>
          </li>

          {% if (data['nextTask'] == "dtc") or (data['nextTask'] == "nfa") or (data['nextTask'] == "mixed-charges") %}
          {% else %}
            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=vcl">VCL Scheme</a>
            </li>

            <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
              <a class="x-govuk-secondary-navigation__link" aria-current="page" href="/delivery/wat3/victim?secondaryNav=ptm">Meetings</a>
            </li>
          {% endif %}

        {% elif (data['secondaryNav'] == "vcl") %}
          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=overview">Case overview</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=victim-details">Victim details</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=case-contacts">Case contacts</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=pcd">Charging decision</a>
          </li>

          {% if (data['nextTask'] == "dtc") or (data['nextTask'] == "nfa") or (data['nextTask'] == "mixed-charges") %}
          {% else %}
            <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
              <a class="x-govuk-secondary-navigation__link" aria-current="page" href="/delivery/wat3/victim?secondaryNav=vcl">VCL Scheme</a>
            </li>

            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=ptm">Meetings</a>
            </li>
          {% endif %}

        {% else %}
          <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" aria-current="page" href="/delivery/wat3/victim?secondaryNav=overview">Case overview</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=victim-details">Victim details</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link"  href="/delivery/wat3/victim?secondaryNav=case-contacts">Case contacts</a>
          </li>

          <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=pcd">Charging decision</a>
          </li>

          {% if (data['nextTask'] == "dtc") or (data['nextTask'] == "nfa") or (data['nextTask'] == "mixed-charges") %}
          {% else %}
            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=vcl">VCL Scheme</a>
            </li>
            
            <li class="x-govuk-secondary-navigation__list-item">
              <a class="x-govuk-secondary-navigation__link" href="/delivery/wat3/victim?secondaryNav=ptm">Meetings</a>
            </li>
          {% endif %}

        {% endif %}
      </ul>
    </nav>

    {% if (data['success'] == "yes") %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {% if (data['successReason'] == "email-address-updated") %}
            Victim email address updated
          {% elif (data['successReason'] == "pmoc-updated") %}
            Victim's preferred method of contact updated
          {% elif (data['successReason'] == "not-informed-after-call-1") or (data['successReason'] == "informed-after-call-1") %}
            Telephone call 1 logged
          {% elif (data['successReason'] == "not-informed-after-call-2") or (data['successReason'] == "informed-after-call-2") %}
            Telephone call 2 logged
          {% elif (data['successReason'] == "not-informed-after-call-3") or (data['successReason'] == "informed-after-call-3") %}
            Telephone call 3 logged
          {% elif (data['successReason'] == "draft-approved-to-send") %}
            Letter sent to CMS and approved to send
          {% endif %}
        </h3>
        <!-- <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p> -->
      </div>
    </div>

    {% else %}
    {% endif %}

    {% if (data['secondaryNav'] == "overview") %}
      {% include "/delivery/wat3/victim/overview.html" %}

    {% elif (data['secondaryNav'] == "victim-details") %}
      {% include "/delivery/wat3/victim/victim-details/index.html" %}

    {% elif (data['secondaryNav'] == "case-contacts") %}
      {% include "/delivery/wat3/victim/case-contacts.html" %}

    {% elif (data['secondaryNav'] == "pcd") %}
      {% include "/delivery/wat3/victim/pcd/index.html" %}

    {% elif (data['secondaryNav'] == "ptm") %}
      {% include "/delivery/wat3/victim/pre-trial/pre-trial-meeting/index.html" %}

    {% elif (data['secondaryNav'] == "vcl") %}
      {% include "/delivery/wat3/victim/vcl/index.html" %}

    {% else %}
      {% include "/delivery/wat3/victim/overview.html" %}
    
    {% endif %}

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/wat3/victim.js"></script>
{% endblock %}