{% extends "layouts/meetings-2-communications.html" %}

{% block communicationsNotification %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      CPS pre-trial meeting arranged.
    </h3>
  </div>
</div>
{% endblock %}

{% block communicationsContent %}

{% set victimName = data['victimForename'] + " " + data['victimSurname'] %}

{% if data['meetingRequestedBy'] == "family" %}
  {% set arrangedText = victimName + "'s bereaved family requested it" %}
{% elif data['meetingRequestedBy'] == "cps" %}
  {% set arrangedText = "CPS offered and " + victimName + "'s bereaved family accepted" %}
{% elif data['meetingRequestedBy'] == "third-party" %}
  {% set arrangedText = "Requested by a third party" %}
{% else %}
  {% set arrangedText = "" %}
{% endif %}

{% if data['meetingFormat'] == "in-person" %}{% set formatText = "In person" %}
{% elif data['meetingFormat'] == "virtual" %}{% set formatText = "Virtual call" %}
{% elif data['meetingFormat'] == "hybrid" %}{% set formatText = "Hybrid" %}
{% else %}{% set formatText = "" %}{% endif %}

{% if data['meetingLocationType'] == "cps" %}{% set locationText = data['cpsLocation'] %}
{% elif data['meetingLocationType'] == "magistrates" %}{% set locationText = data['magistratesLocation'] %}
{% elif data['meetingLocationType'] == "crown" %}{% set locationText = data['crownLocation'] %}
{% elif data['meetingLocationType'] == "police" %}{% set locationText = data['policeStationLocation'] %}
{% elif data['meetingLocationType'] == "other" %}{% set locationText = data['otherLocation'] %}
{% else %}{% set locationText = "" %}{% endif %}

{% set attendeesList = data['attendees'] %}
{% if attendeesList is string %}{% set attendeesList = [attendeesList] %}{% endif %}

<a href="../what-do-you-want-to-log" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
  Log new meeting details<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      CPS pre-trial meeting
    </h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time arranged
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['meetingDate'] | formatDate }}{% if data['meetingHour'] %} at {{ data['meetingHour'] }}:{{ data['meetingMinutes'] }}{% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How meeting was arranged
        </dt>
        <dd class="govuk-summary-list__value">
          {{ arrangedText }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How meeting will take place
        </dt>
        <dd class="govuk-summary-list__value">
          {{ formatText }}
        </dd>
      </div>
      {% if locationText %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          {{ locationText }}
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attendees
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">{{ victimName }}'s bereaved family</p>
          {% for attendee in attendeesList %}{% if attendee != "_unchecked" %}<p class="govuk-body">{{ attendee }}</p>{% endif %}{% endfor %}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting lead
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['meetingLead'] }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Interpreter needed
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['interpreterNeeded'] == "yes" else "No" }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Person for support
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['supportPersonNeeded'] == "yes" else "No" }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other support
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['otherSupportNeeds'] if data['otherSupportNeeds'] else "None" }}
        </dd>
      </div>

    </dl>

    <hr class="govuk-section-break govuk-section-break--m">

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Offer reponses
        </span>
      </summary>
      <div class="govuk-details__text">

            {% set hideResponseActions = true %}
            {% include "/ur/bfs/meetings-2/cps-offer/partials/logged-responses.html" %}
            {% set hideResponseActions = false %}

            {% if data['noResponseOffers'] and data['noResponseOffers'].length %}
            <hr class="govuk-section-break govuk-section-break--m">
            {% set noResponseFlat = true %}
            {% include "/ur/bfs/meetings-2/cps-offer/partials/no-response-offers.html" %}
            {% set noResponseFlat = false %}
            {% endif %}
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Offered meeting
        </span>
      </summary>
      <div class="govuk-details__text">

            {% set hideNoResponseOffers = true %}
            {% include "/ur/bfs/meetings-2/cps-offer/partials/logged-offers.html" %}
            {% set hideNoResponseOffers = false %}
    </details>

    <div class="govuk-button-group">
      <a href="../log-outcome/did-meeting-happen" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
        Log meeting outcome<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
      </a>
      <a href="../rescheduled/check-answers" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
        Change meeting details<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
      </a>
      <a href="../cancelled/meeting-date" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
        Cancel meeting<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
      </a>
    </div>

  </div>
</div>
{% endblock %}
