{% block content %}
<p class="govuk-body">
    {{ data['victimForename'] }} {{ data['victimSurname'] }} has not yet been informed by the CPS about the {% if (data['decisionType'] == "dtc") %}decision to charge{% elif (data['decisionType'] == "nfa") %}decision to take no further action{% else %}charging decision{% endif %}.
</p>

<p class="govuk-body">
    Telephone the victim and log the call before sending the letter.
</p>

<!-- <p class="govuk-body">
    Check the letter, security answers, call script and FAQs if you need these during the call.
</p> -->

<a href="/delivery/vcl/record/phone-call-1" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
    Log a call<span class="govuk-visually-hidden"> to inform about the {% if (data['decisionType'] == "dtc") %}decision to charge{% elif (data['decisionType'] == "nfa") %}no further action decision{% else %}charging decision{% endif %}</span>
</a>
{% endblock %}