{% extends "layouts/main.html" %}
{% set pageName="Preferred name" %}

{% block header %}
{% include "/bfs/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/bfs/partials/identity-bar/bfs-question.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

      <form method="post" action="/bfs/check-details/family-members/relationship-answer" id="myForm" name="myForm" onsubmit="return validateForm()">

        <div class="govuk-form-group" id="error-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="event-name">
              What is {{ data['fmFirstName'] }} {{ data['fmLastName'] }}'s relationship to the victim?
            </label>
          </h1>

          <input class="govuk-input" id="event-name" name="fmRelationship" type="text" value="{{ data['fmRelationship'] }}">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/check-details/family-member-relationship.js"></script>
{% endblock %}
