{% extends "layouts/main.html" %}

{% set pageName="Who will be the meeting lead?" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <div data-module="moj-add-another">
      <h2 class="govuk-heading-l moj-add-another__heading" tabindex="-1">Who will be the meeting lead?</h2>
      <form method="post">
        <fieldset class="govuk-fieldset moj-add-another__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][first_name]">
              Name </label>
            <input class="govuk-input" id="person[0][first_name]" name="person[0][first_name]" type="text" data-name="person[%index%][first_name]" data-id="person[%index%][first_name]">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="person[0][last_name]">
              Role
            </label>
            <input class="govuk-input" id="person[0][last_name]" name="person[0][last_name]" type="text" data-name="person[%index%][last_name]" data-id="person[%index%][last_name]">
          </div>

        </fieldset>
    </div>

    <div class="govuk-button-group">

      <a href="support-needs" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
        Save and continue
      </a>
    </div>
  </div>
  </form>
</div>

</div>
</div>
{% endblock %}
