{% extends "layouts/main.html" %}

{% set pageName="Purpose of meeting" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form class="form" action="/did-victim-request3" method="post">
<h1 class="govuk-heading-l">You've already sent an offer to Sarah Phillips</h1>
<p class="govuk-body">You can arrange a meeting after they accept the offer.</p>
    {{ govukRadios({
      name: "meeting4",
      value: data['meeting4'],
      fieldset: {
        legend: {
          text: "Has Sarah Phillips accepted the meeting offer?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}

      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary"
      }) }}
    </div>
    </form>

  </div>
</div>
{% endblock %}
