{% extends "layouts/main.html" %}

{% set pageName="Telephone call details" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

<h1 class="govuk-heading-l">Details of the meeting offered</h1>

            <form class="form" action="/howoffered2-answer" method="post">


            {{ govukRadios({
              name: "howoffered2",
              value: data['howoffered2'],
              fieldset: {
                legend: {
                  text: "How was it offered?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "letter-post",
                  text: "Letter by post"
                },
                {
                  value: "letter-email",
                  text: "Letter by email"
                },
                {
                  value: "letter-police",
                  text: "Letter by poilce"
                },
                {
                  value: "letter-isva",
                  text: "Letter by ISVA"
                },
                {
                  value: "telephone",
                  text: "By telephone"
                }
              ]
            }) }}



            <div class="govuk-form-group" id="error-form-group-1">
                <label class="govuk-label govuk-label--m" for="telephone-call-date-2">
          When was it offered?
                </label>

                <div class="govuk-hint" id="telephone-call-date-hint-2">
                    Use the date picker or enter a date. For example, 17/05/2025.
                </div>

                <div class="moj-datepicker" id="telephone-call-date-picker" data-module="moj-date-picker" data-excluded-days="saturday sunday">

                    <input type="text" class="govuk-input moj-js-datepicker-input" id="telephone-call-date-2"
                        name="telephoneCallDate2"
                        autocomplete="off"
                        aria-describedby="telephone-call-date-hint-2"
                        value="{{ data['telephoneCallDate2'] }}" />
                </div>

                          </div>



            <div class="govuk-button-group">
              {{ govukButton({
                text: "Continue"
              }) }}

              {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary"
              }) }}
            </div>
            </form>



    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/ur/nfa/record/telephone-call-details.js"></script>
{% endblock %}
