{% block content %}
{% set hasFlo = (data['familyLiaisonOfficerDeleted'] != 'yes') and (data['familyLiaisonOfficerName']) and (data['familyLiaisonOfficerEmailAddress'] or data['familyLiaisonOfficerPhoneNumber']) %}
{% set hasIdva = (data['idvaDeleted'] != 'yes') and (data['idvaName']) and (data['idvaEmailAddress'] or data['idvaPhoneNumber']) %}
{% set hasIsva = (data['isvaDeleted'] != 'yes') and (data['isvaName']) and (data['isvaEmailAddress'] or data['isvaPhoneNumber']) %}

<nav class="x-govuk-secondary-navigation govuk-!-margin-bottom-6" aria-label="Case contacts">
    <ul class="x-govuk-secondary-navigation__list">
        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" aria-current="page" href="#case-contacts-contacts" data-case-contacts-tab="case-contacts-contacts">Contacts</a>
        </li>
        <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="#case-contacts-cms" data-case-contacts-tab="case-contacts-cms">CMS contacts</a>
        </li>
    </ul>
</nav>

<div id="case-contacts-contacts" class="case-contacts-panel">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <!-- <h3 class="govuk-heading-m">Contacts</h3> -->

            <p class="govuk-body">
                You can add only one contact for each role type.
            </p>

            <ul class="govuk-list">
                {% if not hasFlo %}
                <li>
                    <a href="/v50/victim/case-contacts/family-liaison-officer" class="govuk-link govuk-link--no-visited-state">Add a Family Liaison Officer</a>
                </li>
                {% endif %}
                {% if not hasIsva %}
                <li>
                    <a href="/v50/victim/case-contacts/isva" class="govuk-link govuk-link--no-visited-state">Add an Independent Sexual Violence Advisor (ISVA)</a>
                </li>
                {% endif %}
                {% if not hasIdva %}
                <li>
                    <a href="/v50/victim/case-contacts/idva" class="govuk-link govuk-link--no-visited-state">Add an Independent Domestic Violence Advisor (IDVA)</a>
                </li>
                {% endif %}
            </ul>

            {% if not hasFlo and not hasIsva and not hasIdva %}
            {% else %}
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Role</th>
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Address</th>
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Telephone</th>
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Change</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% if hasFlo %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Family Liaison Officer</th>
                        <td class="govuk-table__cell">{{ data['familyLiaisonOfficerName'] }}</td>
                        <td class="govuk-table__cell">Not applicable</td>
                        <td class="govuk-table__cell">{{ data['familyLiaisonOfficerEmailAddress'] }}</td>
                        <td class="govuk-table__cell">{{ data['familyLiaisonOfficerPhoneNumber'] }}</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="/v50/victim/case-contacts/family-liaison-officer">Change<span class="govuk-visually-hidden"> Family Liaison Officer contact details</span></a></td>
                    </tr>
                    {% endif %}
                    {% if hasIdva %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Independent Domestic Violence Advisor (IDVA)</th>
                        <td class="govuk-table__cell">{{ data['idvaName'] }}</td>
                        <td class="govuk-table__cell">{{ data['idvaAddressLine1'] }}</td>
                        <td class="govuk-table__cell">{{ data['idvaEmailAddress'] }}</td>
                        <td class="govuk-table__cell">{{ data['idvaPhoneNumber'] }}</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="/v50/victim/case-contacts/idva">Change<span class="govuk-visually-hidden"> Independent Domestic Violence Advisor contact details</span></a></td>
                    </tr>
                    {% endif %}
                    {% if hasIsva %}
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Independent Sexual Violence Advisor (ISVA)</th>
                        <td class="govuk-table__cell">{{ data['isvaName'] }}</td>
                        <td class="govuk-table__cell">{{ data['isvaAddressLine1'] }}</td>
                        <td class="govuk-table__cell">{{ data['isvaEmailAddress'] }}</td>
                        <td class="govuk-table__cell">{{ data['isvaPhoneNumber'] }}</td>
                        <td class="govuk-table__cell"><a class="govuk-link" href="/v50/victim/case-contacts/isva">Change<span class="govuk-visually-hidden"> Independent Sexual Violence Advisor contact details</span></a></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<div id="case-contacts-cms" class="case-contacts-panel" hidden>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <!-- <h3 class="govuk-heading-m">CMS contacts</h3> -->

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Role</th>
                        <th scope="col" class="govuk-table__header">Name</th>
                        <th scope="col" class="govuk-table__header">Organisation</th>
                        <th scope="col" class="govuk-table__header">Email</th>
                        <th scope="col" class="govuk-table__header">Telephone</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Counsel</th>
                        <td class="govuk-table__cell">{{ data['counselSurname'] | upper }}, {{ data['counselForename'] }}</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">{{ data['counselEmailAddress'] }}</td>
                        <td class="govuk-table__cell">{{ data['counselPhoneNumber'] }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Defence solicitor</th>
                        <td class="govuk-table__cell">{{ data['defenceSolicitorSurname'] | upper }}, {{ data['defenceSolicitorForename'] }}</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">{{ data['defenceSolicitorEmailAddress'] }}</td>
                        <td class="govuk-table__cell">{{ data['defenceSolicitorPhoneNumber'] }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">High Court Advocate</th>
                        <td class="govuk-table__cell">{{ data['highCourtAdvocateSurname'] | upper }}, {{ data['highCourtAdvocateForename'] }}</td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell">{{ data['highCourtAdvocateEmailAddress'] }}</td>
                        <td class="govuk-table__cell">{{ data['highCourtAdvocatePhoneNumber'] }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Officer in Charge</th>
                        <td class="govuk-table__cell">{{ data['oicRank'] }} {{ data['oicSurname'] | upper }}, {{ data['oicForename'] }}</td>
                        <td class="govuk-table__cell">{{ data['policeForce'] or 'Metropolitan Police' }}</td>
                        <td class="govuk-table__cell">{{ data['oicEmailAddress'] }}</td>
                        <td class="govuk-table__cell">{{ data['oicPhoneNumber'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}