{% block content %}
<h2 class="govuk-heading-l">Communications</h2>

<nav class="x-govuk-secondary-navigation" aria-label="Communications">
    <ul class="x-govuk-secondary-navigation__list">
        {% if (data['subTab'] == "ptm") %}
        <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="#">Charging decision</a>
        </li>

        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" aria-current="page" href="/v30/victim-record?subTab=ptm#communications">CPS meetings</a>
        </li>
        {% else %}
        <li class="x-govuk-secondary-navigation__list-item x-govuk-secondary-navigation__list-item--current">
            <a class="x-govuk-secondary-navigation__link" aria-current="page" href="/v30/victim-record?subTab=charging-decision#communications">Charging decision</a>
        </li>

        <li class="x-govuk-secondary-navigation__list-item">
            <a class="x-govuk-secondary-navigation__link" href="/v30/victim-record?subTab=ptm#communications">CPS meetings</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% if (data['subTab'] == "charging-decision") %}
{% include "/v50/meetings/communications.html" %}

{% elif (data['subTab'] == "ptm") %}
{% include "/v50/meetings/communications.html" %}

{% endif %}

{% endblock %}
