{% extends "layouts/main.html" %}

{% set pageName="Purpose of meeting" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form class="form" action="/did-victim-request2" method="post">


    {{ govukRadios({
      name: "meeting2",
      value: data['meeting2'],
      fieldset: {
        legend: {
          text: "Is Sarah Phillips eligible for expenses?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    <div class="govuk-button-group">

<a href="agree-to-research.html" role="button" draggable="false" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
Continue<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>
<a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
Cancel<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>
</div>

    </form>

  </div>
</div>
{% endblock %}
