{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Case information
                </h2>
            </div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            CPS area
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['area'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Police force
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['policeForce'] or 'Metropolitan Police' }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Case status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['caseStatus'] or 'Pending' }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Charging type
                        </dt>
                        {% if data['caseType'] %}
                            <dd class="govuk-summary-list__value">
                                {{ data['caseType'] or 'Green' }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state" href="/v51/victim/case-information/charging-type">Change<span class="govuk-visually-hidden"> charging type</span></a>
                            </dd>
                        {% else %}
                            <dd class="govuk-summary-list__value">
                                <a class="govuk-link govuk-link--no-visited-state" href="/v51/victim/case-information/charging-type">Select charging type</a>
                            </dd>
                        {% endif %}
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Monitoring codes
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">
                                Mental health
                            </p>
                            <p class="govuk-body">
                                Domestic violence
                            </p>
                            <p class="govuk-body">
                                Prohibited weapons
                            </p>
                            <p class="govuk-body">
                                Human trafficking
                            </p>
                            <p class="govuk-body">
                                Media interest
                            </p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Other victims
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">
                                John Doe (<a href="#">onboard</a>)
                            </p>
                            <p class="govuk-body">
                                <a href="/v51/victim/jane-smith">Jane Smith</a>
                            </p>
                            <p class="govuk-body">
                                <a href="#">Alice Johnson</a>
                            </p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Next hearing
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['nextHearing'] }}
                            <p class="govuk-body">First hearing</p><p class="govuk-body">Westminster Magistrates' Court</p><p class="govuk-body">Thursday, 25 June 2026 at 10:30am</p>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Defendants
                </h2>
            </div>

            <div class="govuk-summary-card__content">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">DAVIES, Bella</h3>
                <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Age</dt>
                        <dd class="govuk-summary-list__value">34 (15/9/1990)</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Charge</dt>
                        <dd class="govuk-summary-list__value">Grievous bodily harm</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Custody</dt>
                        <dd class="govuk-summary-list__value">In police custody, 15 days</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Custody time limit</dt>
                        <dd class="govuk-summary-list__value"></dd>
                    </div>
                </dl>

                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">SIMPSON, Bart</h3>
                <dl class="govuk-summary-list govuk-!-margin-bottom-6">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Age</dt>
                        <dd class="govuk-summary-list__value">15 (8/8/2010)</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Charge</dt>
                        <dd class="govuk-summary-list__value">Actual bodily harm</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Custody</dt>
                        <dd class="govuk-summary-list__value">On police bail, 6 days</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Custody time limit</dt>
                        <dd class="govuk-summary-list__value"></dd>
                    </div>
                </dl>

                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">JONES, Vince</h3>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Age</dt>
                        <dd class="govuk-summary-list__value">45 (15/9/1979)</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Charge</dt>
                        <dd class="govuk-summary-list__value">Actual bodily harm</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Custody</dt>
                        <dd class="govuk-summary-list__value">On police bail, 5 days</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Custody time limit</dt>
                        <dd class="govuk-summary-list__value"></dd>
                    </div>
                </dl>
            </div>
        </div>       
    </div>
</div>
{% endblock %}