{% extends "layouts/main.html" %}

{% set pageName="Purpose of meeting" %}

{% block header %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form class="form" action="did-counsel-attend" method="post">
    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
     Who was the meeting lead?
        </h1>
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="logMeetingLead" type="radio" value="High court advocate (SHEAF, Jessica)"{% if data['logMeetingLead'] == "High court advocate (SHEAF, Jessica)" %} checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              High court advocate (SHEAF, Jessica)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="logMeetingLead" type="radio" value="Family liaison officer (BIDWELL, Jane)"{% if data['logMeetingLead'] == "Family liaison officer (BIDWELL, Jane)" %} checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Family liaison officer (BIDWELL, Jane)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-3" name="logMeetingLead" type="radio" value="Independent domestic violence adviser (IDVA) (SAKAMOTO, Hadji)"{% if data['logMeetingLead'] == "Independent domestic violence adviser (IDVA) (SAKAMOTO, Hadji)" %} checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
            Independent domestic violence adviser (IDVA) (SAKAMOTO, Hadji)
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-4" name="logMeetingLead" type="radio" value="Police officer in charge (PC FISHER, Jane)"{% if data['logMeetingLead'] == "Police officer in charge (PC FISHER, Jane)" %} checked{% endif %}>
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
          Police officer in charge (PC FISHER, Jane)
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <a href="add-another2" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
Add another person <span class="govuk-visually-hidden"> </span>
  </a>

  <br/>
    <br/>
      <br/>
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}
      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary"
      }) }}
    </div>
    </form>


  </div>
</div>
{% endblock %}
