{% block content %}
<h2 class="govuk-heading-l">Communications</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% if (data['pmoc'] == "email") %}
        {% if (data['vclStatus'] == "email-delivered") %}
        {% else %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Only send further emails to {{ data['victimForename'] }} {{ data['victimSurname'] }} if they have correctly answered the security questions.
            </strong>
        </div>
        {% endif %}
        {% endif %}

        {% if (data['pmoc'] == "") %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Preferred method of contact unknown
                <p class="govuk-body govuk-!-margin-bottom-0">
                    Confirm this before you contact the victim, then <a href="/delivery/vcl/victim-details/preferred-method-of-contact.html" class="govuk-link">select a preferred method of contact</a>.
                </p>
            </strong>
        </div>
        {% endif %}

        {% if (data['telephone-number'] == "") %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Preferred method of contact is missing
                <p class="govuk-body govuk-!-margin-bottom-0">
                    Confirm it first then <a href="/delivery/vcl/victim-details/telephone-number.html" class="govuk-link">enter a telephone number</a>.
                </p>
            </strong>
        </div>
        {% endif %}
    </div>
</div>

<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
        {% if (data['subTab'] == "ptm") %}
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/vcl/victim-record?subTab=charging-decision#communications">Pre-charge decision</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/delivery/vcl/victim-record?subTab=ptm#communications">CPS pre-trial meetings</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/vcl/victim-record?subTab=vcl#communications">VCL Scheme</a>
        </li>
        {% elif (data['subTab'] == "vcl") %}
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/vcl/victim-record?subTab=charging-decision#communications">Pre-charge decision</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/vcl/victim-record?subTab=ptm#communications">CPS pre-trial meetings</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/delivery/vcl/victim-record?subTab=vcl#communications">VCL Scheme</a>
        </li>
        {% else %}
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/delivery/vcl/victim-record?subTab=charging-decision#communications">Pre-charge decision</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/vcl/victim-record?subTab=ptm#communications">CPS pre-trial meetings</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="/delivery/vcl/victim-record?subTab=vcl#communications">VCL Scheme</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% if (data['subTab'] == "charging-decision") %}
{% include "/delivery/vcl/victim-record/pcd/index.html" %}

{% elif (data['subTab'] == "ptm") %}
{% include "/delivery/vcl/victim-record/pre-trial/pre-trial-meeting/index.html" %}

{% elif (data['subTab'] == "vcl") %}
{% include "/delivery/vcl/victim-record/vcl/index.html" %}

{% endif %}

{% endblock %}