{% extends "layouts/main.html" %}
{% set pageName = "Email delivered" %}

{% block header %}
{% include "/delivery/wat3/partials/header/none-selected.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Email delivered to <br>{{ data['victimForename'] }} {{ data['victimSurname'] }}
      </h1>
    </div>

    <!-- <p class="govuk-body">
      The email was successfully delivered to the victim, {{ data['victimForename'] }} {{ data['victimSurname'] }} ({{ data['victimEmailAddress'] }}).
    </p> -->

    <p class="govuk-body">
      The information pack and Crest survey were also sent.
    </p>

    <h2 class="govuk-heading-m">Further information</h2>

    <p class="govuk-body">
      You can view a log of the delivered email on the 'Charging decision' tab of the victim's page, within the Victim Case Application.
    </p>

    <p class="govuk-body">
      The letter was automatically saved on CMS.
    </p>

    {% if (data['pmoc'] == "home-phone") or (data['pmoc'] == "mobile") %}

    {% if (data['pcdCallAttempt'] == "1") %}
    
    {% if (data['pcdFumoc'] == "email") %}
    <a href="/delivery/wat3/victim?pcdStatus=fu-email-after-call-1&notifyStatus=delivered&pcdSent=yes&success=no&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    {% elif (data['pcdAttemptToContactAgain'] == "email") %}
    <a href="/delivery/wat3/victim?pcdStatus=email-after-call-attempt-1&notifyStatus=delivered&pcdSent=yes&success=no&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    {% endif %}

    {% elif (data['pcdCallAttempt'] == "2") %}

    {% if (data['pcdFumoc'] == "email") %}
    <a href="/delivery/wat3/victim?pcdStatus=fu-email-after-call-2&notifyStatus=delivered&pcdSent=yes&success=no&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    {% elif (data['pcdAttemptToContactAgain'] == "email") %}
    <a href="/delivery/wat3/victim?pcdStatus=email-after-call-attempt-2&notifyStatus=delivered&pcdSent=yes&success=no&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    {% endif %}

    {% elif (data['pcdCallAttempt'] == "3") %}
    <a href="/delivery/wat3/victim?pcdStatus=fu-email-after-call-3&notifyStatus=delivered&pcdSent=yes&success=no&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% endif %}
    {% elif (data['pmoc'] == "email") %}

    <a href="/delivery/wat3/victim?pcdStatus=email-delivered&notifyStatus=delivered&pcdSent=yes&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    <!-- {% if (data['pcdCallAttempt'] == "") %}
    <a href="/delivery/wat3/victim?pcdStatus=email-delivered&notifyStatus=delivered&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['pcdCallAttempt'] == "1") %}
    <a href="/delivery/wat3/victim?pcdStatus=email-after-call-attempt-1&notifyStatus=delivered&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['pcdCallAttempt'] == "2") %}
    <a href="/delivery/wat3/victim?pcdStatus=email-after-call-attempt-2&notifyStatus=delivered&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% endif %} -->
    {% endif %}

  </div>
</div>
{% endblock %}