{% extends "layouts/main.html" %}
{% set pageName = "Letter added to print queue" %}

{% block header %}
{% include "/delivery/wat3/partials/header/none-selected.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Letter sent for printing
      </h1>
    </div>

    <p class="govuk-body">
      The letter to inform {{ data['victimForename'] }} {{ data['victimSurname'] }} of the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %} was successfully sent for printing.
    </p>

    <p class="govuk-body">
      The information pack and Crest survey were also sent for printing.
    </p>

    <h2 class="govuk-heading-m">Further information</h2>

    <p class="govuk-body">
      You can view a record of the letter on the 'Charging decision' tab of the victim's page, within the Victim Case Application.
    </p>

    <p class="govuk-body">
      The letter was automatically saved to CMS as well.
    </p>

    {% if (data['pmoc'] == "home-phone") or (data['pmoc'] == "mobile") %}

    {% if (data['pcdCallAttempt'] == "1") %}
    <a href="/delivery/wat3/victim?nfaStatus=fu-letter-after-call-1&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['pcdCallAttempt'] == "2") %}
    <a href="/delivery/wat3/victim?nfaStatus=fu-letter-after-call-2&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['pcdCallAttempt'] == "3") %}
      {% if (data['pcdVictimInformed3'] == "Yes") %}
      <a href="/delivery/wat3/victim?nfaStatus=fu-letter-after-call-3&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
      {% else %}
      <a href="/delivery/wat3/victim?nfaStatus=letter-after-call-attempt-3&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
      {% endif %}

    {% endif %}
    {% elif (data['pmoc'] == "email") %}

    {% if (data['pcdCallAttempt'] == "") %}
    <a href="/delivery/wat3/victim?nfaStatus=letter-dispatched&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['pcdCallAttempt'] == "1") %}
    <a href="/delivery/wat3/victim?nfaStatus=letter-after-call-attempt-1&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['pcdCallAttempt'] == "2") %}
    <a href="/delivery/wat3/victim?nfaStatus=letter-after-call-attempt-2&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['pcdCallAttempt'] == "3") %}
    <a href="/delivery/wat3/victim?nfaStatus=letter-after-call-attempt-3&secondaryNav=pcd" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% endif %}
    {% endif %}

  </div>
</div>
{% endblock %}