{% extends "layouts/main.html" %}

{% set pageName="Reason for changing the meeting" %}

{% block header %}
{% include "/bfs/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    {% set otherHtml %}
    {{ govukTextarea({
      id: "reschedule-reason-other",
      name: "rescheduleReasonOther",
      label: { text: "Provide details" }
    }) }}
    {% endset -%}

    <form action="/bfs/meetings-2/rescheduled/reason-why-answer" method="post" accept-charset="UTF-8">

      {{ govukRadios({
        name: "rescheduleReason",
        fieldset: {
          legend: {
            text: "What is the reason for changing the date and time?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          { value: "Sarah Phillips's bereaved family not available", text: "Sarah Phillips's bereaved family not available" },
          { value: "Attendee not available", text: "Attendee not available" },
          { value: "Incorrect meeting date", text: "Incorrect meeting date" },
          {
            value: "Other",
            text: "Other",
            conditional: {
              html: otherHtml
            }
          }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Continue" }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/record/telephone-call-details.js"></script>
{% endblock %}
