{% extends "layouts/main.html" %}
{% set pageName="Victim category" %}

{% block header %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v50/victim/victim-details/category-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm">

      <div class="govuk-form-group" id="error-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Which categories apply to {{ data['victimForename'] }} {{ data['victimSurname'] }}?</h1>
          </legend>
          <div class="govuk-checkboxes" id="checkbox-group" data-module="govuk-checkboxes">
            {% for opt in [
              {value: 'Serving police officer'},
              {value: 'Child under 18 years'},
              {value: 'Professional', hint: 'Doctors, dentists, veterinary surgeons, lawyers and accountants are the only witnesses who may be considered professional.'},
              {value: 'Expert witness'},
              {value: 'Vulnerable'},
              {value: 'Intimidated'},
              {value: 'Special'},
              {value: 'Serving prisoner or on remand'},
              {value: 'Interpreter instructed by the prosecution'},
              {value: 'Greatest need'}
            ] %}
            <div class="govuk-checkboxes__item">
              <input type="checkbox" class="govuk-checkboxes__input" id="category-{{ loop.index }}" name="victimCategory" value="{{ opt.value }}" {{ checked('victimCategory', opt.value) }}>
              <label class="govuk-label govuk-checkboxes__label" for="category-{{ loop.index }}">{{ opt.value }}</label>
              {% if opt.hint %}
              <div id="category-{{ loop.index }}-hint" class="govuk-hint govuk-checkboxes__hint">{{ opt.hint }}</div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>
  </div>
</div>
{% endblock %}


