{% extends "layouts/main.html" %}
{% set pageName="Preferred correspondence language" %}

{% block header %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v50/victim/victim-details/correspondence-language-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What is {{ data['victimForename'] }} {{ data['victimSurname'] }}'s preferred correspondence language?</h1>
          </legend>
          <div class="govuk-radios" id="radio-group" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="correspondence-language-1" name="preferredCorrespondenceLanguage" value="English" {{ checked('preferredCorrespondenceLanguage', 'English') }}>
              <label class="govuk-label govuk-radios__label" for="correspondence-language-1">English</label>
            </div>
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="correspondence-language-2" name="preferredCorrespondenceLanguage" value="Welsh" {{ checked('preferredCorrespondenceLanguage', 'Welsh') }}>
              <label class="govuk-label govuk-radios__label" for="correspondence-language-2">Welsh</label>
            </div>
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="correspondence-language-3" name="preferredCorrespondenceLanguage" value="Other" {{ checked('preferredCorrespondenceLanguage', 'Other') }} data-aria-controls="conditional-other-language">
              <label class="govuk-label govuk-radios__label" for="correspondence-language-3">Other</label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-language">
              <div class="govuk-form-group" id="error-form-group-language">
                <label class="govuk-label" for="other-language">Language</label>
                <input class="govuk-input govuk-!-width-two-thirds" id="other-language" name="preferredCorrespondenceLanguageOther" type="text" value="{{ data['preferredCorrespondenceLanguageOther'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/victim-details/correspondence-language.js"></script>
{% endblock %}
