{% extends "layouts/main.html" %}
{% set pageName="Disability or access needs" %}

{% block header %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v50/victim/victim-details/disability-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Does Sarah Phillips have a disability?</h1>
          </legend>
          <div class="govuk-radios" id="radio-group" data-module="govuk-radios">
            {% for opt in ['Yes','No','Unknown'] %}
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="disability-{{ loop.index }}" name="victimDisability" value="{{ opt }}" {{ checked('victimDisability', opt) }}>
              <label class="govuk-label govuk-radios__label" for="disability-{{ loop.index }}">{{ opt }}</label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/shared/victim-details/disability.js"></script>
{% endblock %}
