{% extends "layouts/main.html" %}
{% set pageName="Preferred method of contact for police" %}

{% block header %}
{% include "/v50/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v50/victim/victim-details/pmoc-police-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">What is {{ data['victimForename'] }} {{ data['victimSurname'] }}'s preferred method of contact for police?</h1>
          </legend>
          <div class="govuk-radios" id="radio-group" data-module="govuk-radios">
            {% for opt in ['Home phone','Mobile','Email','Post','In person'] %}
            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="pmoc-police-{{ loop.index }}" name="pmocPolice" value="{{ opt }}" {{ checked('pmocPolice', opt) }}>
              <label class="govuk-label govuk-radios__label" for="pmoc-police-{{ loop.index }}">{{ opt }}</label>
            </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group" id="error-form-group-reason">
        <label class="govuk-label govuk-label--m" for="pmoc-police-reason">Reason for change</label>
        <textarea class="govuk-textarea" id="pmoc-police-reason" name="pmocPoliceReason" rows="4"></textarea>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/shared/victim-details/pmoc-police.js"></script>
{% endblock %}
