{% block content %}
{% if (data['pmoc'] == "home-phone" or data['pmoc'] == "mobile") or (data['pcdVictimInformed3'] == "No") %}
{% else %}
<p class="govuk-body">
    {{ data['victimForename'] }} {{ data['victimSurname'] }} has not yet been informed by the CPS about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}.
</p>
{% endif %}
{% if (data['pmoc'] == "home-phone" or data['pmoc'] == "mobile") %}
{% if (data['pcdCallAttempt'] == "1") %}
{% include "/delivery/wat3/victim/pcd/details/call-attempt-1.html" %}

<hr class="govuk-section-break govuk-section-break--m">

{% elif (data['pcdCallAttempt'] == "2") %}
{% include "/delivery/wat3/victim/pcd/details/call-attempt-2.html" %}

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Previous contact attempts
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include "/delivery/wat3/victim/pcd/details/call-attempt-1.html" %}
  </div>
</details>

{% elif (data['pcdCallAttempt'] == "3") %}
{% include "/delivery/wat3/victim/pcd/details/call-attempt-3.html" %}

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Previous contact attempts
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include "/delivery/wat3/victim/pcd/details/call-attempt-2.html" %}

    <hr class="govuk-section-break govuk-section-break--m">

    {% include "/delivery/wat3/victim/pcd/details/call-attempt-1.html" %}
  </div>
</details>

{% endif %}

{% if (data['pcdFumoc'] == "none") %}
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Letter sent by
        </dt>
        <dd class="govuk-summary-list__value">
            Letter not wanted
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            More details
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['pcdNoFumocDetails'] }}
        </dd>
    </div>
</dl>
{% else %}

<p class="govuk-body">
    You can now send the letter.
</p>
{% endif %}

{% if (data['pcdVictimInformed3'] == "No") %}
<p class="govuk-body">
  You must inform {{ data['victimForename'] }} {{ data['victimSurname'] }} by post because you were unable to by phone.
</p>
{% endif %}

{% if (data['pcdFumoc'] == "email") or (data['pcdAttemptToContactAgain'] == "email") %}
<a href="/delivery/wat3/pcd/send/check-email-details" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Check details before sending<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a>
{% elif (data['pcdFumoc'] == "post") or (data['pcdAttemptToContactAgain'] == "post") %}
<!-- <a href="/delivery/wat3/pcd/send/check-letter-details" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Check details before printing<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a> -->
<a href="/delivery/wat3/pcd/send/letter-details" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Log a letter<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a>
{% elif (data['pcdFumoc'] == "none") %}

{% elif (data['pcdVictimInformed3'] == "No") %}
<!-- <a href="/delivery/wat3/pcd/send/check-letter-details" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Check details before printing<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a> -->
<a href="/delivery/wat3/pcd/send/letter-details" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Log a letter<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a>
{% else %}
<p class="govuk-body">
    No phone call was logged. It is also not known how the victim wants to receive the letter.
</p>
{% endif %}

{% elif (data['pmoc'] == "email") %}
<p class="govuk-body">
    You can now send the letter.
</p>

<a href="/delivery/wat3/pcd/send/check-email-details" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Check details before sending<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a>

{% elif (data['pmoc'] == "post") %}
<p class="govuk-body">
    You can now send the letter.
</p>

<!-- <a href="/delivery/wat3/pcd/send/check-letter-details" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Check details before dispatching<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a> -->
<a href="/delivery/wat3/pcd/send/letter-details" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Log a letter<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a>

{% elif (data['pmoc'] == "via-police") %}
<p class="govuk-body">
    The letter is approved to send to the officer in charge.
</p>

<a href="/delivery/wat3/pcd/send/check-email-details?recipient=oic" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Check details before sending<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a>

<!-- <div class="cps-reading-width">
    <p class="govuk-body">
        {{ data['victimForename'] }} {{ data['victimSurname'] }} should only be informed about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %} by the police.
    </p>
</div> -->

{% elif (data['pmoc'] == "via-isva") %}
<p class="govuk-body">
    The letter is approved to send to the victim's independent sexual violence adviser (ISVA).
</p>

<a href="/delivery/wat3/pcd/send/check-email-details?recipient=isva" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Check details before sending<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a>

<!-- <div class="cps-reading-width">
    <p class="govuk-body">
        {{ data['victimForename'] }} {{ data['victimSurname'] }} should only be informed about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %} by their independent sexual violence adviser (ISVA).
    </p>
</div> -->

{% else %}
<p class="govuk-body">
  You can now send the letter.
</p>
{% endif %}
{% endblock %}