{% extends "layouts/main.html" %}
{% set pageName="Communication type" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v51/vcl/draft/vcl-type-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm">

        <div class="govuk-form-group" id="error-form-group">
            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        What do you need to inform {{ data['victimForename'] }} {{ data['victimSurname'] }} about?
                    </h1>
                </legend>

                <div class="govuk-hint">
                    This will determine the type of task created to inform the victim.
                </div>

                <div class="govuk-radios" id="radio-group">

                    <div class="govuk-radios__item">
                        <input type="radio" class="govuk-radios__input" id="comm-type-dtc" name="commType" value="dtc" {{ checked('commType','dtc') }}>
                        <label class="govuk-label govuk-radios__label" for="comm-type-dtc">
                            Decision to charge
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input type="radio" class="govuk-radios__input" id="comm-type-nfa" name="commType" value="nfa" {{ checked('commType','nfa') }}>
                        <label class="govuk-label govuk-radios__label" for="comm-type-nfa">
                            No further action decision
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input type="radio" class="govuk-radios__input" id="comm-type-stop" name="commType" value="stopped-charge" {{ checked('commType','stopped-charge') }}>
                        <label class="govuk-label govuk-radios__label" for="comm-type-stop">
                            Stopped charge
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input type="radio" class="govuk-radios__input" id="comm-type-altered-charge" name="commType" value="altered-charge" {{ checked('commType','altered-charge') }}>
                        <label class="govuk-label govuk-radios__label" for="comm-type-altered-charge">
                            Substantially altered charge
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

    </form>

  </div>
</div>
{% endblock %}
