{% extends "layouts/main.html" %}
{% set pageName="Letter details" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form action="/v51/vcl/send/letter-details-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm">
            <h1 class="govuk-heading-l">Letter details</h1>

            <div class="govuk-form-group" id="error-form-group-1">
                <label class="govuk-label govuk-label--m" for="letter-dispatch-date">
                    Date sent
                </label>

                <div class="govuk-hint" id="letter-dispatch-date-hint">
                    Use the date picker or enter a date. For example, 17/05/2025
                </div>

                <div class="moj-datepicker" id="letter-dispatch-date-picker" data-module="moj-date-picker" data-excluded-days="">

                    <input type="text" class="govuk-input moj-js-datepicker-input" id="letter-dispatch-date"
                        name="vdLetterDate"
                        autocomplete="off"
                        aria-describedby="letter-dispatch-date-hint"
                        value="{{ data['vdLetterDate'] }}" />
                </div>
            </div>

            <div class="govuk-form-group" id="error-form-group-person-contacted">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Person contacted
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios" id="vcl-letter-individual-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="vcl-letter-individual-victim" name="vdLetterIndividual" type="radio" value="Victim">
                            <label class="govuk-label govuk-radios__label" for="vcl-letter-individual-victim">
                                Victim
                            </label>
                            <div id="vcl-letter-individual-victim-hint" class="govuk-hint govuk-radios__hint">
                                {{ data['victimSurname'] | upper }}, {{ data['victimForename'] }}
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="vcl-letter-individual-police" name="vdLetterIndividual" type="radio" value="Via police">
                            <label class="govuk-label govuk-radios__label" for="vcl-letter-individual-police">
                                Via police
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="vcl-letter-individual-isva" name="vdLetterIndividual" type="radio" value="Via ISVA">
                            <label class="govuk-label govuk-radios__label" for="vcl-letter-individual-isva">
                                Via independent sexual violence adviser (ISVA)
                            </label>
                            {% if data['isvaName'] and data['isvaDeleted'] != 'yes' %}
                            <div id="vcl-letter-individual-isva-hint" class="govuk-hint govuk-radios__hint">
                                {{ data['isvaName'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="vcl-letter-individual-idva" name="vdLetterIndividual" type="radio" value="Via IDVA">
                            <label class="govuk-label govuk-radios__label" for="vcl-letter-individual-idva">
                                Via independent domestic violence adviser (IDVA)
                            </label>
                            {% if data['idvaName'] and data['idvaDeleted'] != 'yes' %}
                            <div id="vcl-letter-individual-idva-hint" class="govuk-hint govuk-radios__hint">
                                {{ data['idvaName'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="vcl-letter-individual-other" name="vdLetterIndividual" type="radio" value="Other" data-aria-controls="conditional-vcl-letter-individual">
                            <label class="govuk-label govuk-radios__label" for="vcl-letter-individual-other">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-vcl-letter-individual">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="vcl-letter-individual-name">
                                    Name
                                </label>
                                <input class="govuk-input" id="vcl-letter-individual-name" name="vdLetterIndividualName" type="text">
                            </div>
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="vcl-letter-individual-role">
                                    Role
                                </label>
                                <input class="govuk-input" id="vcl-letter-individual-role" name="vdLetterIndividualRole" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="letter-dispatch-notes">
                        Notes (optional)
                    </label>
                </h1>

                <textarea class="govuk-textarea" id="letter-dispatch-notes" name="vdLetterNotes" rows="4">{{ data['vdLetterNotes'] }}</textarea>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}
