{% extends "layouts/main.html" %}
{% set pageName="Was a text message sent to the victim?" %}

{% block header %}
{% include "/delivery/wat3/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/delivery/wat3/partials/identity-bar/index.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/delivery/wat3/pcd/call/was-text-message-sent-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

        <div class="govuk-form-group" id="error-form-group">
            <fieldset class="govuk-fieldset">

                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Was a text message sent to {{ data['victimForename'] }} {{ data['victimSurname'] }}?
                    </h1>
                </legend>

                <div class="govuk-radios" id="radio-group" data-module="govuk-radios">

                    <div class="govuk-radios__item">
                        <input type="radio" class="govuk-radios__input" id="was-text-message-sent-yes" name="pcdWasTextMessageSent" value="Yes" {{ checked('pcdWasTextMessageSent','Yes') }}>
                        <label class="govuk-label govuk-radios__label" for="was-text-message-sent-yes">
                            Yes
                        </label>
                    </div>

                    <div class="govuk-radios__item">
                        <input type="radio" class="govuk-radios__input" id="was-text-message-sent-no" name="pcdWasTextMessageSent" value="No" {{ checked('pcdWasTextMessageSent','No') }}>
                        <label class="govuk-label govuk-radios__label" for="was-text-message-sent-no">
                            No
                        </label>
                    </div>

                </div>
            </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/wat3/pcd/call/was-text-message-sent.js"></script>
{% endblock %}