{% extends "layouts/main.html" %}
{% set pageName = "Independent Domestic Violence Advisor (IDVA)" %}
{% set isExisting = data['idvaName'] %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form action="/v51/victim/case-contacts/idva-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

            <h1 class="govuk-heading-l">
                {% if isExisting %}Change{% else %}Add an{% endif %} Independent Domestic Violence Advisor (IDVA)
            </h1>

            <div class="govuk-form-group" id="error-form-group-name">
                <label class="govuk-label" for="idva-name">Name</label>
                <input type="text" class="govuk-input" id="idva-name" name="idvaName" autocomplete="name" value="{{ data['idvaName'] }}">
            </div>

            <div class="govuk-form-group" id="error-form-group-line1">
                <label class="govuk-label" for="idva-address-line-1">Address line 1</label>
                <input type="text" class="govuk-input" id="idva-address-line-1" name="idvaAddressLine1" autocomplete="address-line1" value="{{ data['idvaAddressLine1'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="idva-address-line-2">Address line 2 (optional)</label>
                <input type="text" class="govuk-input" id="idva-address-line-2" name="idvaAddressLine2" autocomplete="address-line2" value="{{ data['idvaAddressLine2'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="idva-address-line-3">Address line 3 (optional)</label>
                <input type="text" class="govuk-input" id="idva-address-line-3" name="idvaAddressLine3" autocomplete="address-level2" value="{{ data['idvaAddressLine3'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="idva-address-line-4">Address line 4 (optional)</label>
                <input type="text" class="govuk-input" id="idva-address-line-4" name="idvaAddressLine4" value="{{ data['idvaAddressLine4'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="idva-address-line-5">Address line 5 (optional)</label>
                <input type="text" class="govuk-input" id="idva-address-line-5" name="idvaAddressLine5" value="{{ data['idvaAddressLine5'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="idva-postcode">Postcode</label>
                <input type="text" class="govuk-input govuk-input--width-10" id="idva-postcode" name="idvaPostCode" autocomplete="postal-code" value="{{ data['idvaPostCode'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="idva-city">City</label>
                <input type="text" class="govuk-input govuk-!-width-two-thirds" id="idva-city" name="idvaCity" autocomplete="address-level2" value="{{ data['idvaCity'] }}">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="idva-county">County</label>
                <input type="text" class="govuk-input govuk-!-width-two-thirds" id="idva-county" name="idvaCounty" value="{{ data['idvaCounty'] }}">
            </div>

            <div class="govuk-form-group" id="error-form-group-email">
                <label class="govuk-label" for="idva-email">Email address</label>
                <input type="text" class="govuk-input" id="idva-email" name="idvaEmailAddress" autocomplete="email" value="{{ data['idvaEmailAddress'] }}">
            </div>

            <div class="govuk-form-group" id="error-form-group-telephone">
                <label class="govuk-label" for="idva-telephone">Telephone number</label>
                <input type="text" class="govuk-input govuk-!-width-two-thirds" id="idva-telephone" name="idvaPhoneNumber" autocomplete="tel" value="{{ data['idvaPhoneNumber'] }}">
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                <a href="/v51/victim?secondaryNav=case-contacts#case-contacts" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
                {% if isExisting %}
                <button type="submit" class="govuk-button govuk-button--warning" formaction="/v51/victim/case-contacts/idva-delete" formmethod="post">Delete</button>
                {% endif %}
            </div>

        </form>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/v51/case-contacts/idva.js"></script>
{% endblock %}
