{% extends "layouts/main.html" %}
{% set pageName="Preferred name" %}

{% block header %}
{% include "/v60/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v60/partials/identity-bar/victim-page-bfs-nocreatetask.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  
<div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="victimPreferredName">
                 Manage bereaved family members  
                    </label>
                </h1>
  <br/>
<h2 class="govuk-heading-m">1 family member added</h2>
             

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
           John Snow
            </dt>
            <dd class="govuk-summary-list__value">
              Brother
            </dd>
             
                  <dd class="govuk-summary-list__actions">
                   <ul class="govuk-summary-list__actions-list">
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
        </li>
        <li class="govuk-summary-list__actions-list-item">
          <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> contact details</span></a>
        </li>
      </ul>
                </dd>
  
          </div>

            </div>


             <div class="moj-button-action">
              <a href="family-members/name" class="govuk-link">
      <button type="submit" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button" href="family-members/name">
        Add another person
      </button>
      </a>
    </div>
    <div class="moj-button-action">
      <a href="index-1family" class="govuk-link">
      <button type="submit" class="govuk-button" data-module="govuk-button">
     Continue
      </button>
      </a>
    </div>


  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/check-details/preferred-name.js"></script>
{% endblock %}
