{% block content %}
<header class="govuk-header" data-module="govuk-header" style="background: var(--cps-color-theme)">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="#" class="govuk-header__link govuk-header__link--homepage" style="background: var(--cps-color-theme)">
        <span class="govuk-colour('white') govuk-!-font-weight-bold">CPS</span>
        <span data-expression="" class="govuk-!-margin-left-2 govuk-colour('white')">{{ serviceName }}</span>
      </a>
    </div>
    <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-4" style="float: right;">
      <a href="/v60/account" class="govuk-link govuk-link--no-underline" style="color: #ffffff; font-size: 16px; line-height: 1.25;">Account</a>
    </div>
  </div>
</header>
{% endblock %}