{% block content %}
{% include "/delivery/vcl/victim-record/communications/charging-decision/details/call-attempt-1.html" %}

<hr class="govuk-section-break govuk-section-break--m">

{% include "/delivery/vcl/victim-record/communications/charging-decision/details/email.html" %}

<hr class="govuk-section-break govuk-section-break--m">

<p class="govuk-body">
  The email was not delivered to {{ data['victimForename'] }} {{ data['victimSurname'] }}. This can happen when the recipient's inbox is full or their anti-spam filter rejects the email.
</p>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-button-group govuk-!-margin-bottom-0">
  <a href="/delivery/vcl/send/check-email-details" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Try to send email again<span class="govuk-visually-hidden"> to inform about the {% if (data['decisionType'] == "dtc") %}decision to charge{% elif (data['decisionType'] == "nfa") %}no further action decision{% else %}charging decision{% endif %}</span>
  </a>
</div>
{% endblock %}