{% extends "layouts/main.html" %}
{% set pageName="Check the details before drafting the letter" %}

{% block header %}
{% include "/delivery/wat/onb/header/vso.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">
            Check the details before onboarding {{ data['victimForename'] }} {{ data['victimSurname'] }}
        </h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service lead
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['serviceLead'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/delivery/wat/onb/service-lead">Change<span class="govuk-visually-hidden"> service lead</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Next task
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['nextTask'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/delivery/wat/onb/next-task">Change<span class="govuk-visually-hidden"> next task</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case type
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select case type</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Risk level
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select risk level</a>
                </dd>
            </div>
            <!-- <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Proceeding or withdrawn
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select if proceeding or withdrawn</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Unsupportive victim
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select if supportive or unsupportive</a>
                </dd>
            </div> -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Preferred method of contact
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['pmoc'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/delivery/wat/onb/preferred-method-of-contact">Change<span class="govuk-visually-hidden"> preferred method of contact</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Preferred corresponding language
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select preferred corresponding language</a>
                </dd>
            </div>
            {% if data['preferred-corresponding-language'] == "English" or data['preferred-corresponding-language'] == "" %}
            {% else %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Translator needed
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select if translator needed</a>
                </dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Preferred contact times
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Enter preferred contact times</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Preferred name
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Enter preferred name</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Victim Personal Statement status
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select Victim Personal Statement status</a>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">
            Now onboard the victim
        </h2>
        <p class="govuk-body">
            By confirming these details you will onboard {{ data['victimForename'] }} {{ data['victimSurname'] }} to the {{ serviceName }}. They can then be assigned to a member of the {{ data['serviceLead'] }} service.
        </p>
        <form action="/delivery/wat/onb/check-details-answer" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Confirm and onboard
            </button>
        </form>
    </div>
</div>
{% endblock %}