{% extends "layouts/main.html" %}

{% set pageName="Preferred method of contact" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/ur/nfa/preferred-method-of-contact-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <div class="govuk-form-group" id="error-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is {{ data['victimForename'] }} {{ data['victimSurname'] }}'s preferred method of contact?
            </h1>
          </legend>

          <div class="govuk-radios" id="radio-group">

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-phone" name="preferredMethodOfContact" value="Phone" {{ checked('preferredMethodOfContact','Phone') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-phone">
                Call (home phone)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-phone" name="preferredMethodOfContact" value="Phone" {{ checked('preferredMethodOfContact','Phone') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-phone">
                Call (work phone)
              </label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-phone" name="preferredMethodOfContact" value="Phone" {{ checked('preferredMethodOfContact','Phone') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-phone">
                Call (mobile)
              </label>
            </div>

            <!-- <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-phone" name="preferredMethodOfContact" value="Phone" {{ checked('preferredMethodOfContact','Phone') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-phone">
                Text message (mobile)
              </label>
            </div> -->

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-email" name="preferredMethodOfContact" value="Email" {{ checked('preferredMethodOfContact','Email') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-email">
                Email
              </label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Letter
              </label>
            </div>

            <!-- <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Call via officer in charge
              </label>
            </div> -->

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Email to officer in charge
              </label>
            </div>

            <!-- <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Call via Independent Sexual Violence Adviser (ISVA)
              </label>
            </div> -->

            <!-- <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Text message via Independent Sexual Violence Adviser (ISVA)
              </label>
            </div> -->

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Email to Independent Sexual Violence Adviser (ISVA)
              </label>
            </div>

            <!-- <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Letter via Independent Sexual Violence Adviser (ISVA)
              </label>
            </div> -->

            <!-- <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Call via Independent Domestic Violence Adviser (IDVA)
              </label>
            </div> -->

            <!-- <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Text message via Independent Domestic Violence Adviser (IDVA)
              </label>
            </div> -->

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Email to Independent Domestic Violence Adviser (IDVA)
              </label>
            </div>

            <!-- <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Letter via Independent Domestic Violence Adviser (IDVA)
              </label>
            </div> -->

            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Do not contact
              </label>
            </div>

            <div class="govuk-radios__divider">or</div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="preferred-method-of-contact-post" name="preferredMethodOfContact" value="Post" {{ checked('preferredMethodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="preferred-method-of-contact-post">
                Not provided
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/ur/nfa/preferred-method-of-contact.js"></script>
{% endblock %}