{% extends "layouts/meetings-2-communications.html" %}

{% block communicationsNotification %}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      CPS pre-trial meeting details changed.
    </h3>
  </div>
</div>
{% endblock %}

{% block communicationsContent %}

<a href="../what-do-you-want-to-log" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
  Log new meeting details<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
</a>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      CPS pre-trial meeting details changed
    </h2>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date and time
        </dt>
        <dd class="govuk-summary-list__value">
          15 April 2025 at 14:00pm
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason for change
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Phillips's bereaved family not available
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How meeting was arranged
        </dt>
        <dd class="govuk-summary-list__value">
          CPS offered and Sarah Phillips's bereaved family accepted
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How meeting will take place
        </dt>
        <dd class="govuk-summary-list__value">
          In person
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Location
        </dt>
        <dd class="govuk-summary-list__value">
          Birmingham Magistrates’ Court
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attendees
        </dt>
        <dd class="govuk-summary-list__value">
          (Meeting lead) PC FISHER, Jane (Police officer in charge), Sarah Phillips's bereaved family, SHEAF, Jessica (High court advocate), BIDWELL, Jane (Family liaison officer), SAKAMOTO, Hadji (Independent domestic violence adviser (IDVA))
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Support needs
        </dt>
        <dd class="govuk-summary-list__value">
          Interpreter needed: No, Person for support: Yes
          <br>
          Other support: Victim's family will need a room with step free access
        </dd>
      </div>

    </dl>

    <hr class="govuk-section-break govuk-section-break--m">

    <div class="govuk-button-group">
      <a href="../log-outcome/did-meeting-happen" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
        Log meeting outcome<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
      </a>
      <a href="reason-why" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
        Change meeting details<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
      </a>
      <a href="../cancelled/meeting-date" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
        Cancel meeting<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
      </a>
    </div>

    <details class="govuk-details">

      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Arranged meetings
        </span>
      </summary>

      <div class="govuk-details__text">

        
            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  11 April 2025 at 11:45am
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How meeting will take place
                </dt>
                <dd class="govuk-summary-list__value">
                  In person
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Location
                </dt>
                <dd class="govuk-summary-list__value">
                  Birmingham Magistrates’ Court
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendees
                </dt>
                <dd class="govuk-summary-list__value">
                  (Meeting lead) PC FISHER, Jane (Police officer in charge), Sarah Phillips's bereaved family, SHEAF, Jessica (High court advocate), BIDWELL, Jane (Family liaison officer), SAKAMOTO, Hadji (Independent domestic violence adviser (IDVA))
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Support needs
                </dt>
                <dd class="govuk-summary-list__value">
                  Interpreter needed: No, Person for support: Yes
                  <br>
                  Other support: Victim's family will need a room with step free access
                </dd>
              </div>

            </dl>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Offered meeting
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-s">CPS pre-trial meeting offer accepted</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How meeting offer was accepted
                </dt>
                <dd class="govuk-summary-list__value">
                  Letter by post
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date accepted
                </dt>
                <dd class="govuk-summary-list__value">
                  11 April 2025
                </dd>

              </div>

            </dl>

        <hr class="govuk-section-break govuk-section-break--m">

        <h3 class="govuk-heading-s">CPS pre-trial meeting offered</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  How offered
                </dt>
                <dd class="govuk-summary-list__value">
                  Letter by post
                </dd>

              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date offered
                </dt>
                <dd class="govuk-summary-list__value">
                  11 April 2025
                </dd>

              </div>

            </dl>
    </details>
  </div>

</div>

{% endblock %}
