{% block content %}
<!-- <dl class="govuk-summary-list govuk-!-margin-bottom-4">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Date and time
    </dt>
    <dd class="govuk-summary-list__value">
      {{ "today" | govukDate(showWeekday=true) }} at 11:24
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact method
    </dt>
    <dd class="govuk-summary-list__value">
      Email
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['victimEmailAddress'] }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Status
    </dt>
    <dd class="govuk-summary-list__value">
      Permanent failure
    </dd>
  </div>
</dl> -->

{% include "/delivery/vcl/victim-record/communications/charging-decision/details/email.html" %}

<hr class="govuk-section-break govuk-section-break--m">

<p class="govuk-body">
  Make sure the email address is correct. If it is incorrect, <a href="#" class="govuk-link">update the email address</a> before trying to send the email again.
</p>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-button-group govuk-!-margin-bottom-0">
  <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Try to send email again<span class="govuk-visually-hidden"> to inform about the {% if (data['decisionType'] == "dtc") %}decision to charge{% elif (data['decisionType'] == "nfa") %}no further action decision{% else %}charging decision{% endif %}</span>
  </a>
  <a class="govuk-link" href="#">Send a letter instead<span class="govuk-visually-hidden"> to inform about the {% if (data['decisionType'] == "dtc") %}decision to charge{% elif (data['decisionType'] == "nfa") %}no further action decision{% else %}charging decision{% endif %}</span></a>
</div>
{% endblock %}