{% extends "layouts/main.html" %}

{% set pageName="Who was the meeting lead?" %}

{% block header %}
{% include "/bfs/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/bfs/partials/identity-bar/bfs-question.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <form class="form" action="/bfs/meetings-2/log-outcome/chair-person-answer" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Who was the meeting lead?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          {% set chairIndex = 0 %}
          {% for attendee in data['attended'] %}
            {% if attendee != '_unchecked' %}
            {% set chairIndex = chairIndex + 1 %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="chairPerson{% if chairIndex > 1 %}-{{ chairIndex }}{% endif %}" name="chairPerson" type="radio" value="{{ attendee }}" {% if data['changeMode'] == 'true' %}{{ checked("chairPerson", attendee) }}{% endif %}>
            <label class="govuk-label govuk-radios__label" for="chairPerson{% if chairIndex > 1 %}-{{ chairIndex }}{% endif %}">
              {{ attendee }}
            </label>
          </div>
            {% endif %}
          {% endfor %}
        </div>
      </fieldset>
    </div>

    <a href="add-another2" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-2" data-module="govuk-button">
      Add another person <span class="govuk-visually-hidden"> </span>
    </a>
    
    <hr class="govuk-section-break govuk-section-break--m">

    <div class="govuk-button-group">

      <button type="submit" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
        Continue<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
      </button>
    </div>
    </form>

  </div>
</div>
{% endblock %}
