{% extends "layouts/main.html" %}

{% set pageName="Check your answers" %}

{% block header %}
{% include "/bfs/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/bfs/partials/identity-bar/bfs-question.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-l">Check your answers before logging the meeting outcome</h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Duration of the meeting
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['meetingDurationHours'] or 0 }} hours {{ data['meetingDurationMinutes'] or 0 }} minutes
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="duration?changeMode=true">Change<span class="govuk-visually-hidden"> duration of the meeting</span></a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Attendees
        </dt>
        <dd class="govuk-summary-list__value">
          {% for attendee in data['attended'] %}
            {% if attendee != '_unchecked' %}
          <p class="govuk-body">{{ attendee }}</p>
            {% endif %}
          {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="who-attended?changeMode=true">Change<span class="govuk-visually-hidden"> attendees</span></a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting lead
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['chairPerson'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="chair-person?changeMode=true">Change<span class="govuk-visually-hidden"> meeting lead</span></a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Counsel attended
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['counselAttended'] == "yes" else "No" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="did-counsel-attend?changeMode=true">Change<span class="govuk-visually-hidden"> counsel attended</span></a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Eligible for expenses
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['eligibleForExpenses'] == "yes" else "No" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="eligible-for-expenses?changeMode=true">Change<span class="govuk-visually-hidden"> eligible for expenses</span></a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Agreed to research
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['agreedToResearch'] == "yes" %}Yes{% elif data['agreedToResearch'] == "not-asked" %}The question was not asked{% else %}No{% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="agree-to-research?changeMode=true">Change<span class="govuk-visually-hidden"> agreed to research</span></a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting notes
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['meetingNotesSaved'] == "yes" else "No" }} </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="upload-file?changeMode=true">Change<span class="govuk-visually-hidden"> meeting notes saved</span></a>
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting notes to OIC
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['meetingNotesToOic'] == "yes" else "No" }} </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="minutes-sent-oic?changeMode=true">Change<span class="govuk-visually-hidden"> meeting notes to OIC</span></a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Meeting notes to victim
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['meetingNotesToVictim'] == "yes" else "No" }} </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="minutes-sent?changeMode=true">Change<span class="govuk-visually-hidden"> meeting notes to victim</span></a>
        </dd>

      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Actions agreed
        </dt>
        <dd class="govuk-summary-list__value">
          {{ "Yes" if data['actionsAgreed2'] == "yes" else "No" }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="any-actions-agreed?changeMode=true">Change<span class="govuk-visually-hidden"> actions agreed</span></a>
        </dd>

      </div>

      {% if data['actionsAgreed2'] == "yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What was agreed
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['actionsAgreedDetail'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="any-actions-agreed?changeMode=true">Change<span class="govuk-visually-hidden"> what was agreed</span></a>
        </dd>

      </div>
      {% endif %}

    </dl>

    <div class="govuk-button-group">

      <a href="/bfs/victim/index?secondaryNav=ptm&meetingState=outcome&meetingSuccess=yes#communications" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
        Confirm details
      </a>
    </div>

  </div>
</div>
{% endblock %}
