{% extends "layouts/main.html" %}

{% set pageName="How long did the meeting last?" %}

{% block header %}
{% include "/bfs/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/bfs/partials/identity-bar/bfs-question.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-l">How long did the meeting last?</h1>

    <form action="/bfs/meetings-2/log-outcome/duration-answer" method="post" accept-charset="UTF-8">

      <div class="govuk-form-group" id="error-form-group-2">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="call-time-hint-2">

          <div id="call-time-hint-2" class="govuk-hint">
            Enter the duration in hours and minutes. For example, 2 hours 30 minutes.
          </div>

          <div class="govuk-date-input" id="call-time-2">

            <div class="govuk-date-input__item" style="margin-right: 10px;">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="meeting-duration-hours">
                  Hours
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="meeting-duration-hours" name="meetingDurationHours" type="text" inputmode="numeric" value="{{ data['meetingDurationHours'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item" style="margin-right: 10px;">
              <span class="govuk-body">:</span>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="meeting-duration-minutes">
                  Minutes
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="meeting-duration-minutes" name="meetingDurationMinutes" type="text" inputmode="numeric" value="{{ data['meetingDurationMinutes'] }}">
              </div>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">

        <button type="submit" class="govuk-button govuk-button--primary govuk-!-margin-bottom-2" data-module="govuk-button">
          Continue<span class="govuk-visually-hidden"> to offer a CPS pre-trial meeting</span>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
