{% extends "layouts/main.html" %}
{% set pageName="Victim's address" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v51/victim/victim-details/address-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <h1 class="govuk-heading-l">What is {{ data['victimForename'] }} {{ data['victimSurname'] }}'s address?</h1>

      <div class="govuk-form-group" id="error-form-group-line1">
        <label class="govuk-label" for="address-line-1">Address line 1</label>
        <input type="text" class="govuk-input" id="address-line-1" name="victimAddressLine1" autocomplete="address-line1" value="{{ data['victimAddressLine1'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-line2">
        <label class="govuk-label" for="address-line-2">Address line 2 (optional)</label>
        <input type="text" class="govuk-input" id="address-line-2" name="victimAddressLine2" autocomplete="address-line2" value="{{ data['victimAddressLine2'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-line3">
        <label class="govuk-label" for="address-line-3">Address line 3 (optional)</label>
        <input type="text" class="govuk-input" id="address-line-3" name="victimAddressLine3" autocomplete="address-level2" value="{{ data['victimAddressLine3'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-line4">
        <label class="govuk-label" for="address-line-4">Address line 4 (optional)</label>
        <input type="text" class="govuk-input" id="address-line-4" name="victimAddressLine4" value="{{ data['victimAddressLine4'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-line5">
        <label class="govuk-label" for="address-line-5">Address line 5 (optional)</label>
        <input type="text" class="govuk-input" id="address-line-5" name="victimAddressLine5" value="{{ data['victimAddressLine5'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-postcode">
        <label class="govuk-label" for="postcode">Postcode</label>
        <input type="text" class="govuk-input govuk-input--width-10" id="postcode" name="victimPostCode" autocomplete="postal-code" value="{{ data['victimPostCode'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-reason">
        <label class="govuk-label govuk-label--m" for="address-reason">Reason for change</label>
        <textarea class="govuk-textarea" id="address-reason" name="victimAddressReason" rows="4"></textarea>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/victim-details/address.js"></script>
{% endblock %}
