{% extends "layouts/main.html" %}
{% set pageName="Victim's full name" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <form action="/v51/victim/victim-details/full-name-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

        <h1 class="govuk-heading-l">Name and title</h1>

        <div class="govuk-form-group" id="error-form-group-title">
          <label class="govuk-label" for="victim-title">Title (optional)</label>
          <input type="text" class="govuk-input govuk-input--width-10" id="victim-title" name="victimTitle" value="{{ data['victimTitle'] }}">
        </div>

        <div class="govuk-form-group" id="error-form-group-forename">
          <label class="govuk-label" for="victim-forename">First name</label>
          <input type="text" class="govuk-input govuk-!-width-two-thirds" id="victim-forename" name="victimForename" value="{{ data['victimForename'] }}">
        </div>

        <div class="govuk-form-group" id="error-form-group-surname">
          <label class="govuk-label" for="victim-surname">Last name</label>
          <input type="text" class="govuk-input govuk-!-width-two-thirds" id="victim-surname" name="victimSurname" value="{{ data['victimSurname'] }}">
        </div>

        <div class="govuk-form-group" id="error-form-group-reason">
          <label class="govuk-label govuk-label--m" for="victim-full-name-reason">Reason for change</label>
          <textarea class="govuk-textarea" id="victim-full-name-reason" name="victimFullNameReason" rows="4"></textarea>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/victim-details/full-name.js"></script>
{% endblock %}
