{% extends "layouts/main.html" %}
{% set pageName="Power of attorney details" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <form action="/v51/victim/victim-details/power-of-attorney-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

        <h1 class="govuk-heading-l">Power of attorney details</h1>

        <div class="govuk-form-group" id="error-form-group-1">
          <label class="govuk-label" for="power-of-attorney-name">Name</label>
          <input type="text" class="govuk-input" id="power-of-attorney-name" name="powerOfAttorneyName" value="{{ data['powerOfAttorneyName'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="power-of-attorney-phone">Telephone number (optional)</label>
          <input type="text" class="govuk-input" id="power-of-attorney-phone" name="powerOfAttorneyPhone" value="{{ data['powerOfAttorneyPhone'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="power-of-attorney-email">Email address (optional)</label>
          <input type="text" class="govuk-input" id="power-of-attorney-email" name="powerOfAttorneyEmail" value="{{ data['powerOfAttorneyEmail'] }}">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/victim-details/power-of-attorney.js"></script>
{% endblock %}
