{% extends "layouts/main.html" %}
{% set pageName="Victim's telephone number" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <form action="/v51/victim/victim-details/telephone-number-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

      <h1 class="govuk-heading-l">What are {{ data['victimForename'] }} {{ data['victimSurname'] }}'s telephone numbers?</h1>

      <p class="govuk-hint">Include a country code if it's a non-UK telephone number.</p>

      <div class="govuk-form-group" id="error-form-group-home">
        <label class="govuk-label" for="home-phone">Home</label>
        <input type="tel" class="govuk-input govuk-!-width-two-thirds" id="home-phone" name="victimHomePhone" autocomplete="tel" value="{{ data['victimHomePhone'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-mobile">
        <label class="govuk-label" for="mobile-phone">Mobile</label>
        <input type="tel" class="govuk-input govuk-!-width-two-thirds" id="mobile-phone" name="victimPhoneNumber" autocomplete="tel" value="{{ data['victimPhoneNumber'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-work">
        <label class="govuk-label" for="work-phone">Work</label>
        <input type="tel" class="govuk-input govuk-!-width-two-thirds" id="work-phone" name="victimWorkPhone" autocomplete="tel" value="{{ data['victimWorkPhone'] }}">
      </div>

      <div class="govuk-form-group" id="error-form-group-reason">
        <label class="govuk-label govuk-label--m" for="telephone-reason">Reason for change</label>
        <textarea class="govuk-textarea" id="telephone-reason" name="victimTelephoneReason" rows="4"></textarea>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/victim-details/telephone-number.js"></script>
{% endblock %}
