{% extends "layouts/main.html" %}
{% set pageName="Victim representative details" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <form action="/v51/victim/victim-details/victim-representative-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

        <h1 class="govuk-heading-l">Victim representative details</h1>

        <div class="govuk-form-group" id="error-form-group-1">
          <label class="govuk-label" for="victim-representative-name">Name</label>
          <input type="text" class="govuk-input" id="victim-representative-name" name="victimRepresentativeName" value="{{ data['victimRepresentativeName'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="victim-representative-phone">Telephone number (optional)</label>
          <input type="text" class="govuk-input" id="victim-representative-phone" name="victimRepresentativePhone" value="{{ data['victimRepresentativePhone'] }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="victim-representative-email">Email address (optional)</label>
          <input type="text" class="govuk-input" id="victim-representative-email" name="victimRepresentativeEmail" value="{{ data['victimRepresentativeEmail'] }}">
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/victim-details/victim-representative.js"></script>
{% endblock %}
