{% block content %}
<h2 class="govuk-heading-l">Communications</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% if (data['pmoc'] == "email") %}
        {% if (data['vclStatus'] == "email-delivered") %}
        {% else %}
        {% if (data['victimEmailAddress'] == "") %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Preferred method of contact is missing
                <p class="govuk-body govuk-!-margin-bottom-0">
                    Confirm it first then <a href="/delivery/wat2/vcl/victim-details/email-address.html" class="govuk-link">enter an email address</a>.
                </p>
            </strong>
        </div>
        {% else %}
        {% if (data['nfaStatus'] == "") %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Only send further emails to {{ data['victimForename'] }} {{ data['victimSurname'] }} if they have correctly answered the security questions.
            </strong>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endif %}

        {% if (data['pmoc'] == "") %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Preferred method of contact unknown
                <p class="govuk-body govuk-!-margin-bottom-0">
                    Confirm this before you contact the victim, then <a href="/delivery/wat2/vcl/victim-details/preferred-method-of-contact.html" class="govuk-link">select a preferred method of contact</a>.
                </p>
            </strong>
        </div>
        {% endif %}

        {% if ((data['pmoc'] == "home-phone") or (data['pmoc'] == "mobile")) and (data['victimPhoneNumber'] == "") %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Preferred method of contact is missing
                <p class="govuk-body govuk-!-margin-bottom-0">
                    Confirm it first then <a href="/delivery/wat2/vcl/victim-details/telephone-number.html" class="govuk-link">enter a telephone number</a>.
                </p>
            </strong>
        </div>
        {% endif %}

        {% if (data['pmoc'] == "post") and (data['victimAddressLine1'] == "") %}
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Preferred method of contact is missing
                <p class="govuk-body govuk-!-margin-bottom-0">
                    Confirm it first then <a href="/delivery/wat2/vcl/victim-details/address.html" class="govuk-link">enter an address</a>.
                </p>
            </strong>
        </div>
        {% endif %}
    </div>
</div>

<nav class="moj-sub-navigation" aria-label="Sub navigation">
    <ul class="moj-sub-navigation__list">
        {% if (data['subTab'] == "ptm") %}
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/wat2/victim?secondaryNav=pcd">Pre-charge decision</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/delivery/wat2/victim?secondaryNav=ptm">CPS pre-trial meetings</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/wat2/victim?secondaryNav=vcl">VCL Scheme</a>
        </li>
        {% elif (data['subTab'] == "vcl") %}
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/wat2/victim?secondaryNav=pcd">Pre-charge decision</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/wat2/victim?secondaryNav=ptm">CPS pre-trial meetings</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/delivery/wat2/victim?secondaryNav=vcl">VCL Scheme</a>
        </li>
        {% else %}
        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="/delivery/wat2/victim?secondaryNav=pcd">Pre-charge decision</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="/delivery/wat2/victim?secondaryNav=ptm">CPS pre-trial meetings</a>
        </li>

        <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link"  href="/delivery/wat2/victim?secondaryNav=vcl">VCL Scheme</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% if (data['subTab'] == "charging-decision") %}
{% include "/delivery/wat2/victim/pcd/index.html" %}

{% elif (data['subTab'] == "ptm") %}
{% include "/delivery/wat2/victim/pre-trial/pre-trial-meeting/index.html" %}

{% elif (data['subTab'] == "vcl") %}
{% include "/delivery/wat2/victim/vcl/index.html" %}

{% endif %}

{% endblock %}