{% extends "layouts/main.html" %}
{% set pageName="Log a telephone call" %}

{% block header %}
{% include "/v51/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form action="/v51/other/telephone-call-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

            <h1 class="govuk-heading-l">Log a telephone call</h1>

            <div class="govuk-form-group" id="error-form-group-1">
                <label class="govuk-label govuk-label--m" for="other-call-date">
                    Date of call
                </label>

                <div class="govuk-hint" id="other-call-date-hint">
                    Use the date picker or enter a date. For example, 17/05/2025
                </div>

                <div class="moj-datepicker" id="other-call-date-picker" data-module="moj-date-picker" data-excluded-days="">
        
                    <input type="text" class="govuk-input moj-js-datepicker-input" id="other-call-date"
                        name="otherCallDate"
                        autocomplete="off"
                        aria-describedby="other-call-date-hint"
                        value="{{ data['otherCallDate'] }}" />
                </div>
            </div>

            <div class="govuk-form-group" id="error-form-group-2">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="other-call-time-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Time of call
                    </legend>

                    <div id="other-call-time-hint" class="govuk-hint">
                        Enter a time in 24-hour format. For example, 14:30
                    </div>

                    <div class="govuk-date-input" id="other-call-time">

                        <div class="govuk-date-input__item" style="margin-right: 10px;">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="other-call-hour">
                                    Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-call-hour" name="otherCallHour" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item" style="margin-right: 10px;">
                            <span class="govuk-body">:</span>
                        </div>
                        
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="other-call-minutes">
                                    Minutes
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-call-minutes" name="otherCallMinutes" type="text" inputmode="numeric">
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-3">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Direction of call
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" id="other-call-type-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-call-type-outbound" name="otherCallType" type="radio" value="Yes" aria-describedby="other-call-outbound-hint">
                            <label class="govuk-label govuk-radios__label" for="other-call-type-outbound">
                                Outbound
                            </label>
                            <div id="other-call-outbound-hint" class="govuk-hint govuk-radios__hint">
                                I called them
                            </div>
                        </div>
                        
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-call-type-inbound" name="otherCallType" type="radio" value="No" aria-describedby="other-call-inbound-hint">
                            <label class="govuk-label govuk-radios__label" for="other-call-type-inbound">
                                Inbound
                            </label>
                            <div id="other-call-inbound-hint" class="govuk-hint govuk-radios__hint">
                                They called victim services
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-4">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Person contacted
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios" id="other-individual-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-individual-victim" name="otherIndividual" type="radio" value="Victim">
                            <label class="govuk-label govuk-radios__label" for="other-individual-victim">
                                Victim
                            </label>
                            <div id="other-individual-victim-hint" class="govuk-hint govuk-radios__hint">
                                {{ data['victimSurname'] | upper }}, {{ data['victimForename'] }}
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-individual-police" name="otherIndividual" type="radio" value="Via police">
                            <label class="govuk-label govuk-radios__label" for="other-individual-police">
                                Via police
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-individual-isva" name="otherIndividual" type="radio" value="Via ISVA">
                            <label class="govuk-label govuk-radios__label" for="other-individual-isva">
                                Via independent sexual violence adviser (ISVA)
                            </label>
                            {% if data['isvaName'] and data['isvaDeleted'] != 'yes' %}
                            <div id="other-individual-isva-hint" class="govuk-hint govuk-radios__hint">
                                {{ data['isvaName'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-individual-idva" name="otherIndividual" type="radio" value="Via IDVA">
                            <label class="govuk-label govuk-radios__label" for="other-individual-idva">
                                Via independent domestic violence adviser (IDVA)
                            </label>
                            {% if data['idvaName'] and data['idvaDeleted'] != 'yes' %}
                            <div id="other-individual-idva-hint" class="govuk-hint govuk-radios__hint">
                                {{ data['idvaName'] }}
                            </div>
                            {% endif %}
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-individual-other" name="otherIndividual" type="radio" value="Other" data-aria-controls="conditional-other-individual">
                            <label class="govuk-label govuk-radios__label" for="other-individual-other">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-individual">
                            <div class="govuk-form-group" id="error-form-group-6">
                                <label class="govuk-label" for="other-individual-name">
                                    Name
                                </label>
                                <input class="govuk-input" id="other-individual-name" name="otherIndividualName" type="text">
                            </div>

                            <div class="govuk-form-group" id="error-form-group-7">
                                <label class="govuk-label" for="other-individual-role">
                                    Role
                                </label>
                                <input class="govuk-input" id="other-individual-role" name="otherIndividualRole" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-5">
                <label class="govuk-label govuk-label--m" for="other-purpose-of-communication">
                    Purpose of call
                </label>
                <textarea class="govuk-textarea" id="other-purpose-of-communication" name="purposeOfCommunication" rows="4"></textarea>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/shared/other/telephone-call.js"></script>
{% endblock %}