<ul class="govuk-tabs__list">
  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
    <a class="govuk-tabs__tab" href="#summary">Summary</a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#victim-details">Victim details</a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#case-contacts">Case contacts</a>
  </li>
  <li class="govuk-tabs__list-item">
    <a class="govuk-tabs__tab" href="#communications">Communications</a>
  </li>
</ul>
