{% extends "layouts/main.html" %}

{% set pageName="Previous communication" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/previous-communication-answer" method="post" accept-charset="UTF-8">

      <div class="govuk-form-group" id="form-1">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Have you communicated with {{ data['victimForename'] }} {{ data['victimSurname'] }} about the case previously?
            </h1>
          </legend>

          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="previous-communication-yes" name="previousCommunication" value="Yes">
              <label class="govuk-label govuk-radios__label" for="previous-communication-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input type="radio" class="govuk-radios__input" id="previous-communication-no" name="previousCommunication" value="No">
              <label class="govuk-label govuk-radios__label" for="previous-communication-no">
                No
              </label>
            </div>

          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>
{% endblock %}
