{% extends "layouts/main.html" %}
{% set pageName="Prosecutor's name" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/prosecutor-name" method="post" novalidate>

        <div class="govuk-form-group" id="form-1">
          <fieldset class="govuk-fieldset">
  
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                What is the name of the prosecutor?
              </h1>
            </legend>
  
            <div class="govuk-form-group" id="error-form-group-1">
              <label class="govuk-label" id="prosecutor-forename-label" for="prosecutor-forename">
                Forename
              </label>
              <input type="text" class="govuk-input govuk-!-width-two-thirds" id="prosecutor-forename" name="prosecutorForename" autocomplete="given-names" spell_check="false" value="{{ data['prosecutorForename'] }}">
            </div>
  
            <div class="govuk-form-group" id="error-form-group-2">
              <label class="govuk-label" id="prosecutor-surname-label" for="prosecutor-surname">
                Surname
              </label>
              <input type="text" class="govuk-input govuk-!-width-two-thirds" id="prosecutor-surname" name="prosecutorSurname" autocomplete="family-name" spell_check="false" value="{{ data['prosecutorSurname'] }}">
            </div>
  
          </fieldset>
        </div>
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>
  </div>
{% endblock %}