{% extends "layouts/main.html" %}

{% set pageName="Victim Liaison Officer's email inbox" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/vlo-email-inbox-answer" method="post" novalidate>

        <div class="govuk-form-group" id="form-1">
  
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="vlo-email-inbox">
              What is the Victim Liaison Officer's shared email inbox?
            </label>
          </h1>

          <input type="text" class="govuk-input govuk-!-width-two-thirds" id="vlo-email-inbox" name="vloEmailInbox" autocomplete="given-names" spell_check="false" value="{{ data['vloEmailInbox'] }}">
        </div>
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>
  </div>
{% endblock %}