{% extends "layouts/main.html" %}
{% set pageName="Check the details before drafting the letter" %}

{% block header %}
{% include "/ur/wat/pcd/header/vso.html" %}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">
            Check the details before onboarding {{ data['victimForename'] }} {{ data['victimSurname'] }}
        </h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Pre-charge decision
                </dt>
                <dd class="govuk-summary-list__value">
                    Decision to charge
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/onb/pcd-type">Change<span class="govuk-visually-hidden"> pre-charge decision</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service lead
                </dt>
                <dd class="govuk-summary-list__value">
                    Universal
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/onb/pcd-type">Change<span class="govuk-visually-hidden"> pre-charge decision</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case type
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select case type</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Risk level
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select risk level</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Proceeding or withdrawn
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select if proceeding or withdrawn</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Unsupportive victim
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select if supportive or unsupportive</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Communication
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select if they want communications</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Preferred corresponding language
                </dt>
                <dd class="govuk-summary-list__value">
                    Spanish
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> preferred corresponding language</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Translator required
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select if translator required</a>
                </dd>
            </div>
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Preferred method of contact
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['pmoc'] | capitalize }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="/victim-details/preferred-method-of-contact">Change<span class="govuk-visually-hidden"> preferred method of contact</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Preferred contact times
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select preferred contact times</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Victim Personal Statement status
                </dt>
                <dd class="govuk-summary-list__value">
                    <a href="#" class="govuk-link">Select Victim Personal Statement status</a>
                </dd>
            </div>
        </dl>
        <!-- <h2 class="govuk-heading-m">
            Now start drafting the letter
        </h2> -->
        <!-- <p class="govuk-body">
            By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
        </p> -->
        <form action="/ur/wat/pcd/pre-draft/check-details-answer" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}