{% block content %}
{% include "/delivery/wat3/victim/pcd/details/call-attempt-1.html" %}

<hr class="govuk-section-break govuk-section-break--m govuk-!-margin-bottom-0">

{% if (data['pcdFumoc'] == "email") or (data['pcdFumoc'] == "post") %}
<p class="govuk-body">
    You must review the letter before sending to the victim. You can add details discussed on the call if needed.
</p>

<a href="/delivery/wat3/pcd/draft/compose-letter" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Review and send<span class="govuk-visually-hidden"> letter to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a>

{% else %}
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Letter sent by
        </dt>
        <dd class="govuk-summary-list__value">
            Letter not wanted
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Reason for no letter
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['pcdNoFumocDetails'] }}
        </dd>
    </div>
</dl>

<!-- <hr class="govuk-section-break govuk-section-break--m">

<p class="govuk-body">
    You must review the letter before sending to CMS. You can add details discussed on the call if needed.
</p>

<a href="/delivery/wat3/pcd/draft/compose-letter" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Review and send to CMS<span class="govuk-visually-hidden"> to inform about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}Charging decision{% endif %}</span>
</a> -->
{% endif %}
{% endblock %}