{% block content %}
<dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Date of email
        </dt>
        <dd class="govuk-summary-list__value">
            {{ communication.otherEmailDate | formatDate }}{% if communication.otherEmailHour and communication.otherEmailMinutes %} at {{ communication.otherEmailHour }}:{{ communication.otherEmailMinutes }}{% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Direction of email
        </dt>
        <dd class="govuk-summary-list__value">
            {% if (communication.otherEmailType == "Yes") %}Outbound{% else %}Inbound{% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Person contacted
        </dt>
        <dd class="govuk-summary-list__value">
            {% if (communication.otherIndividual == "Victim") %}
                {{ communication.victimSurname | upper }}, {{ communication.victimForename }} (victim)
            {% elif (communication.otherIndividual == "Via police") %}
                Via police
            {% elif (communication.otherIndividual == "Via ISVA") %}
                Via ISVA{% if data['isvaName'] and data['isvaDeleted'] != 'yes' %} ({{ data['isvaName'] }}){% endif %}
            {% elif (communication.otherIndividual == "Via IDVA") %}
                Via IDVA{% if data['idvaName'] and data['idvaDeleted'] != 'yes' %} ({{ data['idvaName'] }}){% endif %}
            {% else %}
                {{ communication.otherIndividualName }} ({{ communication.otherIndividualRole }})
            {% endif %}
        </dd>
    </div>
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Purpose of email
        </dt>
        <dd class="govuk-summary-list__value">
            {{ communication.purposeOfCommunication }}
        </dd>
    </div>
</dl>
{% endblock %}