{% block content %}
<p class="govuk-body">
    {{ data['victimForename'] }} {{ data['victimSurname'] }} has not yet been informed by the CPS of the {% if (data['decisionType'] == "dtc") %}decision to charge{% elif (data['decisionType'] == "nfa") %}decision to take no further action{% else %}charging decision{% endif %}.
</p>

{% if (data['reviewer'] == "head") %}
<p class="govuk-body">
    The draft is under review. The current reviewer is Cecilia Galpin (Head).
</p>

<p class="govuk-body">
    You can still make changes to the draft if you need to.
</p>

{% elif (data['reviewer'] == "lawyer") %}
<p class="govuk-body">
    The draft is under review. The current reviewer is Geoff Laws (Lawyer).
</p>

<p class="govuk-body">
    You can still make changes to the draft if you need to.
</p>

{% else %}
<p class="govuk-body">
    The draft is under review. The current reviewer is {% if (data['reviewerLevel'] == "d-request") %}{{ data['d-reviewer'] }} (D){% elif (data['reviewerLevel'] == "b3-request") %}{{ data['b3-reviewer'] }} (B3){% elif (data['reviewerLevel'] == "b2-request") %}{{ data['b2-reviewer'] }} (B2){% else %}{% endif %}.
</p>

<p class="govuk-body">
    You can still make changes to the draft if you need to.
</p>
{% endif %}

<a href="/v30/draft/compose-letter" class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
    View draft<span class="govuk-visually-hidden"> to inform of the {% if (data['decisionType'] == "dtc") %}decision to charge{% elif (data['decisionType'] == "nfa") %}no further action decision{% else %}charging decision{% endif %}</span>
</a>
{% endblock %}