{% extends "layouts/main.html" %}
{% set pageName="Check the details before drafting the letter" %}

{% block header %}
{% include "/bfs/partials/header/none-selected-bfs.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/bfs/partials/identity-bar/bfs-question.html" %}
{% endblock %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        {% if (data['successNotification'] == "yes") and (data['onboardedStatus'] == "Yes")  %}
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    {% if data['detailChange'] == "no" %}
                    <h3 class="govuk-notification-banner__heading">
                        {% if data['serviceLead'] == 'Not aligned' %}
                            You onboarded {{ data['victimForename'] }} {{ data['victimSurname'] }} but did not align them to a service.
                        {% else %}
                            You onboarded {{ data['victimForename'] }} {{ data['victimSurname'] }} and aligned them to the {{ data['serviceLead'] }} service.
                        {% endif %}
                    </h3>
                    {% elif data['detailChange'] == "service-lead" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the service lead for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {% if data['serviceLead'] == "Not aligned" %}Not aligned to a service{% else %}the {{ data['serviceLead'] }} service{% endif %}.
                    </h3>
                    {% elif data['detailChange'] == "case-type" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the charging type for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ data['caseType'] }}.
                    </h3>
                    {% elif data['detailChange'] == "risk-level" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the domestic abuse risk level for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ data['riskLevel'] }}.
                    </h3>
                    {% elif data['detailChange'] == "pmoc" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the preferred method of contact for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ data['pmoc'] }}.
                    </h3>
                    {% elif data['detailChange'] == "preferred-correspondence-language" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the preferred correspondence language for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {% if data['preferredCorrespondenceLanguage'] == "Other" %}{{ data['preferredCorrespondenceLanguageOther'] }}{% else %}{{ data['preferredCorrespondenceLanguage'] }}{% endif %}.
                    </h3>
                    {% elif data['detailChange'] == "translator-needed" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the translator needed status for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ data['translatorNeeded'] }}.
                    </h3>
                    {% elif data['detailChange'] == "preferred-contact-times" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the preferred contact times for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ data['preferredContactTimes'] }}.
                    </h3>
                    {% elif data['detailChange'] == "preferred-name" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the preferred name for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ data['preferredName'] }}.
                    </h3>
                    {% elif data['detailChange'] == "vps-status" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the Victim Personal Statement status for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ data['vpsStatus'] }}.
                    </h3>
                    {% elif data['detailChange'] == "vlo" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the victim liaison officer for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ data['vlo'] }}.
                    </h3>
                    {% elif data['detailChange'] == "flo" %}
                    <h3 class="govuk-notification-banner__heading">
                        You changed the family liaison officer details for {{ data['victimForename'] }} {{ data['victimSurname'] }}.
                    </h3>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <h1 class="govuk-heading-l">
            Check the details for {{ data['victimForename'] }} {{ data['victimSurname'] }}
        </h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service lead
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['serviceLead'] == 'Not aligned' %}
                        Not aligned
                    {% else %}
                        {{ data['serviceLead'] }}
                    {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" href="/bfs/onb/service-lead?successNotification&detailChange=service-lead">
                        Change<span class="govuk-visually-hidden"> service lead</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Victim liaison officer
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data['vlo'] | default('Unassigned', true) }}
                </dd>
                <dd class="govuk-summary-list__actions">
                    <ul class="govuk-summary-list__actions-list">
                        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="/bfs/onb/check-details/check-task-vlo"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden"> victim liaison officer</span></a></li>
                    </ul>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Charging type
                </dt>
                {% if data['caseType'] %}
                    <dd class="govuk-summary-list__value">
                        {{ data['caseType'] | capitalize }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="/bfs/onb/check-details/case-type?successNotification&detailChange=case-type">
                            Change<span class="govuk-visually-hidden"> charging type</span>
                        </a>
                    </dd>
                {% else %}
                    <dd class="govuk-summary-list__value">
                        <a href="/bfs/onb/check-details/case-type?successNotification&detailChange=case-type" class="govuk-link govuk-link--no-visited-state">Select charging type</a>
                    </dd>
                {% endif %}
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Family liaison officer
                </dt>
                {% if data['floAdded'] == "yes" %}
                    <dd class="govuk-summary-list__value">
                        <p class="govuk-body">{{ (data['floLastName'] or 'Ross') | upper }}, {{ data['floFirstName'] or 'Jonathan' }}</p>
                        <p class="govuk-body">{{ data['floEmail'] or 'jonathan.ross@cps.gov.uk' }}</p>
                        <p class="govuk-body">{{ data['floPhone'] or '07712345678' }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="/bfs/onb/check-details/flo-completed">
                            Change<span class="govuk-visually-hidden"> family liaison officer</span>
                        </a>
                    </dd>
                {% else %}
                    <dd class="govuk-summary-list__value">
                        <a href="/bfs/onb/check-details/flo" class="govuk-link govuk-link--no-visited-state">Enter family liaison officer</a>
                    </dd>
                {% endif %}
            </div>

            
            </dl>

            <h2 class="govuk-heading-m">Bereaved family members</h2>

        {% if data['familyMembers'] and data['familyMembers'].length > 0 %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-4">
        {% for member in data['familyMembers'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ member.lastName | upper }}, {{ member.firstName }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ member.relationship }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/bfs/check-details/family-members/view?index={{ loop.index0 }}">View<span class="govuk-visually-hidden"> {{ member.firstName }} {{ member.lastName }}'s contact details</span></a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="/bfs/check-details/family-members/remove?index={{ loop.index0 }}">Remove<span class="govuk-visually-hidden"> {{ member.firstName }} {{ member.lastName }}</span></a>
                </li>
              </ul>
            </dd>
          </div>
        {% endfor %}
        </dl>

        <a href="/bfs/check-details/family-members/add" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">Add another person</a>
        {% else %}
        <p class="govuk-body">No bereaved family members family members have been added yet.</p>
        <a href="/bfs/check-details/family-members/add" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-9" data-module="govuk-button">Add a family member</a>
        {% endif %}
        <h2 class="govuk-heading-m">
            Now confirm their details
        </h2>
        <p class="govuk-body">
            After you confirm the details, you can create a task for {{ data['victimForename'] }} {{ data['victimSurname'] }}'s family.
        </p>
        <a href="/bfs/onb/next-task" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    </div>
</div>
{% endblock %}