{% extends "layouts/main.html" %}

{% set pageName="Prototype index" %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			Prototype index
		</h1>

		<h2 class="govuk-heading-l">
			Current versions
		</h2>

		<div class="govuk-accordion" data-module="govuk-accordion" id="future-research-accordion">
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="tactical-delivery-accordion-heading">
							Tactical solution
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="tactical-delivery-accordion-summary">
						For delivery
					</div>
				</div>
				<div id="tactical-delivery-accordion-content" class="govuk-accordion__section-content">
					<h4 class="govuk-heading-s govuk-!-margin-top-0">
						Onboarding and communications tasks prototype
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v50/sign-in?nextTask&pmoc" class="govuk-link govuk-link--no-visited-state">
								Onboarding
							</a>
						</li>
						<li>
							<a href="/v50/sign-in?serviceLead=Universal&vlo=THOMPSON,%20Sarah%20(you)&nextTask=dtc&existingTask=dtc&onboardedStatus=Yes&pcdType=dtc&pcdStatus=log-not-started&taskAssignee=THOMPSON,%20Sarah%20(you)&taskDueDate=01/04/2026&existingTaskDueDate=01/04/2026" class="govuk-link govuk-link--no-visited-state">
								Decision to charge
							</a>
						</li>
						<li>
							<a href="/v50/sign-in?serviceLead=Universal&vlo=THOMPSON,%20Sarah%20(you)&nextTask=nfa&existingTask=nfa&onboardedStatus=Yes&pcdType=nfa&pcdStatus=log-not-started&taskAssignee=THOMPSON,%20Sarah%20(you)&taskDueDate=01/04/2026&existingTaskDueDate=01/04/2026" class="govuk-link govuk-link--no-visited-state">
								No further action decision
							</a>
						</li>
						<li>
							<a href="/v50/sign-in?serviceLead=Universal&vlo=THOMPSON,%20Sarah%20(you)&nextTask=no-task&existingTask=no-task&onboardedStatus=Yes&pcdType&pcdStatus=log-not-started&taskAssignee=THOMPSON,%20Sarah%20(you)" class="govuk-link govuk-link--no-visited-state">
								No task at this time
							</a>
						</li>
					</ol>
					<h4 class="govuk-heading-s govuk-!-margin-top-0">
						Meeting tasks prototype
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v50/wft-meetings/tasks" class="govuk-link govuk-link--no-visited-state">
								Log offered meeting
							</a>
						</li>
						<li>
							<a href="/v50/wft-meetings/log-offer-response-check" class="govuk-link govuk-link--no-visited-state">
								Log offer response
							</a>
						</li>
						<li>
							<a href="/v50/wft-meetings/log-arranged-meeting-check" class="govuk-link govuk-link--no-visited-state">
								Log arranged meeting
							</a>
						</li>
						<li>
							<a href="/v50/wft-meetings/log-meeting-outcome-check" class="govuk-link govuk-link--no-visited-state">
								Log meeting outcome
							</a>
						</li>
					</ol>
					<h4 class="govuk-heading-s govuk-!-margin-top-6">
						Meetings prototype
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/ur/meetings-2/sign-in" class="govuk-link govuk-link--no-visited-state">
								Offer and arrange a meeting
							</a>
						</li>
						<li>
							<a href="/ur/meetings-2/meeting-already-open" class="govuk-link govuk-link--no-visited-state">
								Meeting already in progress
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="bfs-research-accordion-heading">
							Bereaved Family Scheme
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="bfs-research-accordion-summary">
						User research
					</div>
				</div>
				<div id="bfs-research-accordion-content" class="govuk-accordion__section-content">
					<p class="govuk-body">
						(20 May 2026)
					</p>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/ur/bfs/tasks" class="govuk-link">
								Victim search
							</a>
						</li>
						<li>
							<a href="/ur/bfs/onb/deceased-victim-needs-onboarding" class="govuk-link">
								Onboarding
							</a>
						</li>
							<li>
							<a href="/ur/bfs/onb/next-task" class="govuk-link">
								BFS Assign next task
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="future-delivery-accordion-heading">
							Possible future enhancements
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="future-delivery-accordion-summary">
						DO NOT USE! Currently out of sync with tactical solution.
					</div>
				</div>
				<div id="future-delivery-accordion-content" class="govuk-accordion__section-content">
					<h4 class="govuk-heading-s govuk-!-margin-top-0">
						Onboarding and communications tasks prototype
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v60/sign-in?nextTask&pmoc" class="govuk-link govuk-link--no-visited-state">
								Onboarding
							</a>
						</li>
						<li>
							<a href="/v60/sign-in?serviceLead=Universal&vlo=THOMPSON,%20Sarah%20(you)&nextTask=dtc&existingTask=dtc&onboardedStatus=Yes&pcdType=dtc&pcdStatus=log-not-started&taskAssignee=THOMPSON,%20Sarah%20(you)&taskDueDate=01/04/2026" class="govuk-link govuk-link--no-visited-state">
								Decision to charge
							</a>
						</li>
						<li>
							<a href="/v60/sign-in?serviceLead=Universal&vlo=THOMPSON,%20Sarah%20(you)&nextTask=nfa&existingTask=nfa&onboardedStatus=Yes&pcdType=nfa&pcdStatus=log-not-started&taskAssignee=THOMPSON,%20Sarah%20(you)&taskDueDate=01/04/2026" class="govuk-link govuk-link--no-visited-state">
								No further action decision
							</a>
						</li>
						<li>
							<a href="/v60/sign-in?serviceLead=Universal&vlo=THOMPSON,%20Sarah%20(you)&nextTask=stopped-charge&existingTask=stopped-charge&onboardedStatus=Yes&pcdType=dtc&vclType=stopped-charge&vclStatus=log-not-started&notifyStatus=delivered&taskAssignee=THOMPSON,%20Sarah%20(you)&taskDueDate=01/04/2026" class="govuk-link govuk-link--no-visited-state">
								Stopped charge (VCL Scheme)
							</a>
						</li>
						<li>
							<a href="/v60/sign-in?serviceLead=Universal&vlo=THOMPSON,%20Sarah%20(you)&nextTask=altered-charge&existingTask=altered-charge&onboardedStatus=Yes&pcdType=dtc&vclType=altered-charge&vclStatus=log-not-started&notifyStatus=delivered&taskAssignee=THOMPSON,%20Sarah%20(you)&taskDueDate=01/04/2026" class="govuk-link govuk-link--no-visited-state">
								Substantially altered charge (VCL Scheme)
							</a>
						</li>
					</ol>
					<h4 class="govuk-heading-s govuk-!-margin-top-0">
						Meeting tasks prototype
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v60/wft-meetings/tasks" class="govuk-link govuk-link--no-visited-state">
								Log offered meeting
							</a>
						</li>
						<li>
							<a href="/v60/wft-meetings/log-offer-response-check" class="govuk-link govuk-link--no-visited-state">
								Log offer response
							</a>
						</li>
						<li>
							<a href="/v60/wft-meetings/log-arranged-meeting-check" class="govuk-link govuk-link--no-visited-state">
								Log arranged meeting
							</a>
						</li>
						<li>
							<a href="/v60/wft-meetings/log-meeting-outcome-check" class="govuk-link govuk-link--no-visited-state">
								Log meeting outcome
							</a>
						</li>
					</ol>
				</div>
			</div>
		</div>

		<h2 class="govuk-heading-l">
			Old versions
		</h2>
		<p class="govuk-body">
			These versions are no longer maintained and may not work as expected.
		</p>

		<div class="govuk-accordion" data-module="govuk-accordion" id="delivery-accordion">
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="meetings-research-accordion-heading">
							Meetings
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="meetings-research-accordion-summary">
						User research
					</div>
				</div>
				<div id="meetings-research-accordion-content" class="govuk-accordion__section-content">
					<p class="govuk-body">
						(29 April 2026)
					</p>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/ur/meetings-2/sign-in" class="govuk-link">
								Offer and arrange a meeting
							</a>
						</li>
						<li>
							<a href="/ur/meetings-2/meeting-already-open" class="govuk-link">
								Meeting already in progress
							</a>
						</li>
					</ol>
					<p class="govuk-body">
						Old version
					</p>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/ur/meetings/sign-in" class="govuk-link">
								Arrange a meeting
							</a>
						</li>
						<li>
							<a href="/ur/meetings/check-answers" class="govuk-link">
								Sent by post
							</a>
						</li>
						<li>
							<a href="/ur/meetings/check-answers-email" class="govuk-link">
								Sent by email
							</a>
						</li>
						<li>
							<a href="/ur/meetings/check-answers-police" class="govuk-link">
								Sent by police
							</a>
						</li>
						<li>
							<a href="/ur/meetings/check-answers-telephone" class="govuk-link">
								Sent by telephone
							</a>
						</li>
						<li>
							<a href="/ur/meetings/check-answers-isva" class="govuk-link">
								Sent by ISVA
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="workflow-delivery-accordion-heading">
							Workflow and tasking (integrated)
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="workflow-delivery-accordion-summary">
						For delivery
					</div>
				</div>
				<div id="workflow-delivery-accordion-content" class="govuk-accordion__section-content">
					<h4 class="govuk-heading-s govuk-!-margin-top-0">
						Onboarding
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v42/sign-in?nextTask&pmoc" class="govuk-link govuk-link--no-visited-state">
								Onboarding
							</a>
						</li>
					</ol>
					<h4 class="govuk-heading-s govuk-!-margin-top-0">
						Decision to charge
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=check-details" class="govuk-link ">
								Check details before drafting letter
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-amendments-required" class="govuk-link">
								Amend the draft
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=before-call-1" class="govuk-link">
								After the draft was approved (PMOC is mobile)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=email" class="govuk-link">
								After the draft was approved (PMOC is email)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=post" class="govuk-link">
								After the draft was approved (PMOC is post)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=via-police" class="govuk-link">
								After the draft was approved (PMOC is Via police)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=via-isva" class="govuk-link">
								After the draft was approved (PMOC is Via ISVA)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc" class="govuk-link">
								After the draft was approved (PMOC is unknown)
							</a>
						</li>
					</ol>
					<h4 class="govuk-heading-s govuk-!-margin-top-6">
						No further action
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=check-details" class="govuk-link">
								Check details before drafting letter
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-amendments-required" class="govuk-link">
								Amend the draft
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=before-call-1" class="govuk-link">
								After the draft was approved (PMOC is mobile)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc=email" class="govuk-link">
								After the draft was approved (PMOC is email)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc=post" class="govuk-link">
								After the draft was approved (PMOC is post)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc=via-police" class="govuk-link">
								After the draft was approved (PMOC is Via police)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc=via-isva" class="govuk-link">
								After the draft was approved (PMOC is Via ISVA)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc" class="govuk-link">
								After the draft was approved (PMOC is unknown)
							</a>
						</li>
					</ol>
					<h4 class="govuk-heading-s govuk-!-margin-top-6">
						VCL Scheme (stopped charge)
					</h4>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=check-details&notifyStatus=delivered" class="govuk-link">
								Check details before drafting letter
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-amendments-required&notifyStatus=delivered" class="govuk-link">
								Amending the draft
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=before-call-1&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is mobile)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=email&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is email)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=post&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is post)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=via-police&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is Via police)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=via-isva&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is Via ISVA)
							</a>
						</li>
						<li>
							<a href="/v42/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is unknown)
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="workflow-ur-accordion-heading">
							Workflow and tasking (integrated)
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="workflow-ur-accordion-summary">
						User research
					</div>
				</div>
				<div id="workflow-ur-accordion-content" class="govuk-accordion__section-content">
					<h4 class="govuk-heading-s govuk-!-margin-top-0">
						Onboarding
					</h4>
					<p class="govuk-body">
						(?? January 2026)
					</p>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v40/onb/sign-in" class="govuk-link">
								Onboarding
							</a>
						</li>
					</ol>
					<h4 class="govuk-heading-s govuk-!-margin-top-0">
						Decision to charge
					</h4>
					<p class="govuk-body">
						(4 to ? December 2025)
					</p>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v40/pcd/sign-in" class="govuk-link">
								Creating the draft
							</a>
						</li>
						<li>
							<a href="/v40/pcd/sign-in?pcdType=dtc&pcdStatus=draft-amendments-required" class="govuk-link">
								Amending the draft
							</a>
						</li>
						<li>
							<a href="/v40/pcd/sign-in?pcdType=dtc&pcdStatus=before-call-1" class="govuk-link">
								After the draft has been approved (PMOC is mobile)
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="vcl-delivery-accordion-heading">
							Victim Communication & Liaison Scheme (VCL)
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="vcl-delivery-accordion-summary">
						For delivery
					</div>
				</div>
				<div id="vcl-delivery-accordion-content" class="govuk-accordion__section-content">
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v31/start/sign-in?vclType&notifyStatus=delivered" class="govuk-link">
								Creating the draft
							</a>
						</li>
						<li>
							<a href="/v31/start/sign-in?vclType=stopped-charge&vclStatus=draft-amendments-required&notifyStatus=delivered" class="govuk-link">
								Amending the draft
							</a>
						</li>
						<li>
							<a href="/v31/start/sign-in?vclType=stopped-charge&vclStatus=before-call-1&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is mobile)
							</a>
						</li>
						<li>
							<a href="/v31/start/sign-in?vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=email&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is email)
							</a>
						</li>
						<li>
							<a href="/v31/start/sign-in?vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=post&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is post)
							</a>
						</li>
						<li>
							<a href="/v31/start/sign-in?vclType&pmoc=via-police" class="govuk-link">
								PMOC is Via police
							</a>
						</li>
						<li>
							<a href="/v31/start/sign-in?vclType&pmoc=via-isva" class="govuk-link">
								PMOC is Via ISVA
							</a>
						</li>
						<li>
							<a href="/v31/start/sign-in?vclType&pmoc" class="govuk-link">
								PMOC is unknown
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="vcl-research-accordion-heading">
							Victim Communication & Liaison Scheme (VCL)
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="vcl-research-accordion-summary">
						User research
					</div>
				</div>
				<div id="vcl-research-accordion-content" class="govuk-accordion__section-content">
					<p class="govuk-body">
						(10 to 15 October 2025)
					</p>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v30/start/sign-in?vclType&notifyStatus=delivered&vclOption=a" class="govuk-link">
								Creating the draft (option A)
							</a>
						</li>
						<li>
							<a href="/v30/start/sign-in?vclType&notifyStatus=delivered&vclOption=b" class="govuk-link">
								Creating the draft (option B)
							</a>
						</li>
						<li>
							<a href="/v30/start/sign-in?vclType&notifyStatus=delivered&vclOption=c" class="govuk-link">
								Creating the draft (option C)
							</a>
						</li>
						<li>
							<a href="/v30/start/sign-in?vclType=stopped-charge&vclStatus=draft-amendments-required&notifyStatus=delivered" class="govuk-link">
								Amending the draft
							</a>
						</li>
						<li>
							<a href="/v30/start/sign-in?vclType=stopped-charge&vclStatus=before-call-1&notifyStatus=delivered" class="govuk-link">
								After the draft has been approved (PMOC is mobile)
							</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="charging-decision-delivery-accordion-heading">
							Charging decision (DtC and NFA)
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="charging-decision-delivery-accordion-summary">
						For delivery
					</div>
				</div>
				<div id="charging-decision-delivery-accordion-content" class="govuk-accordion__section-content">
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v21/start-1/sign-in" class="govuk-link">Creating the draft</a>
						</li>
						<li>
							<a href="/v21/start-2/sign-in" class="govuk-link">Amending the draft</a>
						</li>
						<li>
							<a href="/v21/start-3/sign-in" class="govuk-link">After the draft has been approved (PMOC is mobile)</a>
						</li>
						<li>
							<a href="/v21/start-4/sign-in" class="govuk-link">After the draft has been approved (PMOC is email)</a>
						</li>
						<li>
							<a href="/v21/start-5/sign-in" class="govuk-link">After the draft has been approved (PMOC is post)</a>
						</li>
						<li>
							<a href="/v21/start-6/sign-in" class="govuk-link">PMOC is Via police</a>
						</li>
						<li>
							<a href="/v21/start-7/sign-in" class="govuk-link">PMOC is Via ISVA</a>
						</li>
						<li>
							<a href="/v21/start-8/sign-in" class="govuk-link">PMOC is unknown</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="charging-decision-research-accordion-heading">
							No further action decision (NFA)
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="charging-decision-research-accordion-summary">
						User research
					</div>
				</div>
				<div id="charging-decision-research-accordion-content" class="govuk-accordion__section-content">
					<p class="govuk-body">
						(21 to 23 July 2025)
					</p>
					<ol class="govuk-list govuk-list--number">
						<li>
							<a href="/v20/start-1/sign-in" class="govuk-link">Creating the draft</a>
						</li>
						<li>
							<a href="/v20/start-2/sign-in" class="govuk-link">Amending the draft</a>
						</li>
						<li>
							<a href="/v20/start-3/sign-in" class="govuk-link">After the draft has been approved</a>
						</li>
					</ol>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="dtc-delivery-accordion-heading">
							Decision to charge (DtC)
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="dtc-delivery-accordion-summary">
						Delivery
					</div>
				</div>
				<div id="dtc-delivery-accordion-content" class="govuk-accordion__section-content">
					<ul class="govuk-list">
						<li>
							<a href="/v12/sign-in" class="govuk-link">Sending a Decision to charge email</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="govuk-accordion__section">
				<div class="govuk-accordion__section-header">
					<h3 class="govuk-accordion__section-heading">
						<span class="govuk-accordion__section-button" id="dtc-research-accordion-heading">
							Decision to charge (DtC)
						</span>
					</h3>
					<div class="govuk-accordion__section-summary govuk-body" id="dtc-research-accordion-summary">
						User research
					</div>
				</div>
				<div id="dtc-research-accordion-content" class="govuk-accordion__section-content">
					<ul class="govuk-list">
						<li>
							<a href="/v11/sign-in" class="govuk-link">Round 2</a> (27 to 28 March 2025)
						</li>
						<li>
							<a href="/v10/sign-in" class="govuk-link">Round 1</a> (6 to 7 March 2025)
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}
