{% extends "layouts/main.html" %}

{% set pageName="Prototype index" %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype index
    </h1>

    <h2 class="govuk-heading-l">
      Research
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="research-accordion">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="victim-meetings-research-accordion-heading">
              Meetings
            </span>
          </h3>
        </div>
        <div id="victim-meetings-research-accordion-content" class="govuk-accordion__section-content">
          <p class="govuk-body">
            (18 November 2025)
          </p>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/ur/meetings-2/sign-in" class="govuk-link">
                Offer and arrange a meeting
              </a>
            </li>
            <li>
              <a href="/ur/meetings/sign-in" class="govuk-link">
                Arrange a meeting
              </a>
            </li>
            <li>
              <a href="/ur/meetings/check-answers" class="govuk-link">
                Sent by post
              </a>
            </li>
            <li>
              <a href="/ur/meetings/check-answers-email" class="govuk-link">
                Sent by email
              </a>
            </li>
            <li>
              <a href="/ur/meetings/check-answers-police" class="govuk-link">
                Sent by police
              </a>
            </li>
            <li>
              <a href="/ur/meetings/check-answers-telephone" class="govuk-link">
                Sent by telephone
              </a>
            </li>
            <li>
              <a href="/ur/meetings/check-answers-isva" class="govuk-link">
                Sent by ISVA
              </a>
            </li>
          </ol>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="pcd-workflow-ur-accordion-heading">
              Workflow and tasking
            </span>
          </h3>
        </div>
        <div id="nfa-delivery-accordion-content" class="govuk-accordion__section-content">
          <h4 class="govuk-heading-s govuk-!-margin-top-0">
            Onboarding
          </h4>
          <p class="govuk-body">
            (?? January 2026)
          </p>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/ur/wat/onb/sign-in" class="govuk-link">
                Onboarding
              </a>
            </li>
          </ol>
          <h4 class="govuk-heading-s govuk-!-margin-top-0">
            Decision to charge
          </h4>
          <p class="govuk-body">
            (4 to ? December 2025)
          </p>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/ur/wat/pcd/sign-in" class="govuk-link">
                Creating the draft
              </a>
            </li>
            <li>
              <a href="/ur/wat/pcd/sign-in?pcdType=dtc&pcdStatus=draft-amendments-required" class="govuk-link">
                Amending the draft
              </a>
            </li>
            <li>
              <a href="/ur/wat/pcd/sign-in?pcdType=dtc&pcdStatus=before-call-1" class="govuk-link">
                After the draft has been approved (PMOC is mobile)
              </a>
            </li>
            <!-- <li>
              <a href="/ur/wat/pcd/sign-in?pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=email" class="govuk-link">
                After the draft has been approved (PMOC is email)
              </a>
            </li>
            <li>
              <a href="/ur/wat/pcd/sign-in?pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=post" class="govuk-link">
                After the draft has been approved (PMOC is post)
              </a>
            </li>
            <li>
              <a href="/ur/wat/pcd/sign-in?pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=via-police" class="govuk-link">
                After the draft has been approved (PMOC is Via police)
              </a>
            </li>
            <li>
              <a href="/ur/wat/pcd/sign-in?pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=via-isva" class="govuk-link">
                After the draft has been approved (PMOC is Via ISVA)
              </a>
            </li>
            <li>
              <a href="/ur/wat/pcd/sign-in?pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc" class="govuk-link">
                After the draft has been approved (PMOC is unknown)
              </a>
            </li> -->
          </ol>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="vcl-research-accordion-heading">
              Victim Communication & Liaison Scheme (VCL)
            </span>
          </h3>
        </div>
        <div id="vcl-research-accordion-content" class="govuk-accordion__section-content">
          <p class="govuk-body">
            (10 to 15 October 2025)
          </p>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/ur/vcl/start/sign-in?vclType&notifyStatus=delivered&vclOption=a" class="govuk-link">
                Creating the draft (option A)
              </a>
            </li>
            <li>
              <a href="/ur/vcl/start/sign-in?vclType&notifyStatus=delivered&vclOption=b" class="govuk-link">
                Creating the draft (option B)
              </a>
            </li>
            <li>
              <a href="/ur/vcl/start/sign-in?vclType&notifyStatus=delivered&vclOption=c" class="govuk-link">
                Creating the draft (option C)
              </a>
            </li>
            <li>
              <a href="/ur/vcl/start/sign-in?vclType=stopped-charge&vclStatus=draft-amendments-required&notifyStatus=delivered" class="govuk-link">
                Amending the draft
              </a>
            </li>
            <li>
              <a href="/ur/vcl/start/sign-in?vclType=stopped-charge&vclStatus=before-call-1&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is mobile)
              </a>
            </li>
            <!-- <li>
              <a href="/ur/vcl/start/sign-in?vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=email&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is email)
              </a>
            </li>
            <li>
              <a href="/ur/vcl/start/sign-in?vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=post&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is post)
              </a>
            </li>
            <li>
              <a href="/ur/vcl/start/sign-in?vclType&pmoc=via-police" class="govuk-link">
                PMOC is Via police
              </a>
            </li>
            <li>
              <a href="/ur/vcl/start/sign-in?vclType&pmoc=via-isva" class="govuk-link">
                PMOC is Via ISVA
              </a>
            </li>
            <li>
              <a href="/ur/vcl/start/sign-in?vclType&pmoc" class="govuk-link">
                PMOC is unknown
              </a>
            </li> -->
          </ol>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="nfa-research-accordion-heading">
              Pre-charge decision (PCD)
            </span>
          </h3>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            Decision to charge (DtC)<br>No further action (NFA)
          </div>
        </div>
        <div id="nfa-research-accordion-content" class="govuk-accordion__section-content">
          <h4 class="govuk-heading-s govuk-!-margin-top-0">
            No further action
          </h4>
          <p class="govuk-body">
            (21 to 23 July 2025)
          </p>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/ur/nfa/start-1/sign-in" class="govuk-link">Creating the draft</a>
            </li>
            <li>
              <a href="/ur/nfa/start-2/sign-in" class="govuk-link">Amending the draft</a>
            </li>
            <li>
              <a href="/ur/nfa/start-3/sign-in" class="govuk-link">After the draft has been approved</a>
            </li>
          </ol>
          <h4 class="govuk-heading-s govuk-!-margin-top-6">
            Decision to charge
          </h4>
          <ul class="govuk-list">
            <li>
              <a href="/ur/dtc/ur2/sign-in" class="govuk-link">Round 2</a> (27 to 28 March 2025)
            </li>
            <li>
              <a href="/ur/dtc/ur1/sign-in" class="govuk-link">Round 1</a> (6 to 7 March 2025)
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-l">
      Ready for Delivery
    </h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="delivery-accordion">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="pcd-workflow-ur-accordion-heading">
              Workflow and tasking
            </span>
          </h3>
        </div>
        <div id="wat-delivery-accordion-content" class="govuk-accordion__section-content">
          <h4 class="govuk-heading-s govuk-!-margin-top-0">
            Onboarding
          </h4>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/delivery/wat2/sign-in?nextTask&pmoc" class="govuk-link">
                Onboarding
              </a>
            </li>
          </ol>
          <h4 class="govuk-heading-s govuk-!-margin-top-0">
            Decision to charge
          </h4>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=check-details" class="govuk-link">
                Check details before drafting letter
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-amendments-required" class="govuk-link">
                Amend the draft
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=before-call-1" class="govuk-link">
                After the draft was approved (PMOC is mobile)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=email" class="govuk-link">
                After the draft was approved (PMOC is email)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=post" class="govuk-link">
                After the draft was approved (PMOC is post)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=via-police" class="govuk-link">
                After the draft was approved (PMOC is Via police)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc=via-isva" class="govuk-link">
                After the draft was approved (PMOC is Via ISVA)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=dtc&onboarded=yes&pcdType=dtc&pcdStatus=draft-ready-to-send&pmoc" class="govuk-link">
                After the draft was approved (PMOC is unknown)
              </a>
            </li>
          </ol>
          <h4 class="govuk-heading-s govuk-!-margin-top-6">
            No further action
          </h4>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=check-details" class="govuk-link">
                Check details before drafting letter
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-amendments-required" class="govuk-link">
                Amend the draft
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=before-call-1" class="govuk-link">
                After the draft was approved (PMOC is mobile)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc=email" class="govuk-link">
                After the draft was approved (PMOC is email)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc=post" class="govuk-link">
                After the draft was approved (PMOC is post)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc=via-police" class="govuk-link">
                After the draft was approved (PMOC is Via police)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc=via-isva" class="govuk-link">
                After the draft was approved (PMOC is Via ISVA)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=nfa&onboarded=yes&pcdType=nfa&pcdStatus=draft-ready-to-send&pmoc" class="govuk-link">
                After the draft was approved (PMOC is unknown)
              </a>
            </li>
          </ol>
          <h4 class="govuk-heading-s govuk-!-margin-top-6">
            VCL Scheme (stopped charge)
          </h4>
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=check-details&notifyStatus=delivered" class="govuk-link">
                Check details before drafting letter
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-amendments-required&notifyStatus=delivered" class="govuk-link">
                Amending the draft
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=before-call-1&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is mobile)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=email&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is email)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=post&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is post)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=via-police&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is Via police)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=via-isva&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is Via ISVA)
              </a>
            </li>
            <li>
              <a href="/delivery/wat2/sign-in?serviceLead=universal&nextTask=stopped-charge&onboarded=Yes&vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is unknown)
              </a>
            </li>
          </ol>
        </div>
      </div>
      <!-- <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="vcl-delivery-accordion-heading">
              Victim Communication & Liaison Scheme (VCL)
            </span>
          </h3>
        </div>
        <div id="vcl-delivery-accordion-content" class="govuk-accordion__section-content">
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/delivery/vcl/start/sign-in?vclType&notifyStatus=delivered" class="govuk-link">
                Creating the draft
              </a>
            </li>
            <li>
              <a href="/delivery/vcl/start/sign-in?vclType=stopped-charge&vclStatus=draft-amendments-required&notifyStatus=delivered" class="govuk-link">
                Amending the draft
              </a>
            </li>
            <li>
              <a href="/delivery/vcl/start/sign-in?vclType=stopped-charge&vclStatus=before-call-1&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is mobile)
              </a>
            </li>
            <li>
              <a href="/delivery/vcl/start/sign-in?vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=email&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is email)
              </a>
            </li>
            <li>
              <a href="/delivery/vcl/start/sign-in?vclType=stopped-charge&vclStatus=draft-ready-to-send&pmoc=post&notifyStatus=delivered" class="govuk-link">
                After the draft has been approved (PMOC is post)
              </a>
            </li>
            <li>
              <a href="/delivery/vcl/start/sign-in?vclType&pmoc=via-police" class="govuk-link">
                PMOC is Via police
              </a>
            </li>
            <li>
              <a href="/delivery/vcl/start/sign-in?vclType&pmoc=via-isva" class="govuk-link">
                PMOC is Via ISVA
              </a>
            </li>
            <li>
              <a href="/delivery/vcl/start/sign-in?vclType&pmoc" class="govuk-link">
                PMOC is unknown
              </a>
            </li>
          </ol>
        </div>
      </div> -->
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="nfa-delivery-accordion-heading">
              Pre-charge decision (PCD)
            </span>
          </h3>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            Decision to charge (DtC)<br>No further action (NFA)
          </div>
        </div>
        <div id="nfa-delivery-accordion-content" class="govuk-accordion__section-content">
          <ol class="govuk-list govuk-list--number">
            <li>
              <a href="/delivery/nfa/start-1/sign-in" class="govuk-link">Creating the draft</a>
            </li>
            <li>
              <a href="/delivery/nfa/start-2/sign-in" class="govuk-link">Amending the draft</a>
            </li>
            <li>
              <a href="/delivery/nfa/start-3/sign-in" class="govuk-link">After the draft has been approved (PMOC is mobile)</a>
            </li>
            <li>
              <a href="/delivery/nfa/start-4/sign-in" class="govuk-link">After the draft has been approved (PMOC is email)</a>
            </li>
            <li>
              <a href="/delivery/nfa/start-5/sign-in" class="govuk-link">After the draft has been approved (PMOC is post)</a>
            </li>
            <li>
              <a href="/delivery/nfa/start-6/sign-in" class="govuk-link">PMOC is Via police</a>
            </li>
            <li>
              <a href="/delivery/nfa/start-7/sign-in" class="govuk-link">PMOC is Via ISVA</a>
            </li>
            <li>
              <a href="/delivery/nfa/start-8/sign-in" class="govuk-link">PMOC is unknown</a>
            </li>
          </ol>
        </div>
      </div>
      <!-- <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="dtc-delivery-accordion-heading">
              Decision to charge (DtC)
            </span>
          </h3>
        </div>
        <div id="dtc-delivery-accordion-content" class="govuk-accordion__section-content">
          <ul class="govuk-list">
            <li>
              <a href="/delivery/dtc/sign-in" class="govuk-link">Sending a Decision to charge email</a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>

  </div>
</div>

{% endblock %}
