{% extends "layouts/main.html" %}
{% set pageName="Victims" %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block header %}
{% include "/v60/partials/header/victims-selected.html" %}
{% endblock %}

{% block content %}

{% set vloName = data['vlo'] | default('') %}
{% set vloNameParts = vloName.split(', ') %}
{% if vloNameParts | length == 2 %}
  {% set vloLastname = vloNameParts[0] | capitalize %}
  {% set vloFirstnameRaw = vloNameParts[1] %}
  {% set vloFirstname = vloFirstnameRaw.split(' (')[0] %}
  {% set vloFormatted = vloFirstname + ' ' + vloLastname %}
{% else %}
  {% set vloFormatted = vloName %}
{% endif %}
<div id="vlo-success-banner" class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-4" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" style="display: none;">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You changed the victim liaison officer for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {{ vloFormatted }}.
    </h3>
  </div>
</div>

<div id="service-success-banner" class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-4" role="alert" aria-labelledby="govuk-notification-banner-title-service" data-module="govuk-notification-banner" style="display: none;">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title-service">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      You changed the service lead for {{ data['victimForename'] }} {{ data['victimSurname'] }} to {% if data['serviceLead'] == "Not aligned" %}Not aligned to a service{% else %}the {{ data['serviceLead'] }} service{% endif %}.
    </h3>
  </div>
</div>

<div class="govuk-error-summary" id="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" style="display: none;">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list" id="error-summary-list">
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Victims</h1>

  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="tasks-filters">

      <p class="govuk-body" id="selected-filters-heading">No filters selected</p>
      <p class="govuk-body" id="clear-search-filters-wrapper" style="display: none;">
        <a class="govuk-link govuk-link--no-visited-state" href="#" id="clear-search-filters">Clear filters</a>
      </p>
      <div id="selected-filters-chips" class="govuk-!-margin-bottom-0">
      </div>

      <button type="button" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0" data-module="govuk-button" id="apply-filters-button">
        Apply filters
      </button>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <form id="service-area-form" class="govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend id="service-area-vlo-legend" class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Victim liaison officer
            </legend>
            <div class="govuk-form-group govuk-!-margin-bottom-2">
              <div id="service-area-vlo-autocomplete"></div>
            </div>
            <ul id="service-area-vlo-chips-container" class="app-filter-tags govuk-!-margin-bottom-0 govuk-!-margin-top-2">
            </ul>
            <div id="service-area-vlo-checkboxes-container" class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="display: none;">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-1" name="service-area-vlo" type="checkbox" value="thompson-sarah" data-label="THOMPSON, Sarah (you)">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-1">THOMPSON, Sarah (you)</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-21" name="service-area-vlo" type="checkbox" value="unassigned" data-label="Unassigned">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-21">Unassigned</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-2" name="service-area-vlo" type="checkbox" value="kumar-priya" data-label="KUMAR, Priya">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-2">KUMAR, Priya</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-3" name="service-area-vlo" type="checkbox" value="bishop-james" data-label="BISHOP, James">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-3">BISHOP, James</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-4" name="service-area-vlo" type="checkbox" value="morrison-claire" data-label="MORRISON, Claire">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-4">MORRISON, Claire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-5" name="service-area-vlo" type="checkbox" value="hayes-michael" data-label="HAYES, Michael">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-5">HAYES, Michael</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-6" name="service-area-vlo" type="checkbox" value="anderson-david" data-label="ANDERSON, David">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-6">ANDERSON, David</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-7" name="service-area-vlo" type="checkbox" value="wright-hannah" data-label="WRIGHT, Hannah">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-7">WRIGHT, Hannah</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-8" name="service-area-vlo" type="checkbox" value="martinez-carlos" data-label="MARTINEZ, Carlos">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-8">MARTINEZ, Carlos</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-9" name="service-area-vlo" type="checkbox" value="johnson-patricia" data-label="JOHNSON, Patricia">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-9">JOHNSON, Patricia</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-10" name="service-area-vlo" type="checkbox" value="chen-michael" data-label="CHEN, Michael">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-10">CHEN, Michael</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-11" name="service-area-vlo" type="checkbox" value="patel-ravi" data-label="PATEL, Ravi">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-11">PATEL, Ravi</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-12" name="service-area-vlo" type="checkbox" value="oconnell-siobhan" data-label="O'CONNELL, Siobhan">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-12">O'CONNELL, Siobhan</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-13" name="service-area-vlo" type="checkbox" value="thompson-robert" data-label="THOMPSON, Robert">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-13">THOMPSON, Robert</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-14" name="service-area-vlo" type="checkbox" value="garcía-luis" data-label="GARCÍA, Luis">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-14">GARCÍA, Luis</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-15" name="service-area-vlo" type="checkbox" value="henderson-louise" data-label="HENDERSON, Louise">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-15">HENDERSON, Louise</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-16" name="service-area-vlo" type="checkbox" value="williams-anna" data-label="WILLIAMS, Anna">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-16">WILLIAMS, Anna</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-17" name="service-area-vlo" type="checkbox" value="stewart-james" data-label="STEWART, James">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-17">STEWART, James</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-18" name="service-area-vlo" type="checkbox" value="lewis-elizabeth" data-label="LEWIS, Elizabeth">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-18">LEWIS, Elizabeth</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-19" name="service-area-vlo" type="checkbox" value="walker-george" data-label="WALKER, George">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-19">WALKER, George</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-area-vlo-checkbox" id="service-area-vlo-20" name="service-area-vlo" type="checkbox" value="clark-victoria" data-label="CLARK, Victoria">
                <label class="govuk-label govuk-checkboxes__label" for="service-area-vlo-20">CLARK, Victoria</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Service lead
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-checkbox" id="service-1" name="service" type="checkbox" value="universal" data-label="Universal">
                <label class="govuk-label govuk-checkboxes__label" for="service-1">Universal</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-checkbox" id="service-2" name="service" type="checkbox" value="enhanced" data-label="Enhanced">
                <label class="govuk-label govuk-checkboxes__label" for="service-2">Enhanced</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-checkbox" id="service-3" name="service" type="checkbox" value="rasso" data-label="RASSO">
                <label class="govuk-label govuk-checkboxes__label" for="service-3">RASSO</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-checkbox" id="service-4" name="service" type="checkbox" value="none" data-label="Not aligned">
                <label class="govuk-label govuk-checkboxes__label" for="service-4">Not aligned</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input service-checkbox" id="service-5" name="service" type="checkbox" value="not-onboarded" data-label="Not onboarded">
                <label class="govuk-label govuk-checkboxes__label" for="service-5">Not onboarded</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend id="area-legend" class="govuk-fieldset__legend govuk-fieldset__legend--s">
              CPS area
            </legend>
            <div class="govuk-form-group govuk-!-margin-bottom-2">
              <div id="area-autocomplete"></div>
            </div>
            <ul id="area-chips-container" class="app-filter-tags govuk-!-margin-bottom-0 govuk-!-margin-top-2">
            </ul>
            <div id="area-checkboxes-container" class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="display: none;">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-1" name="area" type="checkbox" value="avon-somerset" data-label="Avon and Somerset">
                <label class="govuk-label govuk-checkboxes__label" for="area-1">Avon and Somerset</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-2" name="area" type="checkbox" value="bedfordshire" data-label="Bedfordshire">
                <label class="govuk-label govuk-checkboxes__label" for="area-2">Bedfordshire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-3" name="area" type="checkbox" value="cambridgeshire" data-label="Cambridgeshire">
                <label class="govuk-label govuk-checkboxes__label" for="area-3">Cambridgeshire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-4" name="area" type="checkbox" value="cheshire" data-label="Cheshire">
                <label class="govuk-label govuk-checkboxes__label" for="area-4">Cheshire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-5" name="area" type="checkbox" value="cleveland" data-label="Cleveland">
                <label class="govuk-label govuk-checkboxes__label" for="area-5">Cleveland</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-6" name="area" type="checkbox" value="cumbria" data-label="Cumbria">
                <label class="govuk-label govuk-checkboxes__label" for="area-6">Cumbria</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-7" name="area" type="checkbox" value="devon-cornwall" data-label="Devon and Cornwall">
                <label class="govuk-label govuk-checkboxes__label" for="area-7">Devon and Cornwall</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-8" name="area" type="checkbox" value="durham" data-label="Durham">
                <label class="govuk-label govuk-checkboxes__label" for="area-8">Durham</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-9" name="area" type="checkbox" value="dyfed-powys" data-label="Dyfed Powys">
                <label class="govuk-label govuk-checkboxes__label" for="area-9">Dyfed Powys</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-10" name="area" type="checkbox" value="essex" data-label="Essex">
                <label class="govuk-label govuk-checkboxes__label" for="area-10">Essex</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-11" name="area" type="checkbox" value="gloucestershire" data-label="Gloucestershire">
                <label class="govuk-label govuk-checkboxes__label" for="area-11">Gloucestershire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-12" name="area" type="checkbox" value="greater-manchester" data-label="Greater Manchester">
                <label class="govuk-label govuk-checkboxes__label" for="area-12">Greater Manchester</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-13" name="area" type="checkbox" value="gwent" data-label="Gwent">
                <label class="govuk-label govuk-checkboxes__label" for="area-13">Gwent</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-14" name="area" type="checkbox" value="hampshire-iow" data-label="Hampshire and Isle of Wight">
                <label class="govuk-label govuk-checkboxes__label" for="area-14">Hampshire and Isle of Wight</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-15" name="area" type="checkbox" value="hertfordshire" data-label="Hertfordshire">
                <label class="govuk-label govuk-checkboxes__label" for="area-15">Hertfordshire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-16" name="area" type="checkbox" value="hmcpsi" data-label="HMCPSI">
                <label class="govuk-label govuk-checkboxes__label" for="area-16">HMCPSI</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-17" name="area" type="checkbox" value="humberside" data-label="Humberside">
                <label class="govuk-label govuk-checkboxes__label" for="area-17">Humberside</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-18" name="area" type="checkbox" value="kent" data-label="Kent">
                <label class="govuk-label govuk-checkboxes__label" for="area-18">Kent</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-19" name="area" type="checkbox" value="lancashire" data-label="Lancashire">
                <label class="govuk-label govuk-checkboxes__label" for="area-19">Lancashire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-20" name="area" type="checkbox" value="leatherhead" data-label="Leatherhead">
                <label class="govuk-label govuk-checkboxes__label" for="area-20">Leatherhead</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-21" name="area" type="checkbox" value="leicestershire" data-label="Leicestershire">
                <label class="govuk-label govuk-checkboxes__label" for="area-21">Leicestershire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-22" name="area" type="checkbox" value="lincolnshire" data-label="Lincolnshire">
                <label class="govuk-label govuk-checkboxes__label" for="area-22">Lincolnshire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-23" name="area" type="checkbox" value="london" data-label="London">
                <label class="govuk-label govuk-checkboxes__label" for="area-23">London</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-24" name="area" type="checkbox" value="merseyside" data-label="Merseyside">
                <label class="govuk-label govuk-checkboxes__label" for="area-24">Merseyside</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-25" name="area" type="checkbox" value="norfolk" data-label="Norfolk">
                <label class="govuk-label govuk-checkboxes__label" for="area-25">Norfolk</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-26" name="area" type="checkbox" value="north-wales" data-label="North Wales">
                <label class="govuk-label govuk-checkboxes__label" for="area-26">North Wales</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-27" name="area" type="checkbox" value="north-yorkshire" data-label="North Yorkshire">
                <label class="govuk-label govuk-checkboxes__label" for="area-27">North Yorkshire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-28" name="area" type="checkbox" value="northamptonshire" data-label="Northamptonshire">
                <label class="govuk-label govuk-checkboxes__label" for="area-28">Northamptonshire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-29" name="area" type="checkbox" value="northumbria" data-label="Northumbria">
                <label class="govuk-label govuk-checkboxes__label" for="area-29">Northumbria</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-30" name="area" type="checkbox" value="nottinghamshire" data-label="Nottinghamshire">
                <label class="govuk-label govuk-checkboxes__label" for="area-30">Nottinghamshire</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-31" name="area" type="checkbox" value="rmu-area" data-label="Records Management Unit area">
                <label class="govuk-label govuk-checkboxes__label" for="area-31">Records Management Unit area</label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input area-checkbox" id="area-32" name="area" type="checkbox" value="south-wales" data-label="South Wales">
                <label class="govuk-label govuk-checkboxes__label" for="area-32">South Wales</label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-search-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Victim's date of birth
            </legend>
            <div class="govuk-date-input" id="dob-search" style="white-space: nowrap;">
              <div class="govuk-date-input__item" style="margin-right: 10px;">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-search-day">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-search-day" name="dob-search-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item" style="margin-right: 10px;">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-search-month">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-search-month" name="dob-search-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item" style="margin-right: 0;">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="dob-search-year">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-search-year" name="dob-search-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group govuk-!-margin-top-4">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Witnesses
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input non-victim-checkbox" id="non-victim-1" name="non-victim" type="checkbox" value="show-non-victims" data-label="Show non-victims">
                <label class="govuk-label govuk-checkboxes__label" for="non-victim-1">Show victims and witnesses</label>
              </div>
            </div>
          </fieldset>
        </div>

      </form>

    </div>
  </div>

  <div class="govuk-grid-column-three-quarters">

    <div id="case-reference-section" class="moj-search govuk-!-margin-bottom-4" style="background-color: #f3f2f1; padding: 1.5rem;">
      <form action="#" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-0">

          <label class="govuk-label govuk-label--s" for="search-urn">
            Search by case reference or victim name
          </label>

          <div style="display: flex; gap: 10px; align-items: flex-start;">
            <input type="text" class="govuk-input moj-search__input govuk-!-margin-bottom-0" id="search-urn" name="searchUrn" autocomplete="" value="">
            <button type="submit" class="govuk-button moj-search__button govuk-!-margin-bottom-0" data-module="govuk-button">
              Search
            </button>
          </div>

        </div>
      </form>

      <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-0" id="clear-search-wrapper" style="display: none;">
        <a class="govuk-link govuk-link--no-visited-state" href="#" id="clear-search-link">Clear search</a>
      </p>
    </div>

    <p class="govuk-body" id="results-count"></p>

    <p class="govuk-body" id="sorted-by-text"><span class="govuk-!-font-weight-bold">Sorted by:</span> Victims first, Last name (A to Z)</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-6" id="results-divider">

    <div id="victims-container" style="display: none;">
      <div class="victims-page">
        {% for record in victimRecords %}
        {% if record.surname == 'PALMER' %}
        {# Insert session-data record (PHILLIPS) before PALMER, maintaining sort order #}
        <div class="govuk-!-margin-bottom-9">
          {% if data['onboardedStatus'] == 'Yes' %}
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a href="/v60/victim?success=no" class="govuk-link govuk-link--no-visited-state">{{ data['victimSurname'] | upper }}, {{ data['victimForename'] }}</a>
          </h2>
          {% else %}
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">{{ data['victimSurname'] | upper }}, {{ data['victimForename'] }}</h2>
          {% endif %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['victimDateOfBirth'] }} ({{ data['victimAge'] }} years old)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Case reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['caseUrn'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Lead defendant
              </dt>
              <dd class="govuk-summary-list__value">
                WRIGHT, Nathan
              </dd>
            </div>
            <div class="govuk-summary-list__row" style="display: none;">
              <dt class="govuk-summary-list__key">
                Victim
              </dt>
              <dd class="govuk-summary-list__value">
                Yes
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                CPS area
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['area'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service lead
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['onboardedStatus'] == 'Yes' %}
                  {% if data['serviceLead'] == 'Not aligned' %}
                    Not aligned
                  {% else %}
                    {{ data['serviceLead'] or data['service'] or 'Universal' }}
                  {% endif %}
                {% else %}
                  Not onboarded
                {% endif %}
              </dd>
              {% if data['onboardedStatus'] == 'Yes' %}
              <dd class="govuk-summary-list__actions">
                <a href="/v60/change-service" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> service lead</span></a>
              </dd>
              {% elif data['onboardedStatus'] != 'Yes' %}
              <dd class="govuk-summary-list__actions">
                <a href="/v60/onb/service-lead?detailChange=no" class="govuk-link">Onboard<span class="govuk-visually-hidden"> {{ data['victimSurname'] | upper }}, {{ data['victimForename'] }}</span></a>
              </dd>
              {% endif %}
            </div>
            {% if data['onboardedStatus'] == 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Victim liaison officer
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['vlo'] or "Unassigned" }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="/v60/vlo">Change<span class="govuk-visually-hidden"> vlo</span></a>
              </dd>
            </div>
            {% endif %}
          </dl>
        </div>
        {% endif %}
        <div class="govuk-!-margin-bottom-9">
          {% if record.onboarded %}
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a href="#" class="govuk-link govuk-link--no-visited-state">{{ record.surname }}, {{ record.forename }}</a>
          </h2>
          {% else %}
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
            {{ record.surname }}, {{ record.forename }}
          </h2>
          {% endif %}
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ record.dob }} ({{ record.dob | ageFromDob }} years old)
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Case reference
              </dt>
              <dd class="govuk-summary-list__value">
                {{ record.caseRef }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Lead defendant
              </dt>
              <dd class="govuk-summary-list__value">
                {{ record.leadDefendant }}
              </dd>
            </div>
            <div class="govuk-summary-list__row"{% if record.victim == 'Yes' %} style="display: none;"{% endif %}>
              <dt class="govuk-summary-list__key">
                Victim
              </dt>
              <dd class="govuk-summary-list__value">
                {{ record.victim }}
              </dd>
            </div>
            {% if record.area %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                CPS area
              </dt>
              <dd class="govuk-summary-list__value">
                {{ record.area }}
              </dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Service lead
              </dt>
              <dd class="govuk-summary-list__value">
                {{ record.service }}
              </dd>
              {% if record.service in ['Universal', 'Enhanced', 'RASSO'] %}
              <dd class="govuk-summary-list__actions">
                <a href="#" class="govuk-link govuk-link--no-visited-state">Change<span class="govuk-visually-hidden"> service lead for {{ record.surname }}, {{ record.forename }}</span></a>
              </dd>
              {% elif not record.onboarded %}
              <dd class="govuk-summary-list__actions">
                <a href="#" class="govuk-link">Onboard<span class="govuk-visually-hidden"> {{ record.surname }}, {{ record.forename }}</span></a>
              </dd>
              {% endif %}
            </div>
            {% if record.onboarded %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Victim liaison officer
              </dt>
              <dd class="govuk-summary-list__value">
                {{ record.vlo }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> vlo</span></a>
              </dd>
            </div>
            {% endif %}
          </dl>
        </div>
        {% endfor %}
      </div>
    </div>

    <nav class="govuk-pagination" aria-label="Pagination">
      <div class="govuk-pagination__prev" style="display: none;">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev" id="pagination-prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">
            Previous<span class="govuk-visually-hidden"> page</span>
          </span>
        </a>
      </div>
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page" data-page="1">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" data-page="2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3" data-page="3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next" id="pagination-next" data-page="2">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg>
        </a>
      </div>
    </nav>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script>
  // Clear saved filter state so page always shows all filters fresh
  try { localStorage.removeItem('vca-victims-filters'); } catch(e) {}
</script>
<script src="/public/javascripts/delivery/shared/filter-data.js"></script>
<script src="/public/javascripts/delivery/shared/pagination.js"></script>
<script src="/public/javascripts/delivery/shared/victims-pagination.js"></script>
<script src="/public/javascripts/delivery/shared/victims.js"></script>
<script src="/public/javascripts/delivery/shared/victims-autocomplete.js"></script>
<script>
  // Override shared JS: show all filter sections at all times (no radio toggling)
  (function() {
    var sections = ['case-reference-section', 'vlo-only-form', 'service-area-form'];
    sections.forEach(function(id) {
      var el = document.getElementById(id);
      if (el) el.style.display = '';
    });

    // Default: select THOMPSON, Sarah (you) VLO checkbox
    var defaultVlo = document.getElementById('service-area-vlo-1');
    if (defaultVlo && !defaultVlo.checked) {
      defaultVlo.checked = true;
    }

    // Mark search as submitted so filters apply without needing a radio selection
    searchFormSubmitted = true;
    // Prevent scroll during initial setup
    initialSetupComplete = false;
    // Re-apply filters now that searchFormSubmitted is set
    if (window.applyVictimFilters) applyVictimFilters();
    // Ensure all results show (override shared JS hiding when no filters) and hide non-victims
    ensureResultsVisible();
    // Render chips for the pre-selected VLO
    if (window.renderServiceAreaVloChips) renderServiceAreaVloChips();
    // Re-enable scroll for subsequent interactions
    initialSetupComplete = true;

    // Always show victims container and pagination (show all when no filters)
    function ensureResultsVisible() {
      var victimContainer = document.getElementById('victims-container');
      var paginationNav = document.querySelector('nav.govuk-pagination');
      if (victimContainer) victimContainer.style.display = '';
      if (paginationNav) paginationNav.style.display = '';
      // If no filters are active, show all records
      var hasActiveFilters = document.querySelectorAll('.service-area-vlo-checkbox:checked').length > 0 ||
                             document.querySelectorAll('.service-checkbox:checked').length > 0 ||
                             document.querySelectorAll('.area-checkbox:checked').length > 0;
      var dobDay = document.getElementById('dob-search-day');
      var dobMonth = document.getElementById('dob-search-month');
      var dobYear = document.getElementById('dob-search-year');
      var hasDob = (dobDay && dobDay.value) || (dobMonth && dobMonth.value) || (dobYear && dobYear.value);
      if (!hasActiveFilters && !hasDob) {
        document.querySelectorAll('.govuk-summary-list').forEach(function(record) {
          record.setAttribute('data-filtered', 'visible');
          record.style.display = '';
          var parentWrapper = record.parentElement;
          if (parentWrapper && parentWrapper.classList.contains('govuk-!-margin-bottom-9')) {
            parentWrapper.style.display = '';
          }
        });
        if (window.recalculatePagination) recalculatePagination();
      }
      // Always hide non-victims unless "Show non-victims" is checked
      applyServiceLeadFilter();
      applyNonVictimFilter();
    }
    window.ensureResultsVisible = ensureResultsVisible;

    // Apply non-victim filter: hide records where Victim = "No" unless checkbox is checked
    function applyNonVictimFilter() {
      var showNonVictims = document.querySelector('.non-victim-checkbox:checked');
      document.querySelectorAll('.govuk-summary-list').forEach(function(record) {
        var rows = record.querySelectorAll('.govuk-summary-list__row');
        for (var i = 0; i < rows.length; i++) {
          var keyEl = rows[i].querySelector('.govuk-summary-list__key');
          if (keyEl && keyEl.textContent.trim() === 'Victim') {
            var valueEl = rows[i].querySelector('.govuk-summary-list__value');
            var victimValue = valueEl ? valueEl.textContent.trim() : '';
            if (victimValue === 'No' && !showNonVictims) {
              record.style.display = 'none';
              record.setAttribute('data-filtered', 'hidden');
              var parentWrapper = record.parentElement;
              if (parentWrapper && parentWrapper.classList.contains('govuk-!-margin-bottom-9')) {
                parentWrapper.style.display = 'none';
              }
            }
            break;
          }
        }
      });
      if (window.recalculatePagination) recalculatePagination();
    }
    window.applyNonVictimFilter = applyNonVictimFilter;

    // Apply Service lead filter using .service-checkbox checkboxes
    function applyServiceLeadFilter() {
      var selectedServices = Array.from(document.querySelectorAll('.service-checkbox:checked'))
        .map(function(cb) { return cb.value; });
      if (selectedServices.length === 0) return;
      document.querySelectorAll('.govuk-summary-list').forEach(function(record) {
        // Skip already-hidden records
        if (record.getAttribute('data-filtered') === 'hidden') return;
        var rows = record.querySelectorAll('.govuk-summary-list__row');
        var serviceValue = '';
        for (var i = 0; i < rows.length; i++) {
          var keyEl = rows[i].querySelector('.govuk-summary-list__key');
          if (keyEl && keyEl.textContent.trim() === 'Service lead') {
            var valueEl = rows[i].querySelector('.govuk-summary-list__value');
            serviceValue = valueEl ? valueEl.textContent.trim() : '';
            break;
          }
        }
        var matches = selectedServices.some(function(val) {
          if (val === 'universal') return serviceValue === 'Universal';
          if (val === 'enhanced') return serviceValue === 'Enhanced';
          if (val === 'rasso') return serviceValue === 'RASSO';
          if (val === 'none') return serviceValue === 'Not aligned';
          if (val === 'not-onboarded') return serviceValue === 'Not onboarded';
          return false;
        });
        if (!matches) {
          record.style.display = 'none';
          record.setAttribute('data-filtered', 'hidden');
          var parentWrapper = record.parentElement;
          if (parentWrapper && parentWrapper.classList.contains('govuk-!-margin-bottom-9')) {
            parentWrapper.style.display = 'none';
          }
        }
      });
      if (window.recalculatePagination) recalculatePagination();
    }
    window.applyServiceLeadFilter = applyServiceLeadFilter;

    // Single Search button triggers both forms' logic
    var applyBtn = document.getElementById('apply-filters-button');
    if (applyBtn) {
      applyBtn.addEventListener('click', function() {
        initialSetupComplete = false;
        searchFormSubmitted = true;
        if (window.applyVictimFilters) applyVictimFilters();
        applyServiceLeadFilter();
        if (window.applyVictimNameDobSearch) applyVictimNameDobSearch();
        if (window.saveFiltersToStorage) saveFiltersToStorage();
        ensureResultsVisible();
        // Show clear link
        var clearWrapper = document.getElementById('clear-search-filters-wrapper');
        if (clearWrapper) clearWrapper.style.display = '';
        // Update selected filters display
        renderSelectedFilters();
        initialSetupComplete = true;
      });
    }

    // Store references to original chip renderers
    var origRenderVloChips = window.renderServiceAreaVloChips;
    var origRenderAreaChips = window.renderAreaChips;
    var isRenderingSelectedFilters = false;

    // Render selected filters chips
    function renderSelectedFilters() {
      if (isRenderingSelectedFilters) return;
      isRenderingSelectedFilters = true;
      var container = document.getElementById('selected-filters-chips');
      var heading = document.getElementById('selected-filters-heading');
      var clearWrapper = document.getElementById('clear-search-filters-wrapper');
      if (!container) { isRenderingSelectedFilters = false; return; }

      container.innerHTML = '';

      // Collect chips by category
      var vloChips = [];
      document.querySelectorAll('.service-area-vlo-checkbox:checked').forEach(function(cb) {
        vloChips.push({ label: cb.getAttribute('data-label'), input: cb });
      });

      var serviceChips = [];
      document.querySelectorAll('.service-checkbox:checked').forEach(function(cb) {
        serviceChips.push({ label: cb.getAttribute('data-label'), input: cb });
      });

      var areaChips = [];
      document.querySelectorAll('.area-checkbox:checked').forEach(function(cb) {
        areaChips.push({ label: cb.getAttribute('data-label'), input: cb });
      });

      var dobChips = [];
      var dobDay = document.getElementById('dob-search-day');
      var dobMonth = document.getElementById('dob-search-month');
      var dobYear = document.getElementById('dob-search-year');
      var dobParts = [];
      if (dobDay && dobDay.value) dobParts.push(dobDay.value);
      if (dobMonth && dobMonth.value) dobParts.push(dobMonth.value);
      if (dobYear && dobYear.value) dobParts.push(dobYear.value);
      if (dobParts.length > 0) {
        dobChips.push({ label: dobParts.join('/'), input: null, type: 'dob' });
      }

      var totalChips = vloChips.length + serviceChips.length + areaChips.length + dobChips.length;

      // Update heading
      if (heading) {
        if (totalChips > 0) {
          if (heading.tagName !== 'H2') {
            var h2 = document.createElement('h2');
            h2.id = 'selected-filters-heading';
            h2.className = 'govuk-heading-m govuk-!-margin-bottom-1';
            h2.textContent = 'Selected filters';
            heading.parentNode.replaceChild(h2, heading);
          } else {
            heading.textContent = 'Selected filters';
          }
          if (clearWrapper) clearWrapper.style.display = '';
        } else {
          if (heading.tagName !== 'P') {
            var p = document.createElement('p');
            p.id = 'selected-filters-heading';
            p.className = 'govuk-body';
            p.textContent = 'No filters selected';
            heading.parentNode.replaceChild(p, heading);
          } else {
            heading.textContent = 'No filters selected';
          }
          if (clearWrapper) clearWrapper.style.display = 'none';
        }
      }

      // Helper to create a sub-section with heading and chips
      function createSubSection(title, chips) {
        if (chips.length === 0) return;
        var subHeading = document.createElement('h3');
        subHeading.className = 'govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-3';
        subHeading.textContent = title;
        container.appendChild(subHeading);

        var ul = document.createElement('ul');
        ul.className = 'app-filter-tags govuk-!-margin-bottom-0';
        chips.forEach(function(chip) {
          var li = document.createElement('li');
          var btn = document.createElement('button');
          btn.type = 'button';
          btn.className = 'app-filter__tag';
          btn.textContent = chip.label;
          btn.addEventListener('click', function() {
            if (chip.input) {
              chip.input.checked = false;
              var changeEvent = new Event('change', { bubbles: true });
              chip.input.dispatchEvent(changeEvent);
            }
            if (chip.type === 'dob') {
              if (dobDay) dobDay.value = '';
              if (dobMonth) dobMonth.value = '';
              if (dobYear) dobYear.value = '';
            }
            searchFormSubmitted = true;
            if (window.applyVictimFilters) applyVictimFilters();
            if (window.saveFiltersToStorage) saveFiltersToStorage();
            ensureResultsVisible();
            renderSelectedFilters();
            if (origRenderVloChips) origRenderVloChips();
            if (origRenderAreaChips) origRenderAreaChips();
          });
          li.appendChild(btn);
          ul.appendChild(li);
        });
        container.appendChild(ul);
      }

      // Non-victims
      var nonVictimChips = [];
      document.querySelectorAll('.non-victim-checkbox:checked').forEach(function(cb) {
        nonVictimChips.push({ label: cb.getAttribute('data-label'), input: cb });
      });

      createSubSection('Victim liaison officer', vloChips);
      createSubSection('Service lead', serviceChips);
      createSubSection('CPS area', areaChips);
      createSubSection('Date of birth', dobChips);
      createSubSection('Non-victims', nonVictimChips);
      isRenderingSelectedFilters = false;
    }
    window.renderSelectedFilters = renderSelectedFilters;

    // Update selected filters immediately when any filter changes
    document.querySelectorAll('.service-area-vlo-checkbox, .service-checkbox, .area-checkbox, .non-victim-checkbox').forEach(function(cb) {
      cb.addEventListener('change', function() {
        renderSelectedFilters();
      });
    });
    ['dob-search-day', 'dob-search-month', 'dob-search-year'].forEach(function(id) {
      var input = document.getElementById(id);
      if (input) {
        input.addEventListener('input', function() {
          renderSelectedFilters();
        });
      }
    });

    // Observe inline chip containers for changes (autocomplete uses local function refs, not window)
    var vloChipsEl = document.getElementById('service-area-vlo-chips-container');
    var areaChipsEl = document.getElementById('area-chips-container');
    var chipObserver = new MutationObserver(function() {
      renderSelectedFilters();
    });
    if (vloChipsEl) chipObserver.observe(vloChipsEl, { childList: true });
    if (areaChipsEl) chipObserver.observe(areaChipsEl, { childList: true });

    // Override Clear filters to clear all left-hand column filters
    var clearBtn = document.getElementById('clear-search-filters');
    if (clearBtn) {
      // Remove existing listeners by cloning
      var newClearBtn = clearBtn.cloneNode(true);
      clearBtn.parentNode.replaceChild(newClearBtn, clearBtn);
      newClearBtn.addEventListener('click', function(e) {
        e.preventDefault();
        initialSetupComplete = false;
        // Uncheck all VLO checkboxes
        document.querySelectorAll('.service-area-vlo-checkbox').forEach(function(cb) { cb.checked = false; });
        // Uncheck all Service checkboxes
        document.querySelectorAll('.service-checkbox').forEach(function(cb) { cb.checked = false; });
        // Uncheck all Area checkboxes
        document.querySelectorAll('.area-checkbox').forEach(function(cb) { cb.checked = false; });
        // Uncheck non-victim checkbox
        document.querySelectorAll('.non-victim-checkbox').forEach(function(cb) { cb.checked = false; });
        // Clear DOB fields
        var dobDay = document.getElementById('dob-search-day');
        var dobMonth = document.getElementById('dob-search-month');
        var dobYear = document.getElementById('dob-search-year');
        if (dobDay) dobDay.value = '';
        if (dobMonth) dobMonth.value = '';
        if (dobYear) dobYear.value = '';
        // Clear autocomplete inputs
        var vloInput = document.querySelector('#service-area-vlo-autocomplete-input');
        if (vloInput) vloInput.value = '';
        var areaInput = document.querySelector('#area-autocomplete-input');
        if (areaInput) areaInput.value = '';
        // Clear inline chips
        if (vloChipsEl) vloChipsEl.innerHTML = '';
        if (areaChipsEl) areaChipsEl.innerHTML = '';
        // Re-apply filters and update UI
        searchFormSubmitted = true;
        if (window.applyVictimFilters) applyVictimFilters();
        if (window.saveFiltersToStorage) saveFiltersToStorage();
        ensureResultsVisible();
        renderSelectedFilters();
        initialSetupComplete = true;
      });
    }

    // Initial render of selected filters
    renderSelectedFilters();
  })();
</script>
<script>
  // Show success banner if URL has success params, then remove them
  (function() {
    var url = new URL(window.location.href);
    if (url.searchParams.get('success') === 'yes' && url.searchParams.get('successReason') === 'vlo-updated') {
      var banner = document.getElementById('vlo-success-banner');
      if (banner) {
        banner.style.display = 'block';
      }
      // Remove params from URL so banner doesn't show on back/refresh
      url.searchParams.delete('success');
      url.searchParams.delete('successReason');
      window.history.replaceState({}, document.title, url.pathname + url.search);
    }
  })();
</script>
{% endblock %}