{% extends "layouts/main.html" %}
{% set pageName="Log a communication" %}

{% block header %}
{% include "/v60/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v60/partials/identity-bar/index.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Log a communication</h1>

    <form method="post" novalidate>

      {# 1. Purpose of communication – textarea #}
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="purpose-of-communication">
          Purpose of communication
        </label>
        <textarea class="govuk-textarea" id="purpose-of-communication" name="purposeOfCommunication" rows="5">{{ data['purposeOfCommunication'] }}</textarea>
      </div>

      {# 2. Date of communication – date input #}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-communication-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Date of communication
          </legend>
          <div id="date-of-communication-hint" class="govuk-hint">
            For example, 27 3 2025
          </div>
          <div class="govuk-date-input" id="date-of-communication">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-communication-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-communication-day" name="dateOfCommunicationDay" type="text" inputmode="numeric" value="{{ data['dateOfCommunicationDay'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-communication-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-communication-month" name="dateOfCommunicationMonth" type="text" inputmode="numeric" value="{{ data['dateOfCommunicationMonth'] }}">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-communication-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-communication-year" name="dateOfCommunicationYear" type="text" inputmode="numeric" value="{{ data['dateOfCommunicationYear'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {# 3. Method of contact – radios #}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Method of contact
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="method-of-contact-phone" name="methodOfContact" type="radio" value="Phone" {{ checked('methodOfContact','Phone') }}>
              <label class="govuk-label govuk-radios__label" for="method-of-contact-phone">
                Phone
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="method-of-contact-email" name="methodOfContact" type="radio" value="Email" {{ checked('methodOfContact','Email') }}>
              <label class="govuk-label govuk-radios__label" for="method-of-contact-email">
                Email
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="method-of-contact-post" name="methodOfContact" type="radio" value="Post" {{ checked('methodOfContact','Post') }}>
              <label class="govuk-label govuk-radios__label" for="method-of-contact-post">
                Post
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="method-of-contact-in-person" name="methodOfContact" type="radio" value="In person" {{ checked('methodOfContact','In person') }}>
              <label class="govuk-label govuk-radios__label" for="method-of-contact-in-person">
                In person
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {# 4. Direction of communication – radios #}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Direction of communication
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="direction-inbound" name="directionOfCommunication" type="radio" value="Inbound" {{ checked('directionOfCommunication','Inbound') }}>
              <label class="govuk-label govuk-radios__label" for="direction-inbound">
                Inbound
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="direction-outbound" name="directionOfCommunication" type="radio" value="Outbound" {{ checked('directionOfCommunication','Outbound') }}>
              <label class="govuk-label govuk-radios__label" for="direction-outbound">
                Outbound
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {# 5. Individual – conditional radios #}
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Individual
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="individual-victim" name="individual" type="radio" value="Victim" {{ checked('individual','Victim') }}>
              <label class="govuk-label govuk-radios__label" for="individual-victim">
                Victim
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="individual-other" name="individual" type="radio" value="Other" data-aria-controls="conditional-individual-other" {{ checked('individual','Other') }}>
              <label class="govuk-label govuk-radios__label" for="individual-other">
                Other
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-individual-other">
              <div class="govuk-form-group">
                <label class="govuk-label" for="individual-other-name">
                  Name
                </label>
                <input class="govuk-input" id="individual-other-name" name="individualOtherName" type="text" value="{{ data['individualOtherName'] }}">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>
{% endblock %}