{% extends "layouts/main.html" %}
{% set pageName="Log a text message" %}

{% block header %}
{% include "/v60/partials/header/none-selected.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/v60/partials/identity-bar/index.html" %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form action="/v60/other/text-message-answer" method="post" accept-charset="UTF-8" id="myForm" name="myForm" onsubmit="return validateForm()">

            <h1 class="govuk-heading-l">Log a text message</h1>

            <div class="govuk-form-group" id="error-form-group-1">
                <label class="govuk-label govuk-label--m" for="other-text-message-date">
                    Date of text message
                </label>

                <div class="govuk-hint" id="other-text-message-date-hint">
                    Use the date picker or enter a date. For example, 17/05/2025
                </div>

                <div class="moj-datepicker" id="other-text-message-date-picker" data-module="moj-date-picker" data-excluded-days="">
        
                    <input type="text" class="govuk-input moj-js-datepicker-input" id="other-text-message-date"
                        name="otherTextMessageDate"
                        autocomplete="off"
                        aria-describedby="other-text-message-date-hint" />
                </div>
            </div>

            <div class="govuk-form-group" id="error-form-group-2">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="other-text-message-time-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Time of text message
                    </legend>

                    <div id="other-text-message-time-hint" class="govuk-hint">
                        Enter a time in 24-hour format. For example, 14:30
                    </div>

                    <div class="govuk-date-input" id="other-text-message-time">

                        <div class="govuk-date-input__item" style="margin-right: 10px;">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="other-text-message-hour">
                                    Hour
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-text-message-hour" name="otherTextMessageHour" type="text" inputmode="numeric">
                            </div>
                        </div>
                        <div class="govuk-date-input__item" style="margin-right: 10px;">
                            <span class="govuk-body">:</span>
                        </div>
                        
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="other-text-message-minutes">
                                    Minutes
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="other-text-message-minutes" name="otherTextMessageMinutes" type="text" inputmode="numeric">
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-3">
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Direction of text message
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios" id="other-text-type-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-text-message-type-outbound" name="otherTextMessageType" type="radio" value="Yes" aria-describedby="other-text-message-outbound-hint">
                            <label class="govuk-label govuk-radios__label" for="other-text-message-type-outbound">
                                Outbound
                            </label>
                            <div id="other-text-message-outbound-hint" class="govuk-hint govuk-radios__hint">
                                I sent a text message to them
                            </div>
                        </div>
                        
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-text-message-type-inbound" name="otherTextMessageType" type="radio" value="No" aria-describedby="other-text-message-inbound-hint">
                            <label class="govuk-label govuk-radios__label" for="other-text-message-type-inbound">
                                Inbound
                            </label>
                            <div id="other-text-message-inbound-hint" class="govuk-hint govuk-radios__hint">
                                They sent a text message to victim services
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-4">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Person contacted
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios" id="other-individual-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-individual-victim" name="otherIndividual" type="radio" value="Victim">
                            <label class="govuk-label govuk-radios__label" for="other-individual-victim">
                                Victim
                            </label>
                            <div id="other-individual-victim-hint" class="govuk-hint govuk-radios__hint">
                                {{ data['victimSurname'] | upper }}, {{ data['victimForename'] }}
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="other-individual-other" name="otherIndividual" type="radio" value="Other" data-aria-controls="conditional-other-individual">
                            <label class="govuk-label govuk-radios__label" for="other-individual-other">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-individual">
                            <div class="govuk-form-group" id="error-form-group-6">
                                <label class="govuk-label" for="other-individual-name">
                                    Name
                                </label>
                                <input class="govuk-input" id="other-individual-name" name="otherIndividualName" type="text">
                            </div>

                            <div class="govuk-form-group" id="error-form-group-7">
                                <label class="govuk-label" for="other-individual-role">
                                    Role
                                </label>
                                <input class="govuk-input" id="other-individual-role" name="otherIndividualRole" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group" id="error-form-group-5">
                <label class="govuk-label govuk-label--m" for="purpose-of-communication">
                    Purpose of text message
                </label>
                <textarea class="govuk-textarea" id="purpose-of-communication" name="purposeOfCommunication" rows="4"></textarea>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/delivery/shared/other/text-message.js"></script>
{% endblock %}
