{% block content %}
<p class="govuk-body">
    {{ data['victimForename'] }} {{ data['victimSurname'] }} has not yet been informed by the CPS about the {% if (data['pcdType'] == "dtc") %}decision to charge{% elif (data['pcdType'] == "nfa") %}no further action decision{% else %}pre-charge decision{% endif %}.
</p>

<a href="/delivery/wat2/pcd/draft/compose-letter?pcdStatus=draft-in-progress" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button">
    Draft a letter<span class="govuk-visually-hidden"> to inform about the decision to charge or no further action decision</span>
</a>

{% endblock %}