{% extends "layouts/main.html" %}

{% set pageName = "Email delivered" %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Email delivered to <br>{{ data['victimForename'] }} {{ data['victimSurname'] }}
      </h1>
    </div>

    <!-- <p class="govuk-body">
      The email was successfully delivered to the victim, {{ data['victimForename'] }} {{ data['victimSurname'] }} ({{ data['victimEmailAddress'] }}).
    </p> -->

    <p class="govuk-body">
      The information pack and Crest survey were also sent.
    </p>

    <h2 class="govuk-heading-m">Further information</h2>

    <p class="govuk-body">
      You can view a log of the delivered email on the 'Communications' tab of the victim's page, within the Victim Case Application.
    </p>

    <p class="govuk-body">
      The letter was automatically saved on CMS.
    </p>

    {% if (data['pmoc'] == "home-phone") or (data['pmoc'] == "mobile") %}

    {% if (data['callAttempt'] == "1") %}
    
    {% if (data['fumoc'] == "email") %}
    <a href="/delivery/vcl/victim-record?vclStatus=fu-email-after-call-1&notifyStatus=delivered&vclSent=yes&success=no&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    {% elif (data['attemptToContactAgain'] == "Email") %}
    <a href="/delivery/vcl/victim-record?vclStatus=email-after-call-attempt-1&notifyStatus=delivered&vclSent=yes&success=no&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    {% endif %}

    {% elif (data['callAttempt'] == "2") %}

    {% if (data['fumoc'] == "email") %}
    <a href="/delivery/vcl/victim-record?vclStatus=fu-email-after-call-2&notifyStatus=delivered&vclSent=yes&success=no&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    {% elif (data['attemptToContactAgain'] == "Email") %}
    <a href="/delivery/vcl/victim-record?vclStatus=email-after-call-attempt-2&notifyStatus=delivered&vclSent=yes&success=no&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>
    {% endif %}

    {% elif (data['callAttempt'] == "3") %}
    <a href="/delivery/vcl/victim-record?vclStatus=fu-email-after-call-3&notifyStatus=delivered&vclSent=yes&success=no&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% endif %}
    {% elif (data['pmoc'] == "email") %}

    <a href="/delivery/vcl/victim-record?vclStatus=email-delivered&notifyStatus=delivered&vclSent=yes&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    <!-- {% if (data['callAttempt'] == "") %}
    <a href="/delivery/vcl/victim-record?vclStatus=email-delivered&notifyStatus=delivered&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['callAttempt'] == "1") %}
    <a href="/delivery/vcl/victim-record?vclStatus=email-after-call-attempt-1&notifyStatus=delivered&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% elif (data['callAttempt'] == "2") %}
    <a href="/delivery/vcl/victim-record?vclStatus=email-after-call-attempt-2&notifyStatus=delivered&subTab=vcl#communications" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

    {% endif %} -->
    {% endif %}

  </div>
</div>
{% endblock %}