{% extends "layouts/main.html" %}

{% set pageName="Case locked" %}

{% set mainClasses = "govuk-main-wrapper-extra-padding-top" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">
            This case is locked
        </h1>
        <p class="govuk-body">
            We could not save the information you entered. To make an update, exit the case on CMS.
        </p>
        <p class="govuk-body">
            To view the victim's information, search for the URN and select the victim's name again.
        </p>
        <a href="/delivery/vcl/victim-record" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Continue
        </a>
    </div>
</div>
{% endblock %}