{% extends "layouts/main.html" %}

{% set pageName="Can't connect to the letter drafting tool" %}

{% block beforeContent %}
<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">
            Sorry, there is a problem
        </h1>
        <p class="govuk-body">
            We can't connect to the letter drafting tool right now.
        </p>
        <p class="govuk-body">
            Try again later.
        </p>
        <a href="javascript:window.history.back()" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Go back
        </a>
    </div>
</div>
{% endblock %}