{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{# Lets stylesheets target a single service version, e.g. .app-v60 #}
{% set bodyClasses = ("app-" + serviceVersion) if serviceVersion else "" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/icons/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>
{% endblock %}

{% block header %}
  <header class="govuk-header" data-module="govuk-header" style="background: var(--cps-color-theme)">
    <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="#" class="govuk-header__link govuk-header__link--homepage" style="background: var(--cps-color-theme)">
          <span class="" style="color: rgb(255, 255, 255); font-size: 28px; font-weight: bold;">CPS</span>
          <span data-expression="" class="" style="margin-left: 7px; color: rgb(255, 255, 255); font-size: 26px;">{{ serviceName }}</span>
        </a>
      </div>
    </div>
  </header>

  {% block govukServiceNavigation %}
    <div class="govuk-service-navigation"
      data-module="govuk-service-navigation">
      <div class="govuk-width-container govuk-service-navigation__inlining-container">
        <div class="govuk-service-navigation__container">
          <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
            <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
              Menu
            </button>
            <ul class="govuk-service-navigation__list" id="navigation">
              <li class="govuk-service-navigation__item">
                <a class="govuk-service-navigation__link" href="/v50/tasks">
                  Tasks
                </a>
              </li>
              <li class="govuk-service-navigation__item">
                <a class="govuk-service-navigation__link" href="/v50/victims">
                  Victims
                </a>
              </li>
            </ul>
          </nav>
          <nav class="govuk-language-navigation" aria-label="Report an issue and give feedback">
            <ul class="govuk-language-navigation__list">
              <li class="govuk-language-navigation__list-item" style="border-right: none">
                <a class="govuk-service-navigation__link" href="#">
                  Report an issue
                </a>
              </li>
              <li class="govuk-language-navigation__list-item">
                <a class="govuk-service-navigation__link" href="#">
                  Give feedback
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  {% endblock %}

{% endblock %}

{% block footer %}
<footer class="govuk-footer" style="border-top: 10px solid var(--cps-color-theme);">
  <div class="govuk-width-container">
    <h2 class="govuk-visually-hidden">About this website</h2>
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="#" id="accessibility-statement-link">Accessibility statement</a>
      </li>
    </ul>
    <ul class="govuk-footer__inline-list">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data?searchUrn" id="clear-data-link">Clear data</a>
      </li>
    </ul>
  </div>
</footer>

<script>
  (function() {
    var clearLink = document.getElementById('clear-data-link');
    if (clearLink) {
      clearLink.addEventListener('click', function() {
        try { localStorage.removeItem('vca-victims-filters'); } catch(e) {}
      });
    }
  })();
</script>
{% endblock %}